﻿@using CoinTradePros.Web.Helpers
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html class=" ">
<head>
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Coin Trade Pros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-128.png" sizes="128x128" />
    <link rel="shortcut icon" href="~/Content/img/icons/favicon.ico" type="image/x-icon" />    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->
    <!-- CORE CSS FRAMEWORK - START -->
    <link href="~/Content/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Styles/font-awesome.css" rel="stylesheet" />
    @*<link href="~/Content/Styles/Site.css" rel="stylesheet" />*@
    <link href="~/Content/Styles/cryptocoins.css" rel="stylesheet" />
    <link href="~/Content/Styles/cryptocoins-colors.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <!-- CORE CSS FRAMEWORK - END -->
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - START -->
    <link href="~/Content/assets/plugins/datatables/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/datatables/extensions/TableTools/css/dataTables.tableTools.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet" />
    <!-- HEADER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE CSS TEMPLATE - START -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/select2-bootstrap.css" rel="stylesheet" />
    <!-- CORE CSS TEMPLATE - END -->
    <link href="~/assets/css/toastr.css" rel="stylesheet" />
    @*<link href="~/Content/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />*@
   

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class=" ">
    <!-- START TOPBAR -->
    <div id="loading" style="display:none">
        <div id="spinner"></div>
    </div>
    <div class='page-topbar'>
        <div class='logo-area' style="padding: 30px; ">
        </div>
        <div class='quick-area'>
            <div class='pull-left'>
                <ul class="info-menu left-links list-inline list-unstyled">
                    <li class="sidebar-toggle-wrap">
                        <a href="#" data-toggle="sidebar" class="sidebar_toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                    
                    
                    @if (User.IsInRole("ProTrader"))
                    {
                        <li id="btnAlert" class="text-center btnAlerttopbar">

                            <a href="@Url.Action("SendAlert", "Home")" class="btn btn-sm btn-danger" data-title="Send an Alert!" title="" style="width: 35px; border-radius: 3px;">
                                <span class="fa fa-bolt"></span>
                            </a>
                        </li>
                    }

                    <li class="message-toggle-wrapper">
                        <a href="#" data-toggle="dropdown" class="toggle" id="messagenotifbtn">
                            <i class="fa fa-envelope"></i>
                            <span id="messagebadge" class="badge badge-accent hidden">0</span>
                        </a>
                        <ul class="dropdown-menu messages animated fadeIn">
                            <li class="list">
                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar" id="message_notification">
                                    @*<li class="unread status-available">
                                            <a href="javascript:;">
                                                <div class="user-img">
                                                    <img src="~/Content/data/profile/avatar-1.png" alt="user-image" class="img-circle img-inline">
                                                </div>
                                                <div>
                                                    <span class="name">
                                                        <strong>Clarine Vassar</strong>
                                                        <span class="time small">- 15 mins ago</span>
                                                        <span class="profile-status available pull-right"></span>
                                                    </span>
                                                    <span class="desc small">
                                                        Sometimes it takes a lifetime to win a battle.
                                                    </span>
                                                </div>
                                            </a>
                                        </li>*@

                                </ul>
                            </li>
                            <li class="external">
                                <a href="javascript:;">
                                    <span>Read All Messages</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="notify-toggle-wrapper">
                        <a href="#" data-toggle="dropdown" class="toggle">
                            <i class="fa fa-bell"></i>
                            <span class="badge badge-accent">3</span>
                        </a>
                        <ul class="dropdown-menu notifications animated fadeIn">
                            <li class="total">
                                <span class="small">
                                    You have <strong>3</strong> new notifications.
                                    <a href="javascript:;" class="pull-right">Mark all as Read</a>
                                </span>
                            </li>
                            <li class="list">
                                <ul class="dropdown-menu-list list-unstyled ps-scrollbar">
                                    <li class="unread available">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Server needs to reboot</strong>
                                                    <span class="time small">15 mins ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="unread away">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>45 new messages</strong>
                                                    <span class="time small">45 mins ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" busy">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Server IP Blocked</strong>
                                                    <span class="time small">1 hour ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" offline">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>10 Orders Shipped</strong>
                                                    <span class="time small">5 hours ago</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" offline">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>New Comment on blog</strong>
                                                    <span class="time small">Yesterday</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" available">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-check"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Great Speed Notify</strong>
                                                    <span class="time small">14th Mar</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class=" busy">
                                        <!-- available: success, warning, info, error -->
                                        <a href="javascript:;">
                                            <div class="notice-icon">
                                                <i class="fa fa-times"></i>
                                            </div>
                                            <div>
                                                <span class="name">
                                                    <strong>Team Meeting at 6PM</strong>
                                                    <span class="time small">16th Mar</span>
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="external">
                                <a href="javascript:;">
                                    <span>Read All Notifications</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class='pull-right'>
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile">
                        @if (Request.IsAuthenticated)
                        {
                            string avatarUrl = IdentityHelper.GetAvatarUrl(User);
                            <a href="#" data-toggle="dropdown" class="toggle">
                                <img src="@avatarUrl" alt="user-image" class="img-circle img-inline">
                                <span>@ViewBag.Name <i class="fa fa-angle-down"></i></span>
                            </a>
                        }
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href="@Url.Action("Index","Manage")">
                                    <i class="fa fa-wrench"></i>
                                    Settings
                                </a>
                            </li>
                            @*<li>
                                    <a href="@Url.Action("ResetPassword", "Account")">
                                        <i class="fas fa-lock"></i>
                                        Resetpassword
                                    </a>
                                </li>*@
                            <li>
                                <a href="#profile">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangePassword", "Manage")">
                                    <i class="fa fa-user"></i>
                                    changepassword
                                </a>
                            </li>
                            <li>
                                <a href="#help">
                                    <i class="fa fa-info"></i>
                                    Help
                                </a>
                            </li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {

                                @Html.AntiForgeryToken()
                                <li class="last" style="background-color: #217821">
                                    <button type="submit" style="border: none; color: white; background-color: transparent; margin-left: 15px; padding: 0; height: 37px;">
                                        <i class="fa fa-lock"></i>
                                        Logout
                                    </button>
                                </li>

                            }

                        </ul>
                    </li>
                    <li class="chat-toggle-wrapper">
                        <a href="#" data-toggle="chatbar" class="toggle_chat" id="chatbutton">
                            <i class="fa fa-comments"></i>
                            @*<span class="badge badge-accent">9</span>*@
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">
        <!-- SIDEBAR - START -->
        <div class="page-sidebar fixedscroll">
            <!-- MAIN MENU - START -->
            <div class="page-sidebar-wrapper" id="main-menu-wrapper">
                <!-- USER INFO - START -->
                <div class="profile-info row">
                    <div class="profile-image col-xs-4">
                        @if (Request.IsAuthenticated)
                        {
                            string avatarUrl = IdentityHelper.GetAvatarUrl(User);
                            <a href="/Manage/Index">
                                <img src="@avatarUrl" alt="Alternate Text" />
                            </a>
                        }

                    </div>
                    <div class="profile-details col-xs-8">
                        <h3>
                            <a href="/Manage/Index">@ViewBag.Name</a>
                            <!-- Available statuses: online, idle, busy, away and offline -->
                            <span class="profile-status online"></span>
                        </h3>
                        @*<p class="profile-title">Web Developer</p>*@
                    </div>
                </div>
                <!-- USER INFO - END -->
                <style>
                    .btn-alert {
                        padding: 7px 13px;
                    }
                </style>
                @if (User.IsInRole("ProTrader"))
                {
                    <div id="btnAlert" class="text-center">

                        <a href="@Url.Action("SendAlert", "Home")" class="btn btn-sm btn-danger btn-alert" data-title="Send an Alert!" title="" style="width: 35px; border-radius: 3px;">
                            <span class="fa fa-bolt"></span>
                        </a>
                    </div>
                }
                <ul class='wraplist'>
                    <li class="">
                        <a class="current" href="@Url.Action("Index","Users")" style="margin-top: 24px;">
                            <i class="fa fa-dashboard"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    @if (User.IsInRole("ProTrader") || User.IsInRole("Trader"))
                    {

                     

                        <li class="">
                            <a class="current" href="javascript:;">
                                <i class="fa fa-columns"></i>
                                <span class="title">Trades</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a class="current" href="@Url.Action("Create", "Trade")">New Trade</a>
                                </li>
                                <li>
                                    <a class="" href="@Url.Action("Index", "Trade")">My Trades</a>
                                </li>
                                <li>
                                    <a class="" href="@Url.Action("Index", "Exchange")">Import Trade</a>
                                </li>
                                @*<li>
                                    <a class="" href="@Url.Action("Tradestream", "Trade")">Tradestream</a>
                                </li>*@
                            </ul>
                        </li>



                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-envelope"></i>
                                <span class="title">Subcriptions</span>
                                <span class="arrow "></span>@*<span class="label label-accent">4</span>*@
                            </a>
                            <ul class="sub-menu">
                                @*<li>
                                        <a class="" href="@Url.Action("Index", "Pros")">Coaches</a>
                                    </li>*@
                                <li><a class="" href="@Url.Action("Subscriptions", "Subscription")">Subcriptions</a></li>
                                <li>
                                    @if (User.IsInRole("ProTrader"))
                                    {
                                        <a class="" href="@Url.Action("Subscribers", "Subscription")">Subcribers</a>
                                    }
                                </li>


                            </ul>
                        </li>



                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-random"></i>
                                <span class="title">Invoices</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    @if (User.IsInRole("ProTrader"))
                                    {
                                        <a href="@Url.Action("Subscribers", "Invoice", new { id = User.Identity.GetUserId() })">Subscribers Invoice</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Mine", "Invoice", new { id = User.Identity.GetUserId() })">Invoice</a>
                                    }
                                </li>
                            </ul>
                        </li>



                        <li class="">
                                <a href="javascript:;">
                                    <i class="fa fa-book"></i>
                                    <span class="title">Course</span>
                                    <span class="arrow "></span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a class="" href="@Url.Action("Index", "Course")">My Courses</a>
                                    </li>


                                </ul>

                            </li>
                    }
                    else
                    {
                        
                        <li class="">
                            <a class="" href="@Url.Action("Index", "Pros")">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Browse Coaches</span>
                            </a>
                        </li>

                      

                    }
                    @if (User.IsInRole("ProTrader"))
                    {

                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-area-chart"></i>
                                <span class="title">Sales Page</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a class="" href="@Url.Action("Index", "SalesPage"@*, (User.IsInRole("Admin") ? null : new { proTraderProfileId = User.Identity.GetUserId() })*@)">Manage</a>
                                </li>
                                <li>
                                    <a class="" href="@Url.Action("Stats", "SalesPage")">Stats</a>
                                </li>
                                <li>
                                    <a class="" href="@Url.Action("Promote", "SalesPage")">Promote</a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="">
                            <a href="javascript:;">
                                <i class="fa fa-gears"></i>
                                <span class="title">Admin</span>
                                <span class="arrow "></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a class="" href="@Url.Action("ShowPros", "Pros")">Manage Coaches</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <!-- MAIN MENU - END -->

        </div>
        <!--  SIDEBAR - END -->
        <!-- START CONTENT -->
        <div id="bodyContent">
            @RenderBody()
        </div>
        <!-- END CONTENT -->
        <div class="page-chatapi hideit" id="chat-bar">
        </div>
       

        <div class="chatapi-windows ">


        </div>
    </div>
    <!-- END CONTAINER -->
    <!-- LOAD FILES AT PAGE END FOR FASTER LOADING -->
    <!-- CORE JS FRAMEWORK - START -->
    <script src="~/Content/assets/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });
        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#EntryDateWrapper').datetimepicker();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ExitDateWrapper').datetimepicker();
        });
    </script>
    

    @*<script>window.jQuery || document.write('<script src="><\/script>');</script>*@
    <script src="~/Content/assets/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Custom/myAjax.min.js"></script>
    @*<script src="~/Content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>*@
    <script src="~/Content/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/viewport/viewportchecker.js" type="text/javascript"></script>
    <script src="~/Scripts/select2/select2.full.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/smoothness/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/Content/assets/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    @*<script src="~/Content/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.js"></script>*@
    <script src="~/Content/assets/plugins/datatables/extensions/Responsive/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/fastclick.min.js"></script>
<script src="~/assets/js/toastr.js"></script>



<script>
    $(document).ready(function() {
            
           
           
        $('#datatable').DataTable({
            "order": [[3, "desc"]]
        });
        $(".e1").select2({
            theme: 'bootstrap',

        });
        $("#manageCoachesTable").DataTable();
        $("#tb-subscribersinvoice").DataTable();
        
    })


</script>

<script>
    $(document).ready(function () {
       
        $('#showanswer').hide();
       
        var totalQuestion;
        $(".divs div").each(function (e) {
            totalQuestion = e;
            if (e != 0)
                $(this).hide();
           
        });
       
        var nextCount = 1;
        var qno = 1;
        $('.questionNo').text("Qestion#" + qno);
        
        $("#next").click(function () {
          
            if ($("input[type='radio']").is(":checked") == true) {
                qno++;
                $('.questionNo').text("Qestion#" + qno);
                var d = nextCount / totalQuestion * 115;
                $('.progress-bar-striped').css('width', d + '%');

                nextCount++;
                if (nextCount == totalQuestion) {
                    $("#shwnext").hide();
                    $("#chkans").show();
                }

                if ($(".divs div:visible").next().length != 0)
                    $(".divs div:visible").next().show().prev().hide();
                else {
                    $(".divs div:visible").hide();
                    $(".divs div:first").show();
                }

                $("input[type='radio']").prop('checked', false);
                return false;
            } else {
                toastr.error('Kindly check option', '', { timeOut: 2000 });
            }
        });

       
        //$("#prev").click(function () {
           
        //    if ($(".divs div:visible").prev().length != 0)
        //        $(".divs div:visible").prev().show().next().hide();
        //    else {
        //        $(".divs div:visible").hide();
        //        $(".divs div:last").show();
        //    }
        //    return false;
        //});
    });
    var showAnswer = function () {
        $('#showanswer').show();
    }
    var hideAnswer = function () {
        $('#showanswer').hide();
    }
</script>
<script>
    
    $(function () {
        // this will get the full URL at the address bar
        var url = window.location.href;

        // passes on every "a" tag
        $("#main-menu-wrapper a").each(function () {
            // checks if its the same on the address bar
            if (url == (this.href)) {
                $(this).closest("li").addClass("active");
                //for making parent of submenu active
                $(this).closest("li").parent().parent().addClass("active");
            }
        });
    });
</script>
    <!-- CORE JS FRAMEWORK - END -->
    <!-- CHAT JS - START -->
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>*@
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/Chat/chat.js"></script>
    <!-- CHAT JS - END -->
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - START -->
    @*<script src="~/Content/assets/plugins/jvectormap/jquery-jvectormap-2.0.1.min.js" type="text/javascript"></script>*@
    @*<script src="~/Content/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>*@
    @*<script src="~/Content/assets/js/dashboard.js" type="text/javascript"></script>*@
    @*<script src="~/Content/assets/plugins/echarts/echarts-custom-for-dashboard.js" type="text/javascript"></script>*@
    <!-- OTHER SCRIPTS INCLUDED ON THIS PAGE - END -->
    <!-- CORE TEMPLATE JS - START -->
    <script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS - END -->
    <!-- General section box modal start -->
    <div class="modal" id="section-settings" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog animated bounceInDown">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Section Settings</h4>
                </div>
                <div class="modal-body">
                    Body goes here...

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <button class="btn btn-success" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</body>
</html>
