﻿@using CoinTradePros.Payments

<footer class="footer">

    <div class="row">
        <div class="col-md-2 col-sm-2">

            <div class="logo">
                <img src="/content/img/whitelogo.png" alt="CoinTradePros White Logo" height="30" />
            </div>

            @{
                CurrencyConverter convertor = new CurrencyConverter();
                decimal btcPrice = convertor.GetUsdBtcPrice();
                decimal ltcPrice = convertor.GetUsdLtcPrice();
                decimal ethPrice = convertor.GetUsdEthPrice();
            }
            <div class="coin-row">
                <span class="badge badge-warning">
                    <i class="cc BTC-alt"></i>
                    @($"{btcPrice:C}")
                </span>
            </div>
            <div class="coin-row">
                <span class="badge badge-primary">
                    <i class="cc ETH-alt"></i>
                    @($"{ethPrice:C}")
                </span>
            </div>
            <div class="coin-row">
                <span class="badge badge-secondary">
                    <i class="cc LTC-alt"></i>
                    @($"{ltcPrice:C}")
                </span>
            </div>
        </div>
        <div class="col-md-10 col-sm-10">

            <div class="soc_icons_box">
                <ul class="footer-menu">
                    <li>@Html.ActionLink("Join Now", "Join", "Home")</li>
                    <li>@Html.ActionLink("Coach Pricing", "ProPricing", "Home")</li>
                    <li>@Html.ActionLink("Support", "Support", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "Questions", "Home")</li>
                    <li>@Html.ActionLink("Affiliates", "Index", "Affiliate")</li>
                    <li></li>
                </ul>
            </div>

            <div class="soc_icons_box">
                <ul class="soc_icons">
                    <li>
                        <a href="https://www.facebook.com/CoinTradePros/" class="fa fa-facebook"></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/CoinTradePros" class="fa fa-twitter"></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCfQkaBpeARYJTwA225N61jA" class="fa fa-youtube-play"></a>
                    </li>
                    <li>
                        <a href="https://discordapp.com/invite/xQhEgJj" class="fa fa-discord"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/cointradepros" class="fa fa-linkedin"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="copyrights">
        <p class="text-center">&copy; @DateTime.Now.Year - CoinTradePros.com. All rights reserved.
    </div>

</footer>

<style>
    .footer {
        padding: 20px;
        height: auto;
    }

    .logo {
        padding: 8px;
    }

    .coin-row {
        display: block;
        padding: 4px 10px;
        font-size: 16px;
    }

    .soc_icons_box {
        width: 100%;
        text-align: center;
    }

    .soc_icons_box ul {
        display: -moz-inline-stack;
        display: inline-block;
    }

    .soc_icons_box li {
        float: left;
        list-style: none;
        padding: 0;
    }

    .soc_icons li a {
        font-size: 20px;
        margin: 7px;
        display: inline-block;
        cursor: pointer;
        margin: 15px;
        width: 40px;
        height: 40px;
        border-radius: 50% !important;
        text-align: center;
        position: relative;
        text-decoration: none;
    }

    .soc_icons li a:hover {
        opacity: 0.6;
        color: white;
    }

    .soc_icons li a.fa {
        color: #fff;
    }

    .soc_icons li a.fa:after {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        box-sizing: content-box;
    }

    .soc_icons li a.fa:before {
        display: block;
        line-height: 36px;
    }

    .fa-twitter {
        background: #55ACEE;
        border: solid 2px #55ACEE;
    }

    .fa-discord {
        background: #7082e1;
        border: solid 2px #7082e1;
    }

    .fa-youtube-play {
        background: red;
        border: solid 2px red;
    }

    .fa-linkedin {
        background: #0274b3;
        border: solid 2px #0274b3;
    }

    .fa-facebook {
        background: #3A5795;
        border: solid 2px #3A5795;
    }

    .copyrights {
        width: 100%;
        text-align: center;
    }

    .copyrights p {
        color: #92999E;
    }
</style>