﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">
<meta http-equiv="Link" content="/preload.html" rel="prefetch">
<link rel="icon" type="image/png" href="~/content/img/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="~/content/img/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="~/content/img/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="~/content/img/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="~/content/img/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="CoinTradePros"/>
<title>@ViewBag.Title - CoinTradePros.com</title>