﻿<html>
<head>
    @Html.Partial("_HeadContent")
    @Styles.Render("~/Content/css")
    @Html.Partial("_ScriptsPartial")
</head>
<body id="app">
    @* Ajax Loader *@
    <div id="loading" style="display:none">
        <div id="spinner"></div>
    </div>
    @* Ajax Loader *@
    <nav class="navbar navbar-expand-md navbar-fixed-top">
        @Html.Partial("_NavPartial")
    </nav>
    <div class="container body-content mainContent" id="bodyContent">
        @*<h1>@ViewBag.Title</h1>*@
        @RenderBody()
    </div>
    
    @Html.Partial("_FooterPartial")
    @RenderSection("scripts", false)



    <script language="javascript" type="text/javascript" src="/signalr/hubs"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-102754056-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>
@*<script>
    $(function () {

        var contentShell = $('#bodyContent');
        var History = window.History, State = History.getState();

        $(".ajaxLink").on('click', function (e) {
            debugger
            e.preventDefault();
            var url = $(this).data('href');
            var title = $(this).data('title');
            History.pushState(null, title, url);
        });

        History.Adapter.bind(window, 'statechange', function () {
            State = History.getState();
            if (State.url === '') {
                return;
            }
            navigateToURL(State.url);
        });

        function navigateToURL(url) {
            // $('#bodyContent').showLoading();
            $.ajax({
                type: "GET",
                url: url,
                dataType: "html",

                success: function (data, status, xhr) {
                    contentShell.hideLoading();
                    $("#loading").css("display", "none");
                    contentShell.html(data);
                    //   $('#bodyContent').fadeIn(1000);
                },
                beforeSend: function () {
                    $("#loading").css("display", "block");
                },

                error: function (xhr, status, error) {
                    //  contentShell.hideLoading();
                    alert("Error loading Page.");
                }
            });
        }

        $('.showModal').click(function () {
            //  $('#bodyContent').showLoading();
            var header = $(this).data('title')
            $.ajax({
                type: "GET",
                url: $(this).data('href'),
                dataType: "html",
                success: function (data, status, xhr) {
                    contentShell.hideLoading();
                    debugger
                    $("#loading").css("display", "none");
                    $('.modal-body').html(data);
                    $('#genericModal').modal('show');
                    $('.modal-header').text(header);
                    $.validator.unobtrusive.parse("form");
                },
                beforeSend: function () {
                    $("#loading").css("display", "block");
                },
                error: function (xhr, status, error) {
                    contentShell.hideLoading();
                    alert("Error loading Page.");
                }
            });

        })
    });
</script>*@