﻿@using CoinTradePros.Web.Helpers
@using Microsoft.AspNet.Identity
<style>
    #genericModal {
        padding-top: 50px;
    }

    #registerlink {
          color: #fff;
    background-color: #3097D1;
    border-color: #3097D1;
        
    }
    /*#registerlink:hover {
        background-color: #5cb85c;
        color: #fff;
    }*/
    #loginlink {
        color: #111;
    background-color: #bec8d0;
    border-color: #b6c2cb;

    }
</style>
@if (Request.IsAuthenticated)
{
    string avatarUrl = IdentityHelper.GetAvatarUrl(User);
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li style="padding-right: 10px;">
                <a href="@Url.Action("Index", "Manage")" title="Manage your settings.">
                    <img src="@avatarUrl" class="card-profile-img avatar-sm" alt="Hello @User.Identity.GetUserName()" />
                </a>
            </li>
            <li>
                <button type="submit" class="btn btn-sm btn-secondary" style="margin-top: 10px;">
                    <span class="fa fa-sign-out pull-right" style="padding-top: 4px;"></span>
                </button>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li style="margin-right: 10px;">
            @*<a id="registerlink" href="@Url.Action("Register", "Account")" class="btn btn-sm btn-primary">*@
            <a id="registerlink" role="button" model-title="Register" href=@Url.Action("Register", "Account") data-title="Sign-up" class="btn btn-md btn-success">
                <i class="fa fa-user-plus"></i>
                Register
            </a>
        </li>
        <li>
            @*<a id="loginlink" data-href="@Url.Action("Login", "Account")" data-title="Login" class="ajaxLink btn btn-sm btn-secondary" title="Log in">*@
            <a id="loginlink" model-title="Login" href=@Url.Action("Login", "Account") data-title="Login" class="btn btn-md btn-dark" title="Log in">
                <i class="fa fa-sign-in"></i>
                Log in
            </a>
        </li>
    </ul>
}
