﻿@using System.Security.Claims
@using CoinTradePros.Web.Helpers

<div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar_inverse rd-navbar-original rd-navbar--is-stuck">

        <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel">
                    <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand">
                        <a class="brand" href="@Url.Action("Index", "Home")">
                            <div class="brand__name">
                                <img height="30" src="/Content/img/sitelogo-300x47.png" class="custom-logo" alt="CoinTradePros" itemprop="logo"
                                     srcset="/Content/img/sitelogo.png 1604w, /Content/img/sitelogo-300x47.png 300w, /Content/img/sitelogo-768x120.png 768w, /Content/img/sitelogo-1024x160.png 1024w" sizes="100vw">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- RD Navbar Nav-->
                <div class="rd-navbar-nav-wrap toggle-original-elements">

                    @if (User.IsInRole("ProTrader"))
                    {
                        <a href="@Url.Action("SendAlert", "Home")" class="btn btn-sm btn-danger" title="Send an Alert!" style="width: 35px;">
                            <span class="fa fa-bolt"></span>
                        </a>
                    }

                    @Html.Partial("_LoginPartial")

                    <ul class="rd-navbar-nav">
                        @if (User.IsInRole("ProTrader") || User.IsInRole("Trader"))
                        {
                            <li class="rd-navbar--has-dropdown rd-navbar-submenu @Url.MakeActiveClass("trades")">
                                <a href="#" class="action-button" id="TradeItems">Trades</a><span class="rd-navbar-submenu-toggle"></span>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                    <li>
                                        <a href="@Url.Action("Create", "Trade")">New Trade</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Trade")">My Trades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Exchange")">Import Trades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Tradestream", "Trade")">Tradestream</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="rd-navbar--has-dropdown rd-navbar-submenu @Url.MakeActiveClass("subscriptions")">
                                <a href="#" class="action-button" id="SubscriptionItems">Subscriptions</a><span class="rd-navbar-submenu-toggle"></span>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                    <li>
                                        <a href="@Url.Action("Index", "Pros")">Coaches</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Subscriptions", "Subscription")">Suscriptions</a>
                                    </li>
                                    @if (User.IsInRole("ProTrader"))
                                    {
                                        <li>
                                            <a href="@Url.Action("Subscribers", "Subscription")">Subscribers</a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="action-button" href="@Url.Action("Index", "Pros")">Browse Coaches</a>
                            </li>
                        }

                        @if (User.IsInRole("ProTrader"))
                        {
                            <li class="rd-navbar--has-dropdown rd-navbar-submenu @Url.MakeActiveClass("trades")">
                                <a href="#" class="action-button" id="SalesPageItems">Sales Page</a><span class="rd-navbar-submenu-toggle"></span>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                    <li>
                                        <a href="@Url.Action("Index", "SalesPage")">Manage</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Stats", "SalesPage")">Stats</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Promote", "SalesPage")">Promote</a>
                                    </li>
                                </ul>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="rd-navbar--has-dropdown rd-navbar-submenu @Url.MakeActiveClass("Coaches")">
                                <a href="#" class="action-button" id="AdminItems">Admin</a><span class="rd-navbar-submenu-toggle"></span>
                                <!-- RD Navbar Dropdown-->
                                <ul class="rd-navbar-dropdown rd-navbar-open-right">
                                    <li>
                                        <a href="@Url.Action("ShowPros", "Pros")">Manage Coaches</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<link href="~/Content/Styles/menubar.css" rel="stylesheet">

<script>

    var time;

    function enterClass(obj) {
        $('.rd-navbar-submenu').removeClass('focus');
        $(obj).addClass('focus');
        time = $.now();
    }

    function leaveClass(obj) {
        setTimeout(function () {
            var now = $.now();
            if (now - time > 1000) {
                $(obj).removeClass('focus');
            }
        }, 1000);
    }

    function clickClass(obj) {
        $('.opened').removeClass('opened');
        $(obj).addClass('opened');
    }

    function resizeClass() {
        var width = $(window).width();

        if (width > 960) {
            $('nav').addClass('rd-navbar-static');
            $('nav').removeClass('rd-navbar-fixed');
            $('.rd-navbar-wrap').height($('.rd-navbar-main').height());
        }
        else {
            $('nav').addClass('rd-navbar-fixed');
            $('nav').removeClass('rd-navbar-static');
        }
    }

    $(document).ready(function () {

        resizeClass();

        $('.rd-navbar-toggle').click(function () {
            $(this).toggleClass('active');
            $('.toggle-original-elements').toggleClass('active');
        })

        $('.rd-navbar-submenu').mouseleave(function (e) {
            leaveClass(this);
        })

        $('.rd-navbar-submenu').mouseenter(function (e) {
            enterClass(this);
        })

        $('.rd-navbar-submenu').click(function (e) {
            clickClass(this);
        })
    });

    $(window).resize(function () {
        resizeClass();
    });

</script>