﻿@model CoinTradePros.Web.Models.ProfileDetailModel

@{
    string linktext = Model.ShowUrl ? Model.DetailUrl : Model.DisplayText;
    if (!string.IsNullOrEmpty(Model.DetailUrl))
    {
        <a href="@Model.DetailUrl" title="@Model.DisplayText" style="margin-right: 15px;">
            @if (Model.ShowIconOnly || !Model.HideIcon)
            {
                <i class="fa @Model.IconName"></i>
            }
            @if (!Model.ShowIconOnly)
            {
                @linktext
            }
        </a>
    }
    else
    {
        // For simple text items, like a phone number.
        if (!Model.HideIcon)
        {
            <i class="fa @Model.IconName"></i>
        }
        @Model.DisplayText
    }
}