﻿@using CoinTradePros.Web.Helpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_HeadContent")
    @Styles.Render("~/Content/css")
    @Html.Partial("_ScriptsPartial")
    <link href="~/Content/Styles/menubar.css" rel="stylesheet">
    <style>
        .rd-navbar-static .rd-navbar-nav {
            flex-grow: 0.7;
        }
        #usefuldes {
            margin-top: 8px;
        }
        #usefulink {
            padding-left: 50px;
        }
        .rd-navbar-static {
            background-color: transparent;
        }
        #linksdesc {
            padding-top: 10px;
            

        }
        #linksdesc p {
            font-size: 15.7px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-fixed-top">
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar_inverse rd-navbar-original rd-navbar--is-stuck">

            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand">
                            <a class="brand" href="@Url.Action("Index", "Home")">
                                <div class="brand__name">
                                    <img height="30" src="/Content/img/sitelogo-300x47.png" class="custom-logo" alt="CoinTradePros" itemprop="logo"
                                         srcset="/Content/img/sitelogo.png 1604w, /Content/img/sitelogo-300x47.png 300w, /Content/img/sitelogo-768x120.png 768w, /Content/img/sitelogo-1024x160.png 1024w" sizes="100vw">
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- RD Navbar Nav-->
                    <div class="rd-navbar-nav-wrap toggle-original-elements">


                       

                        <ul class="rd-navbar-nav">
                           
                            <h5 id="usefulink">Useful Links</h5>
                            
                            <p id="usefuldes">Use these Links to Save money</p>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            
                
            <nav class="nav flex-column">
                <div class="row">
                <div class="col-lg-2 col-md-2 col-xs-2">
                    <a class="nav-link" href="#">Link 1</a>
                    <a class="nav-link" href="#">Link 2</a>
                    <a class="nav-link" href="#">Link 3</a>
                    <a class="nav-link" href="#">Link 4</a>
                    <a class="nav-link" href="#">Link 5</a>
                    <a class="nav-link" href="#">Link 6</a>
                    <a class="nav-link" href="#">Link 7</a>
                    <a class="nav-link" href="#">Link 8</a>
                    <a class="nav-link" href="#">Link 9</a>
                    <a class="nav-link" href="#">Link 10</a>
                    <a class="nav-link" href="#">Link 11</a>
                </div>
                <div class="col-lg-10 col-md-10 col-xs-10" id="linksdesc">
                    <p>description 1</p>
                    <p>description 2</p>
                    <p>description 3</p>
                    <p>description 4</p>
                    <p>description 5</p>
                    <p>description 6</p>
                    <p>description 7</p>
                    <p>description 8</p>
                    <p>description 9</p>
                    <p>description 10</p>
                    <p>description 11</p>
                </div>
                </div>
            </nav>
                
                
            
        </div>
        
    </div>
</div>

<script>

    var time;

    function enterClass(obj) {
        $('.rd-navbar-submenu').removeClass('focus');
        $(obj).addClass('focus');
        time = $.now();
    }

    function leaveClass(obj) {
        setTimeout(function () {
            var now = $.now();
            if (now - time > 1000) {
                $(obj).removeClass('focus');
            }
        }, 1000);
    }

    function clickClass(obj) {
        $('.opened').removeClass('opened');
        $(obj).addClass('opened');
    }

    function resizeClass() {
        var width = $(window).width();

        if (width > 960) {
            $('nav').addClass('rd-navbar-static');
            $('nav').removeClass('rd-navbar-fixed');
            $('.rd-navbar-wrap').height($('.rd-navbar-main').height());
        }
        else {
            $('nav').addClass('rd-navbar-fixed');
            $('nav').removeClass('rd-navbar-static');
        }
    }

    $(document).ready(function () {

        resizeClass();

        $('.rd-navbar-toggle').click(function () {
            $(this).toggleClass('active');
            $('.toggle-original-elements').toggleClass('active');
        })

        $('.rd-navbar-submenu').mouseleave(function (e) {
            leaveClass(this);
        })

        $('.rd-navbar-submenu').mouseenter(function (e) {
            enterClass(this);
        })

        $('.rd-navbar-submenu').click(function (e) {
            clickClass(this);
        })
    });

    $(window).resize(function () {
        resizeClass();
    });

</script>
</body>
</html>
