﻿@model IEnumerable<CoinTradePros.Web.Models.ChatBarViewModel>

<style>
    .btnAlertChat {
        padding-top: 15px;
    }
</style>
<div>
    <div class="search-bar">
        <input type="text" placeholder="Search" class="form-control">
    </div>
    <div class="chat-wrapper">

        <ul class="group-list list-unstyled">
            @if (User.IsInRole("ProTrader"))
            {
                <li id="btnAlert" class="text-center btnAlertChat">


                    <a href="@Url.Action("SendAlert", "Home")" class="btn btn-sm btn-danger" data-title="Send an Alert!" title="" style="width: 35px; border-radius: 3px;">

                        <span class="fa fa-bolt"></span>
                    </a>

                </li>
            }

        </ul>


        <h4 class="group-head">Contacts</h4>
        <ul class="contact-list">


                @{
                    foreach (var user in Model)
                    {



                        <li class="user-row " id='contacts-list-@user.UserName' data-user-id='@user.UserName'>
                            @if (!string.IsNullOrEmpty(user.ImageUrl))
                            {
                                <div class="user-img">
                                    <a href="#"><img src="@user.ImageUrl" /></a>
                                </div>
                            }
                            else
                            {
                                <div class="user-img">
                                    <a href="#"><img src="~/Content/img/blank_avatar.png" /></a>
                                </div>
                            }
                            
                            <div class="user-info">
                                <h4><a href="#">@user.Name</a></h4>
                                <span class="status available" data-status="available"> Available</span>
                            </div>
                            <div class="user-status available">
                                <i class="fa fa-circle"></i>
                            </div>
                        </li>


                }
            }

        </ul>
    </div>
</div>

@*<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>*@
