﻿@using CoinTradePros.BusinessObjects
@using System.Collections.Generic
@using CoinTradePros.Web.Models;
@model  ICollection<PrivateChatViewModel>




@foreach (var item in Model)
{

    <div class="chatmsg msg_@item.MessageStatus">
        <span class="name">
            @item.Name
        </span>
        <span class="text">
            @item.Message
        </span>
        <span class="ts">
            @item.Time
        </span>
    </div>
}


@*<script src="~/Content/assets/js/scripts.js" type="text/javascript"></script>*@
