﻿@using CoinTradePros.BusinessObjects
@using CoinTradePros.Interfaces.Messaging
@using CoinTradePros.Messaging.Core
@using CoinTradePros.Web.Helpers
@using Microsoft.AspNet.Identity
@{
    Layout =  "~/Views/Shared/_DashboardLayout.cshtml";
    if (ViewBag.SubscriptionMessage != null)
    {
        <p>@ViewBag.SubscriptionMessage</p>
    }
}
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row">
        @{
            Guid userId = IdentityHelper.GetCurrentUserId(User);
            TraderProfile profile = new TraderProfile();
            profile.LoadByUserId(userId);
            var subscriptions = SubscriptionCollection.GetUserSubscriptions(userId);


            if (subscriptions.Count == 0 && !User.IsInRole("ProTrader"))
            {
                <p>It looks like you don't have any Crypto Coaching subscriptions.</p>
                <a href="@Url.Action("Index", "Pros")" class="btn btn-success" title="Browse Coaches">
                    <i class="fa fa-group"></i>
                    Browse Coaches
                </a>
            }

            if (!MessageSettingsManager.HasReceiveSettings(User.Identity.GetUserId(), TransmitterType.Twilio))
            {
                <p>You have not setup your SMS trade alert number.</p>
                <a href="@Url.Action("AddPhoneNumber", "Manage")" class="btn btn-danger" title="Add Phone Number">
                    <i class="fa fa-bolt"></i>
                    Add SMS Alert Number
                </a>
            }
        }
    </section>
    
</section>

    