﻿@using CoinTradePros.Web.Models
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}


@model LoginViewModel


@* New Login Form *@
    <div class="row">
        <div class="col-md-8">
           
               
            <p> @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })</p>
               
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-sm-3 control-label" })
                        
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { placeholder = "User Name", @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { placeholder = "Password", @class = "text-danger" })
                            </div>
                        </div>
                        <div class="text-danger text-center">
                            <span id="LoginErrorMessage"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-md">Log In <i class="fa fa-sign-in"></i></button>
                                <a  class="btn btn-secondary btn-md" href="@Url.Action("ForgotPassword", "Account")" >Reset password</a>
                            </div>
                        </div>
                    
                    }
                </div>
           
        
        <div class="col-md-4 another-service">
            <div class="form-group">
                        
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
                        
                      
            </div>
        </div>
    </div>

    @* end login design *@

