﻿@model CoinTradePros.Web.Models.RegisterViewModel
<style>
    .btn-default.btn-on.active {
        background-color: #5BB75B;
        color: white;
    }

    .btn-default.btn-off.active {
        background-color: #DA4F49;
        color: white;
    }
</style>
<div class="row">

    <div class="col-md-12 text-center" id="imagediv">
    </div>
</div>
<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8 register-form">
        <p> @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })</p>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @*@Html.ValidationSummary("", new {@class = "text-danger"})*@
                <div class="row">
                    <div class="form-group col-md-6">
                        @*@Html.LabelFor(m => m.FirstName, new {@class = "col-form-label col-md-3"})*@
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "FirstName" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-md-6">
                        @*@Html.LabelFor(m => m.LastName, new {@class = "col-md-3 col-form-label"})*@
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "LastName" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        
                        @Html.TextBoxFor(m => m.Email, new { @class = "required email emailCheck form-control", @value = ViewBag.SubEmail, @placeholder = "Email" })
                        <div id="Email-error"></div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-3 col-form-label" })*@
                        @Html.TextBoxFor(m => m.UserName, new { @class = "required username usernameCheck form-control", @placeholder = "UserName" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-form-label" })*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-md-6">
                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 col-form-label" })*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h3>Choose Account</h3>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div id="paragraphdiv"></div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group row" id="accountButtons">
                            <div class="btn-group" id="status" data-toggle="buttons">
                                <label class="btn btn-default btn-on active" id="Trader">
                                    <input type="radio" name="SelectedRole[status]" value="Trader" checked="checked">Student
                                </label>
                                <label class="btn btn-default btn-off" id="ProTrader">
                                    <input type="radio" name="SelectedRole[status]" value="ProTrader">Coach
                                </label>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.SelectedRole, new { @style = "display:none;", id = "registertype" })
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-5"></div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-lg btn-success" value="Register" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-2"></div>
</div>

<script>
    $(Document).ready(
        function () {
            debugger;
            $("#Trader").click();
        }
        );
    $(document).ready(function () {

        $.validator.addMethod("emailCheck", function (value, element) {
            var response;
            $.ajax({
                type: "POST",
                url: '/Account/IsEmailExist?email=' + value,
                async: false,
                success: function (data) {
                    response = data;
                }
            });
            return response;

        }, 'Email already exist.');


        $.validator.addMethod("usernameCheck", function (value, element) {
            var response;
            $.ajax({
                type: "POST",
                url: '/Account/IsUsernameExist?username=' + value,
                async: false,
                success: function (data) {
                    response = data;
                }
            });
            return response;

        }, 'Username already exist.');

    });
    $("#Trader").click(function () {
        debugger;
        var parahtml = "<p>This free account lets your follow the public content offered by Crypto Coaches aod other Crypto Students on the site. Coaches offer packages with their own mix of features and pricing. Those packages have subscription rates they control.</p>";
        $("#paragraphdiv").html(parahtml);
        var imghtml = "<img src='/Content/img/graduate.png' style='height: 200px;' alt='Click here to become a Crypto Trading Student'/>";
        $("#imagediv").html(imghtml);
        var role = "Trader";
        $("#registertype").val(role);
    });


    $("#ProTrader").click(function () {
        debugger;
        var parahtml = "<p>This account lets you setup multiple custom sales packages with the features you want to provide your crypto trading audience. We handle all the management and billing, and all that kind of stuff. All you do is provide your followers and subscribers awesome content!</p>";
        $("#paragraphdiv").html(parahtml);
        var imghtml = "<img src='/Content/img/large_crowd.png' style='height: 200px;' alt='Click here to become a Crypto Trading Student'/>";
        $("#imagediv").html(imghtml);
        var role = "ProTrader";
        $("#registertype").val(role);
    });
</script>
@*<div class="row">
        <div class="col-md-12 register-form">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form"}))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary("", new {@class = "text-danger"})
                <div class="form-group row">
                    @Html.LabelFor(m => m.FirstName, new {@class = "col-form-label col-md-3"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.LastName, new {@class = "col-md-3 col-form-label"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-3 col-form-label"})
                    <div class="col-md-9">
                        @if (ViewBag.SubEmail != null)
                        {
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @value = ViewBag.SubEmail})
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        }
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.UserName, new {@class = "col-md-3 col-form-label"})
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-3 col-form-label"})
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-3 col-form-label"})
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
                    </div>
                </div>
                <br/>
                <h3>Choose Account Type</h3>
                <br/>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <h4>Crypto Student Account</h4>
                        <label for="Trader">
                            <img src="/Content/img/graduate.png" style="height: 200px; border: 2px solid #DFDFDF;" alt="Click here to become a Crypto Trading Student"/>
                            <input id="Trader" type="radio" name="SelectedRole" value="Trader"/>
                        </label>
                        <p>This free account lets your follow the public content offered by Crypto Coaches aod other Crypto Students on the site. Coaches offer packages with their own mix of features and pricing. Those packages have subscription rates they control.</p>
                    </div>
                    <div class="col-lg-6">
                        <h4>Crypto Trading Coach</h4>
                        <label for="ProTrader">
                            <img src="/Content/img/large_crowd.png" style="height: 200px; border: 2px solid #DFDFDF;" alt="Click here to become a Crypto Trading Coach!"/>
                            <input id="ProTrader" type="radio" name="SelectedRole" value="ProTrader"/>
                        </label>
                        <p>This account lets you setup multiple custom sales packages with the features you want to provide your crypto trading audience. We handle all the management and billing, and all that kind of stuff. All you do is provide your followers and subscribers awesome content!</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <input type="submit" class="btn btn-lg btn-success" value="Register"/>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>*@