﻿
@model CoinTradePros.Web.Models.FeatureModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (Model.IsProxyMode())
            {
                <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            }
            @*@Html.ValidationSummary(false, string.Empty, new {@class = "text-danger"})*@
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, Model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new{@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FeatureTypeId, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.FeatureTypeId, Model.FeatureTypes, new  {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.FeatureTypeId, "", new {@class = "text-danger"})
                </div>
            </div>@*@Html.ValidationSummary(false, string.Empty, new {@class = "text-danger"})*@
            <div class="form-group">
                @Html.LabelFor(model => model.SortOrder, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.SortOrder, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SortOrder, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Feature" class="btn btn-success"/>&nbsp;&nbsp;&nbsp;&nbsp;

                    <input type="button" value="Cancel" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index", "Feature")'"/>
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyProTraderProfileId)
            }
            @Html.HiddenFor(model => model.ProTraderProfileId)
        </div>
    }
    </section>
</section>