﻿
@model CoinTradePros.Web.Models.FeatureGroupModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}


<style>
    /*.theadfeature {
        background-color: #39A849;
        /*#39A849
    }

    .theading {
        color: #fff; /*#fff
    }*/
</style>
<link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css" />
<section id="main-content"  class=" ">
    <section class="wrapper main-wrapper row">
        @if (Model.IsProxyMode())
        {
            <h2 class="text-danger">You are editing this account on behalf of another user</h2>
        }
        


        <div class="col-lg-12">
            <div class="box">
                <div class="content-body">
                    <div class="row">
                        <div class="col-xs-12 card-box table-responsive">
                            <table class="table table-condensed table-striped table-responsive table-bordered table-hover" id="datatable" style="background:#217821">
                                <thead @*class="theadfeature"*@>
                                    <tr>
                                        <th @*class="theading"*@ style="color:white">Name </th>
                                        <th @*class="theading"*@ style="color:white">Description</th>
                                        <th @*class="theading"*@ style="color:white">Orders&nbsp&nbsp</th>
                                        <th @*class="theading"*@ style="color:white">Feature Type&nbsp&nbsp</th>
                                        <th @*class="theading"*@ @*align="right"*@>
                                            @if (Model.IsProxyMode())
                                            {
                                                <a href="@Url.Action("Create", "Feature", new { proTraderProfileid = Model.ProxyProTraderProfileId})" class="btn btn-sm btn-primary">Add a Feature</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Create", "Feature")" class="btn btn-sm btn-primary">Add a Feature</a>
                                            }
                                        </th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.FeatureModels)
            {
                                        <tr>
                                            <td>
                                                @item.Name
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                            <td>
                                                @item.SortOrder
                                            </td>
                                            <td>
                                                @{
                                                    foreach (var tp in item.FeatureTypes)
                                                    {
                                                        if (tp.Value == item.FeatureTypeId.ToString())
                                                        {
                                                            @tp.Text;
                                                            break;
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td class="col-md-2 col-xs-2">
                                                @if (Model.IsProxyMode())
                {
                                                    <a href="@Url.Action("Edit", new {id = item.FeatureId, proTraderProfileId = Model.ProxyProTraderProfileId })" class="btn btn-xs btn-secondary">Edit</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Edit", new {id = item.FeatureId})" class="btn btn-xs btn-secondary"><span class="fa fa-pencil"></span> Edit</a>
                                                }
                                                @if (Model.IsProxyMode())
                {
                                                    <a href="@Url.Action("Delete", new {id = item.FeatureId, proTraderProfileId = Model.ProxyProTraderProfileId})" class="btn btn-xs btn-danger"><span class="fa fa-trash"></span> Delete</a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Delete", new {id = item.FeatureId})" class="btn btn-xs btn-danger"><span class="fa fa-trash"></span> Delete</a>
                                                }
                                            </td>
                                        </tr>
                                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>
