﻿
@using CoinTradePros.Helpers
@using CoinTradePros.Payments
@model CoinTradePros.Web.Models.SalesPageModel
@{
    CoinPaymentsHelper helper = new CoinPaymentsHelper();

    string colsclass = string.IsNullOrEmpty(Model.VideoUrl) ? "col-12" : "col-6";
    string spacingcolclass;
    string altcarddeckclass;
    switch (Model.Packages.Count)
    {
        case 1:
            {
                spacingcolclass = "col-3";
                altcarddeckclass = "col-6";
                break;
            }
        case 2:
            {
                altcarddeckclass = "col-8";
                spacingcolclass = "col-2";
                break;
            }
        default:
            {
                altcarddeckclass = "col-12";
                spacingcolclass = string.Empty;
                break;
            }
    }
}


<div class="container  text-center">
    @if (Model.IsProTraderViewing)
    {
        <div class="row">
            <div class="col-12">
                <a href="@Url.Action("Index", "SalesPage")" class="btn btn-success">
                    <span class="fa fa-tags"></span>
                    Manage Your Sales Page
                </a>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12 logo_wrapper">
            <h1 class="logo_text">@Model.Username</h1>
            <h3 class-="tag_line">@Model.Tagline</h3>
        </div>
    </div>
    <div class="row align-content-center">
        <div class="col-12">
            @foreach (var detail in Model.ProfileDetails)
            {
                @Html.Partial("~/Views/Shared/_ProfileDetail.cshtml", detail)
            }
        </div>
    </div>

    <div class="row">
        @if (string.IsNullOrEmpty(Model.VideoUrl))
        {
            <div class="col-2"></div>
        }
        <div class="@colsclass">
            <table>
                <tr>
                    <td valign="top">
                        <img class="card-profile-img avatar-lg" src="@Model.AvatarUrl" alt="Avatar image for @Model.Username" title="Avatar image for @Model.Username" style="" />
                    </td>
                    <td valign="top" style="padding-top: 25px; padding-right: 0;">
                        <img src="/Content/img/bubblearrow.png" style="position: relative; right: -4px; z-index: 100; height: 50px; padding-left: -5px;" />
                    </td>
                    <td style="margin: 0;">
                        <div style="background: #FFFFFF; border: #7F7F7F solid 4px; border-radius: 10px; padding: 15px;">
                            <small>
                                @Model.Description
                            </small>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        @if (string.IsNullOrEmpty(Model.VideoUrl))
        {
            <div class="col-2"></div>
        }
        @if (!string.IsNullOrEmpty(Model.VideoUrl))
        {
            <div class="@colsclass embed-responsive embed-responsive-16by9 pull-left" style="border: 1px solid #191919;">
                <iframe class="embed-responsive-item pull-right" src="@Model.VideoUrl" allowfullscreen="true"></iframe>
            </div>
        }
    </div>
    @if (Model.UseAlternateCurrency)
    {
        CoinPaymentsAsset coin = helper.GetCoin(Model.AlternateCurrency);
        <div class="row align-content-center">
            <div class="col-12" style="font-size: x-large">
                <span class="badge badge-success">
                    Prices Shown In
                    <i class="cc @Model.AlternateCurrency"></i>
                    @coin.Name
                </span>
            </div>
        </div>
    }
    <div class="row" style="margin-top: 15px;">
        <div class="col-12">
            @using (Html.BeginForm("UpdateCurrency", "Subscription"))
            {
                <select name="SelectedCurrency">
                    @foreach (SelectListItem item in Model.PaymentCurrencies)
                {
                        <option class="cc @item.Value" value="@item.Value" @(item.Selected ? " selected=\"selected\"" : "")>
                            <i class="cc @item.Value"></i>
                            @item.Text
                        </option>
                    }
                </select>
                <input type="hidden" value="@Model.Username" id="ProTraderUserName" name="ProTraderUserName" />
                <button type="submit" class="btn btn-primary">
                    <span class="fa fa-bitcoin"></span>
                    Update Prices
                </button>
                <p class="text-muted">
                    <small>Change pricing to one of @Model.PaymentCurrencies.Count cryptocurrencies</small>
                </p>
            }
        </div>
    </div>
    <div class="row">
        @if (!string.IsNullOrEmpty(spacingcolclass))
        {
            <div class="@spacingcolclass"></div>
        }
        <div class="card-deck @altcarddeckclass align-content-center container-content-middle justify-content-center" style="margin: 10px;">
            @foreach (var package in Model.Packages)
            {
                <div class="card package" style="margin: 10px; min-width: 300px; max-width: 300px; border: 1px solid #191919;">
                    @using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
                {
                        <div class="card-block" style="padding: 0;">
                            <h2 class="card-title package text-center align-middle">@package.Title</h2>
                            <ul class="list-group">
                                @foreach (var feature in Model.AllFeatures)
                                {
                                    if (feature.FeatureId.HasValue && package.HasFeature(feature.FeatureId.Value))
                                    {
                                        <li class="list-group-item feature-info" title="@feature.Description">
                                            <span class="@feature.GetIconClass()"></span>
                                            @feature.Name
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item not_available feature-info" title="This feature is not available for this package.">
                                            <span class="@feature.GetIconClass()"></span>
                                            @feature.Name
                                        </li>
                                    }
                                }
                            </ul>
                            <small class="text-muted text-left">@package.Description</small>
                            <div class="plan_price" style="text-align: left; padding-left: 15px">
                                @if (package.MonthlyPrice.HasValue)
                                {
                                    <label for="@($"monthly_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"monthly_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.MonthlyPrice" checked="checked" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetMonthlyAmount():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="margin-bottom: 5px;">&nbsp;</span>

                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.MonthlyPrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/mo</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                                @if (package.AnnualPrice.HasValue)
                                {
                                    <label for="@($"annually_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"annually_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.AnnualPrice" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetAnnualAmount():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="padding-bottom: 50px;">&nbsp;</span>

                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.AnnualPrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/yr</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                                @if (package.LifetimePrice.HasValue)
                                {
                                    <label for="@($"lifetime_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"lifetime_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.LifetimePrice" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetLifeTimePrice():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="margin-bottom: 5px;">&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.LifetimePrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/life!</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                            </div>
                            <input type="hidden" name="PackageId" value="@(package.PackageId ?? Guid.Empty)" />
                            @if (package.UseAlternateCurrency)
                            {
                                <input type="hidden" name="AlternateCurrency" value="@package.AlternateCurrency" />
                            }
                            <button type="submit" class="btn btn-lg btn-success" style="">
                                <span class="fa fa-ticket"></span>
                                Subscribe<br />
                            </button>
                            <div class="card-footer" style="padding: .3em;">
                                <small class="text-muted">@package.Title</small>
                            </div>
                        </div>
                    }
                </div>
            }
            @if (!string.IsNullOrEmpty(spacingcolclass))
            {
                <div class="@spacingcolclass"></div>
            }
        </div>
    </div>
    @if (Model.Questions.Count > 0)
    {
        <div class="row">
            <div class="col-12 align-content-center">
                <h4>Frequently Asked Questions</h4>
            </div>
        </div>
        foreach (var question in Model.Questions)
        {
            <div class="row" style="">
                <div class="col-12">
                    <div class="card" style="margin-bottom: 10px;">
                        <div class="card-header" role="tab" id="@($"heading_{question.QuestionId}")">
                            <h5>
                                <span class="text-muted"> @question.Question</span>
                            </h5>
                        </div>
                        <div class="card-block">
                            @question.Answer
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
