﻿@model CoinTradePros.Web.Models.IndexViewModel
    @{
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
<section id="main-content" style="margin-top: 80px;" class=" ">
    <div class="modal fade" id="AvatarModal" tabindex="-1" role="dialog" aria-labelledby="avbtarModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="avatarModalLabel">Update Profile Avatar</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span class="fa fa-ban"></span>
                    </button>
                </div>
                @using (Html.BeginForm("ChangeAvatar", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">

                        <div class="form-group row">
                            @Html.LabelFor(model => model.AvatarImage, new { @class = "col-form-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.AvatarImage, new { @class = "form-control", @type = "file" })
                                @Html.ValidationMessageFor(model => model.AvatarImage, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.TraderId)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-lg btn-success">
                            <span class="fa fa-user"></span>
                            Update Avatar
                        </button>
                        <button class="btn btn-lg btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                            <span class="fa fa-close"></span>
                            Close
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <hr />
        @if (User.IsInRole("ProTrader"))
        {
            <h4>Sales Page Settings</h4>
            <dl class="dl-horizontal">
                <dt>Sales Page Settings:</dt>
                <dd>
                    [@Html.ActionLink("Manage your sales page settings here", "Index", "SalesPage")]
                </dd>
            </dl>
        }
        @if (!string.IsNullOrEmpty(Model.AvatarUrl))
        {
            <img class="card-profile-img" style="height: 100px; margin-top: 15px;" src="@Model.AvatarUrl" alt="Your trader profile avatar." />
        }
        else
        {
            <img class="card-profile-img" style="height: 100px; margin-top: 15px;" src="~/Content/img/blank_avatar.png" alt="Click to change your profile avatar." />
        }
        <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#AvatarModal">
            <span class="fa fa-user"></span>
            Change Avatar
        </button>

        <h4>Security Settings</h4>
        <dl class="dl-horizontal">
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>

            <dt>Two-Factor Authentication:</dt>
            <dd>
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                        </text>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                        </text>
                    }
                }
            </dd>
        </dl>
    </div>
    </section>