﻿<!--modal style start-->




<style>
    .btn-default.btn-on.active {
        background-color: #5BB75B;
        color: white;
    }
    .btn-default.btn-off.active {
        background-color: #DA4F49;
        color: white;
    }
    .btn-default.btn-on.active {
        background-color: #5BB75B;
        color: white;
    }
    .btn-default.btn-off.active {
        background-color: #DA4F49;
        color: white;
    }
    .row{
        margin-right:-15px;
        margin-left: -15px;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-7 {
        margin-left: 58.333333333333336%;
    }
    .col-md-offset-4{
        margin-left: 33.33333333333333%;
    }
    .img-circle {
        border-radius: 50%!important;
    }
    .img-responsive {
        display: block;
        height: auto;
        max-width: 100%;
    }
    hr, p {
        margin: 20px 0;
    }
    .btn:not(.btn-sm):not(.btn-lg) {
        line-height: 1.44;
    }
    .modal-open {
        overflow: hidden;
    }
    .col-md-offset-1 {
        margin-left: 8.333333333333332%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 500;
        line-height: 1.1;
    }
    h3,
    .h3 {
        font-size: 24px;
    }
    .container {
        margin-bottom: -175px;
        margin-top: 0px;
        max-width: 100%;
    }
    .row-wrapper .row {
        margin-right: auto;
        margin-left: auto;
        width: 60%;
    }
    #slider-container {
        padding-bottom: 0em;
        margin-bottom: 0em;
    }
</style>
<!--modal style end-->


<div id="FrontCarousel" class="carousel">
    <ol class="carousel-indicators">
        <li data-target="#FrontCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#FrontCarousel" data-slide-to="1"></li>
        <li data-target="#FrontCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <section class="slider-item">
                <div class="row">
                    <div class="col-md-8 col-sm-12 slider-content">
                        <h1>Where Cryptocurrency Traders Help Each Other by Sharing Their Trades &amp; Teaching What They Do Best.</h1>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="slider-item">
                <div class="row">
                    <div class="col-md-8 col-sm-12 slider-content">
                        <h1>Make Money Sharing Your Crypto-Trading Adventures!</h1>
                        <h3>We Help You Promote Yourself. Gain Paying Subscribers. Send Them Timely Alerts About Your Trades and Ideas. Collaborate and Trade Together in Real Time.</h3>

                        <a data-href=@Url.Action("Register", "Account") data-title="Sign-up" class="showModal btn btn-lg btn-success">Get Started</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="carousel-item">
            <section class="slider-item">
                <div class="row">
                    <div class="col-md-8 col-sm-12 slider-content">
                        <h1>Learn What Coaches are Doing and Make Money Like They Do!</h1>
                        <h3>Subscribe to Trading Coaches. Get Instant Trade Alerts, Ideas, and Learn to be Trading Coach. Share Your Ideas and Trades With Others and Make Money.</h3>
                        <a href="@Url.Action("Index", "Pros")" class="btn btn-lg btn-danger">Find a Coach</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <a class="carousel-control-prev" href="#FrontCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#FrontCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="row-wrapper column" style="background-image: url(/Content/img/home_back1.jpg); padding:10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <div class="column-img hidden-xs">
                <script src="https://fast.wistia.com/embed/medias/pbiobwtmkh.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;height:100%;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_pbiobwtmkh popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-8 col-lg-5 ">
            <div class="text-container">
                <h2>Learn About Cryptos &amp; Trading</h2>
                <p>
                    If you are new to cryptos, you can find a Crypto Coach to help you get started. If you are ready to start trading cryptos, or want to really trade in high gear, find a Crypto Trading Coach. Crypto Trading Coaches have different trading styles, anywhere from day trading, swing (or trend) trading, to buy and hold for long term. Find someone who offers the features and pricing that works for you. If you are new to the crypto world, you can find a crypto coach, and get into trading later.
                    <a href="@Url.Action("Index", "Pros")" class="btn btn-lg btn-primary" style="float: right; margin: 16px;">Find A Coach</a>
                </p>
            </div>
        </div>

    </div>
</section>

<section class="row-wrapper column" style="background-image: url(/Content/img/home_back2.jpg); padding-bottom: 10px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
            <div class="text-container middletext-container">
                <h2>Make Money Helping Others Learn About Crypto!</h2>
                <p>
                    Once it's ready, here's some stuff you can do.
                    Create sales packages with custom features and pricing.
                    Host live events online with your Crypto Students.
                    We handle all the biling and payments for your subscriber base.
                    Receive subscription payments in dollars or over 70 cryptocurrencies!
                    <a href="#" class="btn btn-lg btn-info" style="float: right; margin: 16px;" data-toggle="modal" data-target="#MailModal">Get Notified</a>
                </p>
                <div class="modal fade" id="MailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content" style="color: initial; margin-top: 120px;">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mailModalLabel">Stay in the Loop</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                    <span class="fa fa-close"></span>
                                </button>
                            </div>
                            <div class="modal-body" style="text-align: left;">
                                We'll let you know when the Crypto Coaching accounts are ready.

                                <!-- Begin MailChimp Signup Form -->
                                <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
                                <style type="text/css">
                                    #mc_embed_signup {
                                        background: #fff;
                                        clear: left;
                                        font: 14px Helvetica,Arial,sans-serif;
                                    }
                                    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block. */
                                </style>
                                <div id="mc_embed_signup">
                                    <form action="https://landsofadventure.us10.list-manage.com/subscribe/post?u=17e77bdc8fac27b75f4a03890&amp;id=00ff0edd4b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">

                                            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                            <div class="mc-field-group">
                                                <label for="mce-FNAM">Name </label>
                                                <input type="text" value="" name="FNAM" class="" id="mce-FNAM">
                                            </div>
                                            <div class="mc-field-group">
                                                <label for="mce-EMAIL">
                                                    Email Address  <span class="asterisk">*</span>
                                                </label>
                                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_17e77bdc8fac27b75f4a03890_00ff0edd4b" tabindex="-1" value=""></div>
                                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                </div>
                                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
                                <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'FNAM'; ftypes[1] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
                                <!--End mc_embed_signup-->
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-lg btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                                    <span class="fa fa-close"></span>
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row-wrapper column" style="background-image: url(/Content/img/home_back3.jpg); padding: 10px;">
    <div class="row" style="padding-bottom: 18px;">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
            <div class="column-img hidden-xs">
                <script src="https://fast.wistia.com/embed/medias/klipy3jczz.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;height:100%;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <span class="wistia_embed wistia_async_klipy3jczz popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">
                            &nbsp;
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5">
            <div class="text-container">
                <h2>Make Money Sharing Your Crypto-Trading Adventures!</h2>
                <p>
                    Create sales packages with custom features and pricing.
                    Send trade alerts via Telegram or Discus integration, live chat, SMS alerts, and more!
                    We handle all the biling and payments for your subscriber base.
                    Receive subscription payments in dollars or over 70 cryptocurrencies!.
                    <a style="float: right; margin: 16px;" data-href=@Url.Action("Register", "Account") data-title="Sign-up" class="showModal btn btn-lg btn-secondary">Be a Trading Coach </a>
                </p>
            </div>
        </div>
    </div>
</section>