﻿@using CoinTradePros.Web.Helpers
@using CoinTradePros.Web.Models
@model SubscriberAlertModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<style>
    .twrap {
        margin-left: -15px;
    }

    .form-alert {
        padding-left: 11px;
    }
</style>

<div class="container col-lg-12 col-md-12 col-sm-12 col-xl-12" style="margin-top: 80px;">
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-2 col-xl-4"></div>
        <div class="col-lg-10 col-md-8 col-sm-8 col-xs-10 col-xl-8" style="padding-left:30px; padding-right:30px;">
            <section style="width:100%">

                @* HEADING-START *@
                <div>
                    <h2>
                        Send Subscriber Alert
                    </h2>
                    <p>Send an alert to your subcribers, start with an exsisting open trade or create a new one</p>
                </div>
                @* HEADING-END *@


                @* TABS-START *@
                <div>
                    @*TAB HEAD-START*@
                    <ul id="myTabs" class="nav nav-pills nav-justified" role="tablist" data-tabs="tabs">
                        <li class="active"><a href="#exsistingtrade" data-toggle="tab">Select Exsisting Trade</a></li>
                        <li><a href="#newtrade" data-toggle="tab">Alert New Trade</a></li>

                    </ul>
                    @*TAB HEAD-END*@
                    @*TAB BODY-START*@
                    <div class="tab-content">
                        @* TAB 1 BODY - START *@
                        <div role="tabpanel" class="tab-pane fade in active" id="exsistingtrade">

                            @using (Html.BeginForm("SendManualAlert", "Alert", FormMethod.Post, new { id = "AlertForm" }))
                        {
                                @Html.AntiForgeryToken()
                                <div>
                                   
                                    <div>
                                        <h3 class="trade-heading">Exsisting Open Trade</h3>
                                        <small>Alert an exsisting open trade</small>
                                    </div>
                                    <hr />
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-2">Alert Open Tarde</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.TradeView.TradeId, Model.TardeViewList, new { id = "tradelist", @class = "form-control col-md-3" })
                                            <small class="text-muted col-md-3">@Model.TardeViewList.Count Recent Trades</small>
                                        </div>
                                    </div>
                                    <div id="opentradedata" class="hidden row">
                                        <div class="col-md-12">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="card-title alert alert-danger">
                                                        <span class="fa fa-bolt"></span>
                                                        Send a trade alert to your subscribers
                                                        <span class="fa fa-bolt"></span>
                                                    </h4>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="well col-md-4" style="margin-right:10px; margin-left:10px;">


                                                    <div>
                                                        <h4 class="bold">Selected Trade Data</h4>
                                                        <div>
                                                            <div>
                                                                <p class="col-md-12" style="margin-top:10px;"><span class="glyphicon glyphicon-usd"></span>  Cryptocurrency: <span class="bold" style="font-size:15px;" id="assetlist"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12 "><span class="glyphicon glyphicon-time"></span>  Entry Date: <span class="bold" style="font-size:15px;" id="entrydate"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12 "><span class="glyphicon glyphicon-home"></span>  Exchange: <span class="bold" style="font-size:15px;" id="exchangeslist"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12"><span class="glyphicon glyphicon-usd"></span>  Exit Price: <span class="bold" style="font-size:15px;" id="exitprice"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12"><span class="glyphicon glyphicon-flash"></span>  Position Size: <span class="bold" style="font-size:15px;" id="positionsize"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12"><span class="glyphicon glyphicon-usd"></span>  Entry Price: <span class="bold" style="font-size:15px;" id="entryprice"></span></p>
                                                            </div>

                                                            <div>
                                                                <p class="col-md-12"><span class="glyphicon glyphicon-comment"></span>  Comments: <span class="bold" style="font-size:15px;" id="comments"></span></p>
                                                            </div>

                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="well col-md-7" style="margin-right:10px; margin-left:10px;">

                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 class="bold">Subscriber Alerts</h4>
                                                        </div>
                                                        <div class="card-block">
                                                            @*<div class="row">
                                                                    <div class="col-md-12">
                                                                        <h4 class="card-title alert alert-danger">
                                                                            <span class="fa fa-bolt"></span>
                                                                            Send a trade alert to your subscribers
                                                                            <span class="fa fa-bolt"></span>
                                                                        </h4>
                                                                    </div>
                                                                </div>*@
                                                            <div class="row">
                                                                <div class="col-lg-6" style="margin-top:10px;">
                                                                    <h5 class="bold">Select Subscribers</h5>
                                                                    <label class="custom-control custom-checkbox">
                                                                        <input id="all" type="checkbox" name="AlertGroup" value="all" class="custom-control-input">
                                                                        <span class="custom-control-indicator"></span>
                                                                        <span class="custom-control-description">All Plans/Subscribers</span>
                                                                    </label>
                                                                    <br />
                                                                    @foreach (PackageModel pk in Model.SendAlertModel.Packages)
                                                                {
                                                                    string id = $"pk_{pk.PackageId}";
                                                                        <label for="@id" class="custom-control custom-checkbox">
                                                                            <input type="checkbox" id="@id" value="@pk.PackageId" name="AlertGroup" class="custom-control-input" />
                                                                            <span class="custom-control-indicator@(pk.CurrentSubscriberCount < 1 ? " disbled" : "")"></span>
                                                                            <span class="custom-control-description@(pk.CurrentSubscriberCount < 1 ? " text-muted not_available" : "")">@($"{pk.Title} ({pk.CurrentSubscriberCount})")</span>
                                                                        </label>
                                                                        <br />
                                                                }
                                                                </div>
                                                                <div class="col-lg-6" style="margin-top:10px;">
                                                                    <h5 class="bold">Select Messaging Plaatforms</h5>
                                                                    <label class="custom-control custom-checkbox">
                                                                        <input id="all" type="checkbox" name="MessagingGroup" value="all" class="custom-control-input">
                                                                        <span class="custom-control-indicator"></span>
                                                                        <span class="custom-control-description">All Messaging Platforms</span>
                                                                    </label>
                                                                    <br />
                                                                    @foreach (MessagingOptionModel mo in Model.SendAlertModel.MessagingOptions)
                                                                {
                                                                        <label class="custom-control custom-checkbox">
                                                                            <input type="checkbox" id="@mo.SysCode" value="@mo.SysCode" name="MessagingGroup" class="custom-control-input" />
                                                                            <span class="custom-control-indicator"></span>
                                                                            <img style="height: 25px;" src="@mo.ImagePath" alt="Send an alert on the @mo.Name network." />
                                                                            <span class="custom-control-description text-muted">@mo.Name</span>
                                                                        </label>
                                                                        <br />
                                                                }
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>


                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <button type="submit" class="btn btn-lg btn-success">
                                                            <span class="fa fa-bolt"></span>
                                                            Send Alert
                                                        </button>
                                                        <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "Users")'">
                                                            <span class="fa fa-ban"></span>
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>



                                            @*<div class="trade-div">
                                                    <h5 class="trade-heading">Selected Trade Data</h5>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-usd"></span>  Cryptocurrency: <span class="bold" style="font-size:18px;" id="assetlist"></span></p>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-time"></span>  Entry Date: <span class="bold" style="font-size:18px;" id="entrydate"></span></p>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-home"></span>  Exchange: <span class="bold" style="font-size:18px;" id="exchangeslist"></span></p>
                                                        </div>

                                                    </div>
                                                    <div class="row">

                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-usd"></span>  Exit Price: <span class="bold" style="font-size:18px;" id="exitprice"></span></p>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-flash"></span>  Position Size: <span class="bold" style="font-size:18px;" id="positionsize"></span></p>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-usd"></span>  Entry Price: <span class="bold" style="font-size:18px;" id="entryprice"></span></p>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <p class="col-md-12 text-center"><span class="glyphicon glyphicon-comment"></span>  Comments: <span class="bold" style="font-size:18px;" id="comments"></span></p>
                                                        </div>


                                                    </div>
                                                </div>*@





                                            @*<div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-usd"></span>  Cryptocurrency: </p><p class="col-md-2 bold" id="assetlist"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-time"></span>  Entry Date: </p><p class="col-md-2 bold" id="entrydate"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-usd"></span>  Entry Price: </p><p class="col-md-2 bold" id="entryprice"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-home"></span>  Exchange: </p><p class="col-md-2 bold" id="exchangeslist"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-comment"></span>  Comments: </p><p class="col-md-2 bold" id="comments"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-flash"></span>  Position Size: </p><p class="col-md-2 bold" id="positionsize"></p></div>
                                                    <div class="row"><p class="col-md-2"><span class="glyphicon glyphicon-usd"></span>  Exit Price: </p><p class="col-md-2 bold" id="exitprice"></p></div>
                                                </div>*@
                                        </div>

                                        @*Sending option *@


                                        <input type="hidden" name="ProTraderProfileId" value="@IdentityHelper.GetCurrentUserProTraderId(User)" />

                                    </div>
                                </div>
                        }
                        </div>
                        @* TAB 1 BODY - END *@

                        @* TAB 2 BODY - START *@
                        <div role="tabpanel" class="tab-pane fade" id="newtrade">
                            @using (Html.BeginForm("SendManualAlert", "Alert", FormMethod.Post, new { id = "AlertForm2" }))
                        {
                                @Html.AntiForgeryToken()
                                <div>

                                    <div>
                                        <h2>New Trade</h2>
                                        <small>Create a new trade and alert it</small>
                                    </div>
                                    <hr />
                                    <div>
                                        <div>
                                            @*ASSETS LIST*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Cryptocurrency</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(model => model.TradeView.AssetKey, Model.AssetsList, new { id = "assetlist", @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(model => model.ExchangeId, "", new { @class = "text-danger" })*@
                                                    <small class="text-muted">@Model.AssetsList.Count Exchanges</small>
                                                </div>
                                            </div>


                                            @*Denomination List*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Denomination</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(model => model.TradeView.DemoninationKey, Model.DenominationList, new { id = "denominationlist", @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(model => model.ExchangeId, "", new { @class = "text-danger" })*@
                                                    <small class="text-muted">@Model.DenominationList.Count Exchanges</small>
                                                </div>
                                            </div>


                                            @*ENTRY DATE*@
                                            <div class="form-group row">
                                                @*@Html.LabelFor(model => model.ExitDate, new { @class = "col-form-label col-md-3" })*@
                                                <label class="col-form-label col-md-2">Entry Date</label>

                                                <div class="col-md-3 date">
                                                    <div class="input-group input-append date" id="ExitDateWrapper">
                                                        @Html.EditorFor(m => m.TradeView.EntryDate, new { htmlAttributes = new { id = "entrydate", @class = "form-control datetimepicker-input" } })
                                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            @*ENTRY PRICE*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Entry Price</label>
                                                <div class="col-md-3">
                                                    @Html.TextBoxFor(m => m.TradeView.EntryPrice, new { id = "entryprice2", @class = "form-control" })
                                                </div>
                                            </div>
                                            @*POSITION SIZE*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Position Size</label>
                                                <div class="col-md-3">
                                                    @Html.TextBoxFor(m => m.TradeView.PositionSize, new { id = "positionsize2", @class = "form-control" })
                                                </div>
                                            </div>
                                            @*COMMENTS*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Comments</label>
                                                <div class="col-md-3">
                                                    @Html.TextBoxFor(m => m.TradeView.Comments, new { id = "comments2", @class = "form-control" })
                                                </div>
                                            </div>
                                            @*EXCHANGES LIST*@
                                            <div class="form-group row">
                                                <label class="col-form-label col-md-2">Exchanges</label>
                                                <div class="col-md-3">
                                                    @Html.DropDownListFor(model => model.TradeView.ExchangeId, Model.ExchangeList, new { id = "exchangeslist", @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(model => model.ExchangeId, "", new { @class = "text-danger" })*@
                                                    <small class="text-muted">@Model.ExchangeList.Count Exchanges</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*////////////////////////*@

                                    <div class="form-horizontal form-alert">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group row">
                                            @Html.LabelFor(Model => Model.SendAlertModel.AlertBody, new { @class = "col-form-label col-12" })
                                            <div class="col-md-12 twrap" style="width: 103%">
                                                @Html.TextAreaFor(Model => Model.SendAlertModel.AlertBody, new { id = "textarea2", @class = "form-control col-12", @rows = 5, @placeholder = "What do you want to say?", @name = "AlertBody" })
                                                @Html.ValidationMessageFor(Model => Model.SendAlertModel.AlertBody, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="custom-control custom-checkbox">
                                                <input id="IncludeChart" type="checkbox" name="IncludeChart" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Include the chart below with this alert.</span>
                                            </label>
                                            <span class="text-muted"><small>(Click the camera icon to get the image url.  Put the url in the box below)</small></span>
                                        </div>
                                        <div class="form-group row hidden" id="imgUrlDiv">
                                            <input type="text" class="form-control col-12" name="ImageUrl" id="ImageUrl" placeholder="Image URL from chart below" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="custom-control custom-checkbox">
                                                <input id="UploadChart" type="checkbox" name="UploadChart" class="custom-control-input" />
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">Upload Chart.</span>
                                            </label>
                                            <span class="text-muted"><small>(Click upload Buton to upload Chart)</small></span>
                                        </div>

                                        <div class="form-group row hidden" id="imgUploadDiv">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.ChartImage, new { @class = "col-form-label custom-file " })


                                            </div>
                                            <div class="col-md-9">
                                                @Html.TextBoxFor(model => model.ChartImage, new { htmlAttributes = new { @class = "form-control" }, type = "file" })
                                                @Html.ValidationMessageFor(model => model.ChartImage, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row" style="height: 400px;">
                                            <!-- TradingView Widget BEGIN -->
                                            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                            <script type="text/javascript">
                                            new TradingView.widget({
                                                "autosize": true,
                                                "symbol": "COINBASE:BTCUSD",
                                                "interval": "D",
                                                "timezone": "Etc/UTC",
                                                "theme": "Light",
                                                "style": "1",
                                                "locale": "en",
                                                "toolbar_bg": "#f1f3f6",
                                                "enable_publishing": false,
                                                "allow_symbol_change": true,
                                                "hideideas": true,
                                                "referral_id": "6000"
                                            });
                                            </script>
                                            <!-- TradingView Widget END -->
                                        </div>
                                        <div class="card" style="margin-bottom: 2em;">
                                            <div class="card-header">
                                                Subscriber Alerts
                                            </div>
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h4 class="card-title alert alert-danger">
                                                            <span class="fa fa-bolt"></span>
                                                            Send a trade alert to your subscribers
                                                            <span class="fa fa-bolt"></span>
                                                        </h4>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label class="custom-control custom-checkbox">
                                                            <input id="all" type="checkbox" name="AlertGroup" value="all" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">All Plans/Subscribers</span>
                                                        </label>
                                                        <br />
                                                        @foreach (PackageModel pk in Model.SendAlertModel.Packages)
                                                    {
                                                        string id = $"pk_{pk.PackageId}";
                                                            <label for="@id" class="custom-control custom-checkbox">
                                                                <input type="checkbox" id="@id" value="@pk.PackageId" name="AlertGroup" class="custom-control-input" />
                                                                <span class="custom-control-indicator@(pk.CurrentSubscriberCount < 1 ? " disbled" : "")"></span>
                                                                <span class="custom-control-description@(pk.CurrentSubscriberCount < 1 ? " text-muted not_available" : "")">@($"{pk.Title} ({pk.CurrentSubscriberCount})")</span>
                                                            </label>
                                                            <br />
                                                    }
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label class="custom-control custom-checkbox">
                                                            <input id="all" type="checkbox" name="MessagingGroup" value="all" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">All Messaging Platforms</span>
                                                        </label>
                                                        <br />
                                                        @foreach (MessagingOptionModel mo in Model.SendAlertModel.MessagingOptions)
                                                    {
                                                            <label class="custom-control custom-checkbox">
                                                                <input type="checkbox" id="@mo.SysCode" value="@mo.SysCode" name="MessagingGroup" class="custom-control-input" />
                                                                <span class="custom-control-indicator"></span>
                                                                <img style="height: 25px;" src="@mo.ImagePath" alt="Send an alert on the @mo.Name network." />
                                                                <span class="custom-control-description text-muted">@mo.Name</span>
                                                            </label>
                                                            <br />
                                                    }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <button type="submit" class="btn btn-lg btn-success" id="sub2">
                                                    <span class="fa fa-bolt"></span>
                                                    Send Alert
                                                </button>
                                                <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "Users")'">
                                                    <span class="fa fa-ban"></span>
                                                    Cancel
                                                </button>

                                                <input type="hidden" name="ProTraderProfileId" value="@IdentityHelper.GetCurrentUserProTraderId(User)" />
                                            </div>
                                        </div>

                                    </div>



                                    @*<div class="form-horizontal form-alert">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group row">
                                                @Html.LabelFor(model => model.SendAlertModel.AlertBody, new { @class = "col-form-label col-12" })
                                                <div class="col-md-12 twrap" style="width: 103%">
                                                    <textarea id="AlertBody" name="AlertBody" rows="5" class="form-control col-12" placeholder="What do you want to say?"></textarea>
                                                    @Html.ValidationMessageFor(model => model.SendAlertModel.AlertBody, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="custom-control custom-checkbox">
                                                    <input id="IncludeChart" type="checkbox" name="IncludeChart" checked="checked" class="custom-control-input" />
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">Include the chart below with this alert.</span>
                                                </label>
                                                <span class="text-muted"><small>(Click the camera icon to get the image url.  Put the url in the box below)</small></span>
                                            </div>
                                            <div class="form-group row">
                                                <input type="text" class="form-control col-12" name="ImageUrl" id="ImageUrl" placeholder="Image URL from chart below" />
                                            </div>
                                            <div class="form-group row" style="height: 400px;">
                                                <!-- TradingView Widget BEGIN -->
                                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                                <script type="text/javascript">
                                                    new TradingView.widget({
                                                        "autosize": true,
                                                        "symbol": "COINBASE:BTCUSD",
                                                        "interval": "D",
                                                        "timezone": "Etc/UTC",
                                                        "theme": "Light",
                                                        "style": "1",
                                                        "locale": "en",
                                                        "toolbar_bg": "#f1f3f6",
                                                        "enable_publishing": false,
                                                        "allow_symbol_change": true,
                                                        "hideideas": true,
                                                        "referral_id": "6000"
                                                    });
                                                </script>
                                                <!-- TradingView Widget END -->
                                            </div>
                                            <div class="card" style="margin-bottom: 2em;">
                                                <div class="card-header">
                                                    Subscriber Alerts
                                                </div>
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <h4 class="card-title alert alert-danger">
                                                                <span class="fa fa-bolt"></span>
                                                                Send a trade alert to your subscribers
                                                                <span class="fa fa-bolt"></span>
                                                            </h4>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <label class="custom-control custom-checkbox">
                                                                <input id="all" type="checkbox" name="AlertGroup" value="all" class="custom-control-input">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">All Plans/Subscribers</span>
                                                            </label>
                                                            <br />
                                                            @foreach (PackageModel pk in Model.SendAlertModel.Packages)
                                                            {
                                                                string id = $"pk_{pk.PackageId}";
                                                                <label for="@id" class="custom-control custom-checkbox">
                                                                    <input type="checkbox" id="@id" value="@pk.PackageId" name="AlertGroup" class="custom-control-input" />
                                                                    <span class="custom-control-indicator@(pk.CurrentSubscriberCount < 1 ? " disbled" : "")"></span>
                                                                    <span class="custom-control-description@(pk.CurrentSubscriberCount < 1 ? " text-muted not_available" : "")">@($"{pk.Title} ({pk.CurrentSubscriberCount})")</span>
                                                                </label>
                                                                <br />
                                                            }
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <label class="custom-control custom-checkbox">
                                                                <input id="all" type="checkbox" name="MessagingGroup" value="all" class="custom-control-input">
                                                                <span class="custom-control-indicator"></span>
                                                                <span class="custom-control-description">All Messaging Platforms</span>
                                                            </label>
                                                            <br />
                                                            @foreach (MessagingOptionModel mo in Model.SendAlertModel.MessagingOptions)
                                                            {
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" id="@mo.SysCode" value="@mo.SysCode" name="MessagingGroup" class="custom-control-input" />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <img style="height: 25px;" src="@mo.ImagePath" alt="Send an alert on the @mo.Name network." />
                                                                    <span class="custom-control-description text-muted">@mo.Name</span>
                                                                </label>
                                                                <br />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9">
                                                <button type="submit" class="btn btn-lg btn-success">
                                                    <span class="fa fa-bolt"></span>
                                                    Send Alert
                                                </button>
                                                <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "Users")'">
                                                    <span class="fa fa-ban"></span>
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                        <input type="hidden" name="ProTraderProfileId" value="@IdentityHelper.GetCurrentUserProTraderId(User)" />*@


                                    @*////////////////////////*@





                                </div>
                        }
                        </div>
                        @* TAB 2 BODY - END *@
                    </div>
                    @* TAB BODY-END *@
                </div>
                @* TABS-END *@


            </section>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    $("#tradelist").change(function () {
        debugger;
        var selectid = $(this).val();
        if (!selectid) {
            $('#opentradedata').addClass("hidden");
            $("#assetlist").empty();
            $("#exchangeslist").empty();
            $("#entryprice").empty();
            $("#entrydate").empty();
            $("#comments").empty();
            $("#positionsize").empty();
            $("#exitprice").empty();
        }
        else {
            $('#opentradedata').removeClass("hidden");
            var url = "/Home/GetOpenTradeData/";
            $.ajax(
                {
                    url: url,
                    type: "Post",
                    dataType: "json",
                    data: {
                        id: selectid
                    },

                    success: function (response) {

                        $("#assetlist").text(response.AssetName);
                        $("#exchangeslist").text(response.ExchangeName);
                        $("#entryprice").text(response.EntryPrice);
                        $("#entrydate").text(response.EntryDate);
                        $("#comments").text(response.Comments);
                        $("#positionsize").text(response.PositionSize);

                        if (response.ExitPrice != null) {
                            var flag = $('#exitprice').hasClass("hidden");
                            if (flag) {
                                $("#opentradedata").removeClass("hidden");
                            }
                            $("#exitprice").text(response.ExitPrice);
                        }
                        else {
                            $('#opentradedata').addClass("hidden");
                        }
                    },
                    error: function (responce, message, error) {
                        alert('Something went wrong');
                    }
                }
            );
        }
    });

    $('#UploadChart').click(function () {
        if ($(this).is(':checked')) {
            $("#imgUploadDiv").removeClass("hidden"); //.css("display: block");
            $("#IncludeChart").attr("disabled", true);
        }
        else {
            $("#imgUploadDiv").addClass("hidden"); // .css("display: none");
            $("#IncludeChart").removeAttr("disabled");
        }
    });

    $('#IncludeChart').click(function () {
        if ($(this).is(':checked')) {
            $("#imgUrlDiv").removeClass("hidden");  //.css("display: block");
            $("#UploadChart").attr("disabled", true);
        }
        else {
            $("#imgUrlDiv").addClass("hidden"); //.css("display: none");
            $("#UploadChart").removeAttr("disabled");
        }
    });


    $(document).ready(function () {

        $('#AlertForm2').submit(function (e) {
            debugger;
            var flag = 0;

            if ($('#entryprice2').val() == "") {
                flag = 1;
            }
            if ($('#positionsize2').val() == "") {
                flag = 1;
            }
            if ($('#comments2').val() == "") {
                flag = 1;
            }
            if ($("#assetlist").is(':selected')) {
                flag = 1;
            }
            if ($("#exchangeslist").is(':selected')) {
                flag = 1;
            }

            if ($("#entrydate").is(':selected')) {
                flag = 1;
            }

            if ($("#textarea2").val() == "") {
                flag = 1;
            }

            if (flag > 0) {
                e.preventDefault();
                alert("Fill the form");
            }
        });
    });



</script>