﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.formholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}

    .formholder input[type="email"], .formholder input[type="password"] {
        padding: 7px 5px;
        margin: 10px 0;
        width: 96%;
        display: block;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        -webkit-transition: 0.3s linear;
        -moz-transition: 0.3s linear;
        -o-transition: 0.3s linear;
        transition: 0.3s linear;
    }

        .formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
            outline: none;
            box-shadow: 0 0 1px 1px #1abc9c;
        }

    .formholder input[type="submit"] {
        background: #1abc9c;
        padding: 10px;
        font-size: 20px;
        display: block;
        width: 100%;
        border: none;
        color: #fff;
        border-radius: 5px;
    }

        .formholder input[type="submit"]:hover {
            background: #1bc6a4;
        }
