﻿@using CoinTradePros.Helpers
@using CoinTradePros.Payments
@model CoinTradePros.Web.Models.SalesPageModel
@{
}

<div style="margin: 0; padding: 0;">
    @if (Model.IsProTraderViewing)
    {
        <a href="@Url.Action("Index", "SalesPage")" class="btn btn-success">
            <span class="fa fa-tags"></span>
            Manage Your Sales Page
        </a>
    }
    <div class="row">
        <div class="col-md-12 text-center logo_wrapper">
            <h1 class="logo_text">@Model.Username</h1>
            <h3 class-="tag_line">@Model.Tagline</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <p class="text-center">
                @foreach (var detail in Model.ProfileDetails)
                {
                    @Html.Partial("~/Views/Shared/_ProfileDetail.cshtml", detail)
                }
            </p>
        </div>
    </div>
    <div class="container-fluid row" style="padding-right: 5em;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-left">
            <p>@Model.Description</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-zero embed-responsive embed-responsive-16by9 pull-left">
            <iframe class="embed-responsive-item pull-right" src="@Model.VideoUrl" allowfullscreen="true"></iframe>
        </div>
    </div>
    <div class="align-middle text-center">
        @if (Model.UseAlternateCurrency)
        {
            CoinPaymentsHelper helper = new CoinPaymentsHelper();
            CoinPaymentsAsset coin = helper.GetCoin(Model.AlternateCurrency);
            <div class="row badge badge-success">
                Prices Shown In
                <i class="cc @Model.AlternateCurrency"></i>
                @coin.Name
            </div>
        }

        <h4>
            Show Prices In:
        </h4>
        @using (Html.BeginForm("UpdateCurrency", "Subscription"))
        {
            <select name="SelectedCurrency">
                @foreach (SelectListItem item in Model.PaymentCurrencies)
                {
                    <option class="cc @item.Value" value="@item.Value" @(item.Selected ? " selected=\"selected\"" : "")>
                        <i class="cc @item.Value"></i>
                        @item.Text
                    </option>
                }
            </select>
            <input type="hidden" value="@Model.Username" id="ProTraderUserName" name="ProTraderUserName" />
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-bitcoin"></span>
                Update Prices
            </button>
        }
    </div>
    <div class="row align-middle text-center">
        <div class="card-deck col-12" style="margin: 10px;">
            @foreach (var package in Model.Packages)
            {
                <div class="card package" style="margin: 10px; min-width: 300px; max-width: 300px; border: 1px solid #191919;">
                    @using (Html.BeginForm("Subscribe", "Subscription", FormMethod.Post))
                    {
                        <div class="card-block" style="padding: 0;">
                            <h2 class="card-title package text-center align-middle">@package.Title</h2>
                            <ul class="list-group">
                                @foreach (var feature in Model.AllFeatures)
                                {
                                    if (feature.FeatureId.HasValue && package.HasFeature(feature.FeatureId.Value))
                                    {
                                        <li class="list-group-item feature-info" title="@feature.Description">
                                            <span class="@feature.GetIconClass()"></span>
                                            @feature.Name
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="list-group-item not_available feature-info" title="This feature is not available for this package.">
                                            <span class="@feature.GetIconClass()"></span>
                                            @feature.Name
                                        </li>
                                    }
                                }
                            </ul>
                            <small class="text-muted text-left">@package.Description</small>
                            <div class="plan_price" style="text-align: left; padding-left: 15px">
                                @if (package.MonthlyPrice.HasValue)
                                {
                                    <label for="@($"monthly_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"monthly_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.MonthlyPrice" checked="checked" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetMonthlyAmount():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="margin-bottom: 5px;">&nbsp;</span>

                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.MonthlyPrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/mo</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                                @if (package.AnnualPrice.HasValue)
                                {
                                    <label for="@($"annually_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"annually_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.AnnualPrice" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetAnnualAmount():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="padding-bottom: 50px;">&nbsp;</span>

                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.AnnualPrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/yr</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                                @if (package.LifetimePrice.HasValue)
                                {
                                    <label for="@($"lifetime_{package.PackageId}")" class="custom-control custom-checkbox">
                                        <input id="@($"lifetime_{package.PackageId}")" type="radio" name="IntervalAmount" value="@package.LifetimePrice" class="custom-control-input" />
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">
                                            @if (Model.UseAlternateCurrency)
                                            {
                                                <span class="plan_price_amount">@($"{package.GetLifeTimePrice():F8}")</span>
                                                <span class="cc@($" {Model.AlternateCurrency}-alt")" style="margin-bottom: 5px;">&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="plan_price_curr">$</span>
                                                <span class="plan_price_amount">@($"{package.LifetimePrice.Value:F2}")</span>
                                            }
                                            <span class="plan_price_duration">&nbsp;/life!</span>
                                        </span>
                                    </label>
                                    <br />
                                }
                            </div>
                            <input type="hidden" name="PackageId" value="@(package.PackageId ?? Guid.Empty)" />
                            @if (package.UseAlternateCurrency)
                            {
                                <input type="hidden" name="AlternateCurrency" value="@package.AlternateCurrency" />
                            }
                            <button type="submit" class="btn btn-lg btn-success" style="">
                                <span class="fa fa-ticket"></span>
                                Subscribe<br />
                            </button>
                            <div class="card-footer" style="padding: .3em;">
                                <small class="text-muted">@package.Title</small>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="container col-md-12">
            <h4>Frequently Asked Questions</h4>
            @foreach (var question in Model.Questions)
            {
                <div class="card">
                    <div class="card-header" role="tab" id="@($"heading_{question.QuestionId}")">
                        <h5 class="mb-0">
                            @question.Question
                        </h5>
                    </div>
                    <div class="card-block">
                        @question.Answer
                    </div>
                </div>
            }
        </div>
    </div>
</div>

