﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.stripe-button-el span {
    background-color: blue;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
button{
    cursor:pointer
}

.profit {
    color: green;
}

.loss {
    color: red;
}

.CourseSections p {
    font-weight: bold;
    margin-left: 10px;
    font-size: larger;
}

.CourseChapters {
    margin-left: 10px;
}

.CourseChapters p {
    margin-left: 10px;
}

.CoursePages p {
    margin-left: 10px;
    font-size: smaller;
}
/*Invoice/Detail*/
.btn-top
{
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3);
}

        
.btn-top:active
{
    margin-top: 3px;
    margin-bottom: -3px;
}
.btn-top {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    color: #bfbfbf;
    width: 245px;
    font-size: 15px !important;
    height: 51px;
}
.btn-group-lg > .btn-top {
    border-radius: 4px; 
}
.btn-label {
    padding-top: 16px !important;
    height: 51px !important;
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3) !important;
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3) !important;
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3) !important;

}
.box {
    background-color: #fff;
    border-radius: 2px;
    margin-top: 15px;
    padding: 35px;
}

#logo>p {
    font-size: 25px;
    padding-left: 8px;
            
    color: #a6a6a6;
}
#logo>img {
    margin-bottom: -7px;
}
#invoice-idsec>p {
    margin-bottom: 1px;
    padding-top: 20px;
}
#invoice-info {
    padding-top: 20px;
}
#invoice-info>.col-lg-4>p,#invoice-info>.col-lg-2>p {
    margin-bottom: 0;
}
#invoice-tbl {
    padding-top: 30px;
}