﻿<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@ViewBag.Name</h4>
            </div>
            <div class="modal-body">
                <div style="margin-left:20px">
                    <div class="row">
                        <div class="col-md-12">
                            Connect to your <b><em>@ViewBag.Name</em></b> Account with Api Keys

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Api Key</label>
                            <input type="text" id="ApiKey" style="width:300px" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Api Secret</label>
                            @*<input type="text" id="ApiSecret" />*@
                            <textarea id="ApiSecret" style="width:300px"></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <input type="hidden" value="@ViewBag.Name" id="exchangeName" />
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:Connected()" class="btn btn-success">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

    </div>
</div>


