﻿@using System.Configuration
@using CoinTradePros.Interfaces.Exchange
@using CoinTradePros.BusinessObjects.Calc
@model ICollection<IExchangeOrder>

<section id="main-content" style="margin-left: 270px; margin-top: 80px;" class="">
    <h2>@ViewBag.Title</h2>
    <table class="table table-condensed table-striped table-responsive table-hover">
        <thead class="thead-default">
            <tr>
                <th>Import</th>
                <th>Entry Date</th>
                <th>Exit Date</th>
                <th>Entry Price</th>
                <th>Exit Price</th>
                <th>Units</th>
                <th>$ P/L</th>
                <th>% P/L</th>
                <th>Tip From</th>
                <th>Chart</th>
                <th colspan="2">
                    <a href="@Url.Action("Create")" class="btn btn-sm btn-success">
                        <span class="fa fa-plus"></span>
                        Add a Trade
                    </a>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    <input type="checkbox" id="@item.Exchange" />
                </td>
                <td>
                    @($"{item.OpenDate:g}")
                </td>
                <td>
                    
                        @($"{item.CloseDate:g}")
                    
                </td>
                <td>
                    @($"{item.BidAsk} ")
                </td>
                <td>
                 
                        @($"{item.CostProceeds}")
                    
                </td>
             </tr> 

        }
       
    </table>
</section>