﻿
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="Close()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                  There is no any import yet 
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Close()" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
