﻿@using CoinTradePros.BusinessObjects
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@model ICollection<Exchange>
<section id="main-content" style="margin-top: 100px;" class="">
    @foreach (var item in Model)
    { @*Add*@
        <div class="row">
            <div class="col-md-3">
                @item.Name
            </div>
            <div class="col-md-3">
                @if (ViewBag.GetExchange.Count > 0)
                {
                    foreach (var item2 in ViewBag.GetExchange)
                    {
                        if (item2.Contains(item.Name))
                        {
                            <a href="javascript:Import('@item.Name')" class="btn btn-default">Import</a>
                        }
                        else
                        {
                            <a href="javascript:Connect('@item.Name')" class="btn btn-default">Connect</a>
                        }
                    }
                }
                else
                {
                    <a href="javascript:Connect('@item.Name')" class="btn btn-default">Connect</a>
                }



            </div>
        </div>
        <br />

    }
    <div id="LoadExchange">
    </div>
</section>
