﻿@model CoinTradePros.Web.Models.PackageModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (Model.IsProxyMode())
            {
                <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            }
            @Html.ValidationSummary(false, string.Empty, new {@class = "text-danger"})
            <div class="form-group row">
                @Html.LabelFor(model => model.Title, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => Model.Title, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Description, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.MonthlyPrice, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MonthlyPrice, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MonthlyPrice, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.AnnualPrice, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AnnualPrice, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.AnnualPrice, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.LifetimePrice, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.LifetimePrice, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.LifetimePrice, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.PackageIcon, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PackageIcon, new {@class = "form-control", type = "file"})
                    @Html.ValidationMessageFor(model => model.PackageIcon, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="card" style="margin-bottom: 2em;">
                <div class="card-header">
                    Package Features
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        Select the Features to Include in This Package
                    </h4>
                    <br/>

                    @if (Model.FeatureItems.Count > 0)
                    {
                        foreach (var feature in Model.FeatureItems)
                        {
                            string id = $"pk_{feature.Value}";
                            <label for="@id" class="custom-control custom-checkbox">
                                <input type="checkbox" id="@id" value="@feature.Value" name="FeatureData" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@feature.Text</span>
                            </label>
                            <br/>
                        }
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-lg btn-success">
                        <span class="fa fa-plus"></span>
                        Add
                    </button>
                    @if (Model.IsProxyMode())
                    {
                        <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "Package", new {proTraderProfileId = Model.ProxyProTraderProfileId})'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "Package")'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    }
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyProTraderProfileId)
            }
            @Html.HiddenFor(model => model.ProTraderProfileId)
        </div>
    }
    </section>
</section>