﻿@model CoinTradePros.Web.Models.PackageModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" style="margin-top: 80px;" class=" ">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PackageId)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PackageId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MonthlyPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnnualPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LifetimePrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IconPath)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.ProTraderProfileId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProTraderProfileId)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", "Trade", new { traderid = Model.PackageId }) |
        @Html.ActionLink("Delete", "Delete", "Trade", new { traderid = Model.PackageId }) |
        @Html.ActionLink("Back to List", "Index", "Trade")
    </p>
    </section>