﻿@model CoinTradePros.Web.Models.PackageModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">Delete Question</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this package?
                </div>
                <div class="modal-actions">
                    @if (Model.IsProxyMode())
                    {
                        <a href="@Url.Action("Delete", "Package", new {packageid = Model.PackageId, proTraderProfileId = Model.ProxyProTraderProfileId})" class="btn modal-action btn-danger">
                            <span class="fa fa-trash-o"></span>
                            Delete
                        </a>
                    }
                    else
                    {
                        <a href="@Url.Action("Delete", "Package", new {tradeid = Model.PackageId})" class="btn modal-action btn-danger">
                            <span class="fa fa-trash-o"></span>
                            Delete
                        </a>
                    }
                    <button class="btn modal-action btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                        <span class="fa fa-close"></span>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @if (Model.IsProxyMode())
            {
                <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            }
            @Html.ValidationSummary(false, string.Empty, new {@class = "text-danger"})
            <div class="form-group row">
                @Html.LabelFor(model => model.Title, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.Title,new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Title, String.Empty, new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Description, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.Description, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.MonthlyPrice, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.MonthlyPrice, new{@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.MonthlyPrice, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.AnnualPrice, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.AnnualPrice, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.AnnualPrice, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.LifetimePrice, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.LifetimePrice, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.LifetimePrice, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.PackageIcon, new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.TextBoxFor(model => model.PackageIcon, new {@class = "form-control", type = "file"})
                    @Html.ValidationMessageFor(model => model.PackageIcon, "", new {@class = "text-danger"})
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyProTraderProfileId)
            }

            <div class="card" style="margin-bottom: 2em;">
                <h4 class="card-header">
                    Package Features
                </h4>
                <div class="card-block">
                    <h5 class="card-title">
                        Select the Features to Include in This Package
                    </h5>
                    <br/>
                    @if (Model.FeatureItems.Count > 0)
                    {
                        foreach (var feature in Model.FeatureItems)
                        {
                            string id = $"pk_{feature.Value}";
                            <label for="@id" class="custom-control custom-checkbox">
                                <input type="checkbox" id="@id" value="@feature.Value" checked="@feature.Selected" name="FeatureData" class="custom-control-input"/>
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@feature.Text</span>
                            </label>
                            <br/>
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-check"></span>
                        Update
                    </button>
                    @if (Model.IsProxyMode())
                    {
                        <button class="btn btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "SalesPage", new {proTraderProfileId = Model.ProxyProTraderProfileId})'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-secondary" type="button" onclick="window.location = '@Url.Action("Index", "SalesPage")'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>

                    }
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </button>
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyProTraderProfileId)
            }
            @Html.HiddenFor(model => model.ProTraderProfileId)
            @Html.HiddenFor(model => model.PackageId)
        </div>
    }
    </section>
</section>