﻿@model IEnumerable<CoinTradePros.Web.Models.PackageModel>
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" style="margin-top: 80px;" class=" ">
<table class="table table-condensed table-striped table-responsive table-hover">
    <thead class="thead-default">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Monthly Price</th>
        <th>Annual Price</th>
        <th>Lifetime Price</th>
        <th>Current Subscribers</th>
        <th width="33%">Features</th>
        <th colspan="2" align="right">
      
            <a href="@Url.Action("Create")" class="btn btn-sm btn-primary">Add a Package</a>
        </th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @($"{item.MonthlyPrice:C}")
            </td>
            <td>
                @($"{item.AnnualPrice:C}")
            </td>
            <td>
                @($"{item.LifetimePrice:C}")
            </td>
            <td>
                @item.CurrentSubscriberCount
            </td>
            <td>
                <ul>
                    @{
                        foreach (SelectListItem f in item.FeatureItems)
                        {
                            if (f.Selected)
                            {
                                <li id="@f.Value" value="@f.Value">@f.Text</li>
                            }
                        }
                    }
                </ul>
            </td>
            <td>
                @if (item.IsProxyMode())
                {
                    <a href="@Url.Action("Edit", new {packageid = item.PackageId, proTraderProfileId = item.ProTraderProfileId})" class="btn btn-xs btn-secondary">Edit</a>
                }
                else
                {
                    <a href="@Url.Action("Edit", new {packageid = item.PackageId})" class="btn btn-xs btn-secondary">Edit</a>
                }
            </td>
            <td>
                @if (item.IsProxyMode())
                {
                    <a href="@Url.Action("Delete", new {packageid = item.PackageId, proTraderProfileId = item.ProTraderProfileId})" class="btn btn-xs btn-danger">Delete</a>
                }
                else
                {
                    <a href="@Url.Action("Delete", new {packageid = item.PackageId})" class="btn btn-xs btn-danger">Delete</a>
                }
            </td>
        </tr>
    }
</table>
    </section>