/*! Cryptocoins - cryptocurrency icon font | https://github.com/allienworks/cryptocoins */

@font-face {
  font-family: "cryptocoins";
  src: url('/content/fonts/cryptocoins.woff2') format('woff2'),
    url('/content/fonts/cryptocoins.woff') format('woff'),
    url('/content/fonts/cryptocoins.ttf') format('truetype');
}

/* .cc:before { */
.cc::before {
  font-family: "cryptocoins";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}


.cc.ADC-alt::before {
  content: "\E001";
}

.cc.ADC::before {
  content: "\E002";
}

.cc.AEON-alt::before {
  content: "\E003";
}

.cc.AEON::before {
  content: "\E004";
}

.cc.AMP-alt::before {
  content: "\E005";
}

.cc.AMP::before {
  content: "\E006";
}

.cc.ANC-alt::before {
  content: "\E007";
}

.cc.ANC::before {
  content: "\E008";
}

.cc.ARCH-alt::before {
  content: "\E009";
}

.cc.ARCH::before {
  content: "\E00A";
}

.cc.ARDR-alt::before {
  content: "\E00B";
}

.cc.ARDR::before {
  content: "\E00C";
}

.cc.AUR-alt::before {
  content: "\E00D";
}

.cc.AUR::before {
  content: "\E00E";
}

.cc.BANX-alt::before {
  content: "\E00F";
}

.cc.BANX::before {
  content: "\E010";
}

.cc.BAT-alt::before {
  content: "\E011";
}

.cc.BAT::before {
  content: "\E012";
}

.cc.BAY-alt::before {
  content: "\E013";
}

.cc.BAY::before {
  content: "\E014";
}

.cc.BC-alt::before {
  content: "\E015";
}

.cc.BC::before {
  content: "\E016";
}

.cc.BCH-alt::before {
  content: "\E017";
}

.cc.BCH::before {
  content: "\E018";
}

.cc.BCN-alt::before {
  content: "\E019";
}

.cc.BCN::before {
  content: "\E01A";
}

.cc.BFT-alt::before {
  content: "\E01B";
}

.cc.BFT::before {
  content: "\E01C";
}

.cc.BRK-alt::before {
  content: "\E01D";
}

.cc.BRK::before {
  content: "\E01E";
}

.cc.BRX-alt::before {
  content: "\E01F";
}

.cc.BRX::before {
  content: "\E020";
}

.cc.BSD-alt::before {
  content: "\E021";
}

.cc.BSD::before {
  content: "\E022";
}

.cc.BTA::before {
  content: "\E023";
}

.cc.BTC-alt::before {
  content: "\E024";
}

.cc.BTC::before {
  content: "\E025";
}

.cc.BTCD-alt::before {
  content: "\E026";
}

.cc.BTCD::before {
  content: "\E027";
}

.cc.BTS-alt::before {
  content: "\E028";
}

.cc.BTS::before {
  content: "\E029";
}

.cc.CLAM-alt::before {
  content: "\E02A";
}

.cc.CLAM::before {
  content: "\E02B";
}

.cc.CLOAK-alt::before {
  content: "\E02C";
}

.cc.CLOAK::before {
  content: "\E02D";
}

.cc.DAO-alt::before {
  content: "\E02E";
}

.cc.DAO::before {
  content: "\E02F";
}

.cc.DASH-alt::before {
  content: "\E030";
}

.cc.DASH::before {
  content: "\E031";
}

.cc.DCR-alt::before {
  content: "\E032";
}

.cc.DCR::before {
  content: "\E033";
}

.cc.DCT-alt::before {
  content: "\E034";
}

.cc.DCT::before {
  content: "\E035";
}

.cc.DGB-alt::before {
  content: "\E036";
}

.cc.DGB::before {
  content: "\E037";
}

.cc.DGD::before {
  content: "\E038";
}

.cc.DGX::before {
  content: "\E039";
}

.cc.DMD-alt::before {
  content: "\E03A";
}

.cc.DMD::before {
  content: "\E03B";
}

.cc.DOGE-alt::before {
  content: "\E03C";
}

.cc.DOGE::before {
  content: "\E03D";
}

.cc.EMC-alt::before {
  content: "\E03E";
}

.cc.EMC::before {
  content: "\E03F";
}

.cc.EOS-alt::before {
  content: "\E040";
}

.cc.EOS::before {
  content: "\E041";
}

.cc.ERC-alt::before {
  content: "\E042";
}

.cc.ERC::before {
  content: "\E043";
}

.cc.ETC-alt::before {
  content: "\E044";
}

.cc.ETC::before {
  content: "\E045";
}

.cc.ETH-alt::before {
  content: "\E046";
}

.cc.ETH::before {
  content: "\E047";
}

.cc.FC2-alt::before {
  content: "\E048";
}

.cc.FC2::before {
  content: "\E049";
}

.cc.FCT-alt::before {
  content: "\E04A";
}

.cc.FCT::before {
  content: "\E04B";
}

.cc.FLO-alt::before {
  content: "\E04C";
}

.cc.FLO::before {
  content: "\E04D";
}

.cc.FRK-alt::before {
  content: "\E04E";
}

.cc.FRK::before {
  content: "\E04F";
}

.cc.FTC-alt::before {
  content: "\E050";
}

.cc.FTC::before {
  content: "\E051";
}

.cc.GAME-alt::before {
  content: "\E052";
}

.cc.GAME::before {
  content: "\E053";
}

.cc.GDC-alt::before {
  content: "\E054";
}

.cc.GDC::before {
  content: "\E055";
}

.cc.GEMZ-alt::before {
  content: "\E056";
}

.cc.GEMZ::before {
  content: "\E057";
}

.cc.GLD-alt::before {
  content: "\E058";
}

.cc.GLD::before {
  content: "\E059";
}

.cc.GNO-alt::before {
  content: "\E05A";
}

.cc.GNO::before {
  content: "\E05B";
}

.cc.GNT-alt::before {
  content: "\E05C";
}

.cc.GNT::before {
  content: "\E05D";
}

.cc.GOLOS-alt::before {
  content: "\E05E";
}

.cc.GOLOS::before {
  content: "\E05F";
}

.cc.GRC-alt::before {
  content: "\E060";
}

.cc.GRC::before {
  content: "\E061";
}

.cc.GRS::before {
  content: "\E062";
}

.cc.HEAT-alt::before {
  content: "\E063";
}

.cc.HEAT::before {
  content: "\E064";
}

.cc.ICN-alt::before {
  content: "\E065";
}

.cc.ICN::before {
  content: "\E066";
}

.cc.IFC-alt::before {
  content: "\E067";
}

.cc.IFC::before {
  content: "\E068";
}

.cc.INCNT-alt::before {
  content: "\E069";
}

.cc.INCNT::before {
  content: "\E06A";
}

.cc.IOC-alt::before {
  content: "\E06B";
}

.cc.IOC::before {
  content: "\E06C";
}

.cc.IOTA-alt::before {
  content: "\E06D";
}

.cc.IOTA::before {
  content: "\E06E";
}

.cc.JBS-alt::before {
  content: "\E06F";
}

.cc.JBS::before {
  content: "\E070";
}

.cc.KMD-alt::before {
  content: "\E071";
}

.cc.KMD::before {
  content: "\E072";
}

.cc.KOBO::before {
  content: "\E073";
}

.cc.KORE-alt::before {
  content: "\E074";
}

.cc.KORE::before {
  content: "\E075";
}

.cc.LBC-alt::before {
  content: "\E076";
}

.cc.LBC::before {
  content: "\E077";
}

.cc.LDOGE-alt::before {
  content: "\E078";
}

.cc.LDOGE::before {
  content: "\E079";
}

.cc.LISK-alt::before {
  content: "\E07A";
}

.cc.LISK::before {
  content: "\E07B";
}

.cc.LTC-alt::before {
  content: "\E07C";
}

.cc.LTC::before {
  content: "\E07D";
}

.cc.MAID-alt::before {
  content: "\E07E";
}

.cc.MAID::before {
  content: "\E07F";
}

.cc.MCO-alt::before {
  content: "\E080";
}

.cc.MCO::before {
  content: "\E081";
}

.cc.MINT-alt::before {
  content: "\E082";
}

.cc.MINT::before {
  content: "\E083";
}

.cc.MONA-alt::before {
  content: "\E084";
}

.cc.MONA::before {
  content: "\E085";
}

.cc.MRC::before {
  content: "\E086";
}

.cc.MSC-alt::before {
  content: "\E087";
}

.cc.MSC::before {
  content: "\E088";
}

.cc.MTR-alt::before {
  content: "\E089";
}

.cc.MTR::before {
  content: "\E08A";
}

.cc.MUE-alt::before {
  content: "\E08B";
}

.cc.MUE::before {
  content: "\E08C";
}

.cc.NBT::before {
  content: "\E08D";
}

.cc.NEO-alt::before {
  content: "\E08E";
}

.cc.NEO::before {
  content: "\E08F";
}

.cc.NEOS-alt::before {
  content: "\E090";
}

.cc.NEOS::before {
  content: "\E091";
}

.cc.NEU-alt::before {
  content: "\E092";
}

.cc.NEU::before {
  content: "\E093";
}

.cc.NLG-alt::before {
  content: "\E094";
}

.cc.NLG::before {
  content: "\E095";
}

.cc.NMC-alt::before {
  content: "\E096";
}

.cc.NMC::before {
  content: "\E097";
}

.cc.NOTE-alt::before {
  content: "\E098";
}

.cc.NOTE::before {
  content: "\E099";
}

.cc.NVC-alt::before {
  content: "\E09A";
}

.cc.NVC::before {
  content: "\E09B";
}

.cc.NXT-alt::before {
  content: "\E09C";
}

.cc.NXT::before {
  content: "\E09D";
}

.cc.OK-alt::before {
  content: "\E09E";
}

.cc.OK::before {
  content: "\E09F";
}

.cc.OMG-alt::before {
  content: "\E0A0";
}

.cc.OMG::before {
  content: "\E0A1";
}

.cc.OMNI-alt::before {
  content: "\E0A2";
}

.cc.OMNI::before {
  content: "\E0A3";
}

.cc.OPAL-alt::before {
  content: "\E0A4";
}

.cc.OPAL::before {
  content: "\E0A5";
}

.cc.PART-alt::before {
  content: "\E0A6";
}

.cc.PART::before {
  content: "\E0A7";
}

.cc.PIGGY-alt::before {
  content: "\E0A8";
}

.cc.PIGGY::before {
  content: "\E0A9";
}

.cc.PINK-alt::before {
  content: "\E0AA";
}

.cc.PINK::before {
  content: "\E0AB";
}

.cc.PIVX-alt::before {
  content: "\E0AC";
}

.cc.PIVX::before {
  content: "\E0AD";
}

.cc.POT-alt::before {
  content: "\E0AE";
}

.cc.POT::before {
  content: "\E0AF";
}

.cc.PPC-alt::before {
  content: "\E0B0";
}

.cc.PPC::before {
  content: "\E0B1";
}

.cc.QRK-alt::before {
  content: "\E0B2";
}

.cc.QRK::before {
  content: "\E0B3";
}

.cc.RADS-alt::before {
  content: "\E0B4";
}

.cc.RADS::before {
  content: "\E0B5";
}

.cc.RBIES-alt::before {
  content: "\E0B6";
}

.cc.RBIES::before {
  content: "\E0B7";
}

.cc.RBT-alt::before {
  content: "\E0B8";
}

.cc.RBT::before {
  content: "\E0B9";
}

.cc.RBY-alt::before {
  content: "\E0BA";
}

.cc.RBY::before {
  content: "\E0BB";
}

.cc.RDD-alt::before {
  content: "\E0BC";
}

.cc.RDD::before {
  content: "\E0BD";
}

.cc.REP-alt::before {
  content: "\E0BE";
}

.cc.REP::before {
  content: "\E0BF";
}

.cc.RISE-alt::before {
  content: "\E0C0";
}

.cc.RISE::before {
  content: "\E0C1";
}

.cc.SAR-alt::before {
  content: "\E0C2";
}

.cc.SAR::before {
  content: "\E0C3";
}

.cc.SCOT-alt::before {
  content: "\E0C4";
}

.cc.SCOT::before {
  content: "\E0C5";
}

.cc.SDC-alt::before {
  content: "\E0C6";
}

.cc.SDC::before {
  content: "\E0C7";
}

.cc.SIA-alt::before {
  content: "\E0C8";
}

.cc.SIA::before {
  content: "\E0C9";
}

.cc.SJCX-alt::before {
  content: "\E0CA";
}

.cc.SJCX::before {
  content: "\E0CB";
}

.cc.SLG-alt::before {
  content: "\E0CC";
}

.cc.SLG::before {
  content: "\E0CD";
}

.cc.SLS-alt::before {
  content: "\E0CE";
}

.cc.SLS::before {
  content: "\E0CF";
}

.cc.SNRG-alt::before {
  content: "\E0D0";
}

.cc.SNRG::before {
  content: "\E0D1";
}

.cc.START-alt::before {
  content: "\E0D2";
}

.cc.START::before {
  content: "\E0D3";
}

.cc.STEEM-alt::before {
  content: "\E0D4";
}

.cc.STEEM::before {
  content: "\E0D5";
}

.cc.STR-alt::before {
  content: "\E0D6";
}

.cc.STR::before {
  content: "\E0D7";
}

.cc.STRAT-alt::before {
  content: "\E0D8";
}

.cc.STRAT::before {
  content: "\E0D9";
}

.cc.SWIFT-alt::before {
  content: "\E0DA";
}

.cc.SWIFT::before {
  content: "\E0DB";
}

.cc.SYNC-alt::before {
  content: "\E0DC";
}

.cc.SYNC::before {
  content: "\E0DD";
}

.cc.SYS-alt::before {
  content: "\E0DE";
}

.cc.SYS::before {
  content: "\E0DF";
}

.cc.TRIG-alt::before {
  content: "\E0E0";
}

.cc.TRIG::before {
  content: "\E0E1";
}

.cc.TX-alt::before {
  content: "\E0E2";
}

.cc.TX::before {
  content: "\E0E3";
}

.cc.UBQ-alt::before {
  content: "\E0E4";
}

.cc.UBQ::before {
  content: "\E0E5";
}

.cc.UNITY-alt::before {
  content: "\E0E6";
}

.cc.UNITY::before {
  content: "\E0E7";
}

.cc.USDT-alt::before {
  content: "\E0E8";
}

.cc.USDT::before {
  content: "\E0E9";
}

.cc.VIOR-alt::before {
  content: "\E0EA";
}

.cc.VIOR::before {
  content: "\E0EB";
}

.cc.VNL-alt::before {
  content: "\E0EC";
}

.cc.VNL::before {
  content: "\E0ED";
}

.cc.VPN-alt::before {
  content: "\E0EE";
}

.cc.VPN::before {
  content: "\E0EF";
}

.cc.VRC-alt::before {
  content: "\E0F0";
}

.cc.VRC::before {
  content: "\E0F1";
}

.cc.VTC-alt::before {
  content: "\E0F2";
}

.cc.VTC::before {
  content: "\E0F3";
}

.cc.WAVES-alt::before {
  content: "\E0F4";
}

.cc.WAVES::before {
  content: "\E0F5";
}

.cc.XAI-alt::before {
  content: "\E0F6";
}

.cc.XAI::before {
  content: "\E0F7";
}

.cc.XBS-alt::before {
  content: "\E0F8";
}

.cc.XBS::before {
  content: "\E0F9";
}

.cc.XCP-alt::before {
  content: "\E0FA";
}

.cc.XCP::before {
  content: "\E0FB";
}

.cc.XEM-alt::before {
  content: "\E0FC";
}

.cc.XEM::before {
  content: "\E0FD";
}

.cc.XMR::before {
  content: "\E0FE";
}

.cc.XPM-alt::before {
  content: "\E0FF";
}

.cc.XPM::before {
  content: "\E100";
}

.cc.XRP-alt::before {
  content: "\E101";
}

.cc.XRP::before {
  content: "\E102";
}

.cc.XTZ-alt::before {
  content: "\E103";
}

.cc.XTZ::before {
  content: "\E104";
}

.cc.XVG-alt::before {
  content: "\E105";
}

.cc.XVG::before {
  content: "\E106";
}

.cc.YBC-alt::before {
  content: "\E107";
}

.cc.YBC::before {
  content: "\E108";
}

.cc.ZEC-alt::before {
  content: "\E109";
}

.cc.ZEC::before {
  content: "\E10A";
}

.cc.ZEIT-alt::before {
  content: "\E10B";
}

.cc.ZEIT::before {
  content: "\E10C";
}
