.ADC { background-color: #3CB0E5 !important; }
.AEON { background-color: #164450 !important; }
.AMP { background-color: #048DD2!important; }
.ANC { background-color: #000 !important; }
.ARCH {background-color: #002652!important; }
.ARDR { background-color: #1162a1!important; }
.AUR { background-color: #136c5e!important; }
.BANX {background-color: #225BA6!important; }
.BAT { background-color: #9e1f63 !important; }
.BAY { background-color: #584ba1 !important; }
.BC { background-color: #202121 !important; }
.BCN { background-color: #964F51 !important; }
.BFT { background-color: #4fc3f7 !important; }
.BRK { background-color: #194fa0 !important; }
.BRX { background-color: #a8c300 !important; }
.BSD { background-color: #1186E7 !important; }
.BTA { background-color: #210094 !important; }
.BTC, .BCH { background-color: #F7931A !important; }
.BTCD {background-color: #2A72DC !important; }
.BTS { background-color: #03A9E0 !important; }
.CLAM {background-color: #D6AB31 !important; }
.CLOAK {background-color: #DF3F1E !important; }
.DAO { background-color: #FF3B3B !important; }
.DASH {background-color: #1c75bc !important; }
.DCR { background-color: #3b7cfb !important; }
.DCT { background-color: #008770 !important; }
.DGB { background-color: #0066cc !important; }
.DGD, .DGX { background-color: #D8A24A !important; }
.DMD { background-color: #5497b2 !important; }
.DOGE {background-color: #BA9F33 !important; }
.EMC { background-color: #674c8c !important; }
.EOS { background-color: #19191A !important; }
.ERC { background-color: #101E84 !important; }
.ETC { background-color: #669073 !important; }
.ETH { background-color: #282828 !important;}
.FC2 { background-color: #040405 !important; }
.FCT { background-color: #2175BB !important; }
.FLO { background-color: #1358C8 !important; }
.FRK { background-color: #0633cd !important; }
.FTC { background-color: #679EF1 !important; }
.GAME {background-color: #ed1b24 !important; }
.GDC { background-color: #E9A226 !important; }
.GEMZ {background-color: #e86060 !important; }
.GLD { background-color: #E8BE24 !important; }
.GNO { background-color: #00A6C4 !important; }
.GNT { background-color: #00d6e3 !important; }
.GOLOS { background-color: #2670B7 !important; }
.GRC { background-color: #88A13C !important; }
.GRS { background-color: #648FA0 !important; }
.HEAT {background-color: #ff5606 !important; }
.ICN { background-color: #4c6f8c !important; }
.IFC { background-color: #ed272d !important; }
.INCNT { background-color: #f2932f !important; }
.IOC { background-color: #2fa3de !important; }
.IOTA {background-color: #FFFFFF !important; }
.JBS { background-color: #1A8BCD !important; }
.KMD { background-color: #326464 !important; }
.KOBO {background-color: #80C342 !important; }
.KORE {background-color: #DF4124 !important; }
.LBC { background-color: #015C47 !important; }
.LDOGE { background-color: #ffcc00 !important; }
.LISK {background-color: #1A6896 !important; }
.LTC { background-color: #838383 !important; }
.MAID {background-color: #5492D6 !important; }
.MCO { background-color: #0D3459 !important; }
.MINT {background-color: #006835 !important; }
.MONA {background-color: #a99364 !important; }
.MRC { background-color: #4279bd !important; }
.MSC { background-color: #1D4983 !important; }
.MTR { background-color: #b92429 !important; }
.MUE { background-color: #f5a10e !important; }
.NBT { background-color: #FFC93D !important; }
.NEO { background-color: #58BF00 !important; }
.NEOS {background-color: #1d1d1b !important; }
.NEU { background-color: #2983c0 !important; }
.NLG { background-color: #003E7E !important; }
.NMC { background-color: #6787B7 !important; }
.NOTE {background-color: #42daff !important; }
.NVC { background-color: #ecab41 !important; }
.NXT { background-color: #008FBB !important; }
.OK { background-color: #0165A4 !important; }
.OMG { background-color: #1A53F0 !important; }
.OMNI {background-color: #18347E !important; }
.OPAL {background-color: #7193AA !important; }
.PART {background-color: #05D5A3 !important; }
.PIGGY { background-color: #F27A7A !important; }
.PINK {background-color: #ED31CA !important; }
.PIVX {background-color: #3b2f4d !important; }
.POT { background-color: #105B2F !important; }
.PPC { background-color: #3FA30C !important; }
.QRK { background-color: #22AABF !important; }
.RADS {background-color: #924cea !important; }
.RBIES { background-color: #C62436 !important; }
.RBT { background-color: #0d4982 !important; }
.RBY { background-color: #D31F26 !important; }
.RDD { background-color: #ED1C24 !important; }
.REP { background-color: #40a2cb !important; }
.RISE {background-color: #43CEA2 !important; }
.SAR { background-color: #1B72B8 !important; }
.SCOT {background-color: #3498DB !important; }
.SDC { background-color: #981D2D !important; }
.SIA { background-color: #00CBA0 !important; }
.SJCX {background-color: #003366 !important; }
.SLG { background-color: #5A6875 !important; }
.SLS { background-color: #1EB549 !important; }
.SNRG {background-color: #160363 !important; }
.START { background-color: #01AEF0 !important; }
.STEEM { background-color: #1A5099 !important; }
.STR { background-color: #08B5E5 !important; }
.STRAT { background-color: #2398dd !important; }
.SWIFT { background-color: #428BCA !important; }
.SYNC {background-color: #008DD2 !important; }
.SYS { background-color: #0098DA !important; }
.TRIG {background-color: #1fbff4 !important; }
.TX { background-color: #1F8BCC !important; }
.UBQ { background-color: #00ec8d !important; }
.UNITY { background-color: #ED8527 !important; }
.USDT {background-color: #2CA07A !important; }
.VIOR {background-color: #1F52A4 !important; }
.VNL { background-color: #404249 !important; }
.VPN { background-color: #589700 !important; }
.VRC { background-color: #418bca !important; }
.VTC { background-color: #1b5c2e !important; }
.WAVES { background-color: #24aad6 !important; }
.XAI { background-color: #2ef99f !important; }
.XBS { background-color: #d3261d !important; }
.XCP { background-color: #EC1550 !important; }
.XEM { background-color: #41bf76 !important; }
.XMR { background-color: #FF6600 !important; }
.XPM { background-color: #e5b625 !important; }
.XRP { background-color: #346AA9 !important; }
.XTZ { background-color: #A6DF00 !important; }
.XVG { background-color: #42AFB2 !important; }
.YBC { background-color: #D6C154 !important; }
.ZEC { background-color: #e5a93d !important; }
.ZEIT {background-color: #ACACAC !important; }
