﻿@charset "UTF-8";

ul, ol {
    list-style: none;
}

@-webkit-keyframes rd-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes rd-navbar-slide-down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes rd-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes rd-navbar-slide-up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

/*
* @subsection General Styles
*/
.rd-navbar-wrap, .rd-navbar-fixed .rd-navbar-nav-wrap, .rd-navbar-fixed .rd-navbar-submenu {
  -webkit-transition: 0.32s all cubic-bezier(1, 0.54, 0.15, 0.86);
  -o-transition: 0.32s all cubic-bezier(1, 0.54, 0.15, 0.86);
  transition: 0.32s all cubic-bezier(1, 0.54, 0.15, 0.86);
}

.rd-navbar, .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar-fixed,
.rd-navbar-static,
.rd-navbar-fullwidth,
.rd-navbar-sidebar {
  display: block;
}

.rd-navbar--no-transition, .rd-navbar--no-transition * {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.rd-navbar-wrap {
  position: relative;
  z-index: 1080;
  font-size: 0;
  line-height: 0;
}

.rd-navbar-wrap,
.rd-navbar,
.rd-navbar-brand,
.rd-navbar-slogan,
.rd-navbar-dropdown,
.rd-navbar-megamenu,
.rd-navbar-collapse-items,
.brand-name,
.rd-navbar-nav,
.rd-navbar-panel,
.rd-navbar-search-form-input,
.rd-navbar-search-form-submit,
.rd-navbar-search-toggle,
.rd-navbar-live-search-results,
.rd-navbar-search-form {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-collapse-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #292929;
  display: none;
}

.rd-navbar-collapse-toggle span {
  top: 50%;
  margin-top: -3px;
}

.rd-navbar-collapse-toggle span, .rd-navbar-collapse-toggle span:before, .rd-navbar-collapse-toggle span:after {
  position: absolute;
  width: 6px;
  height: 6px;
  line-height: 6px;
  text-align: center;
  background: #292929;
  left: 50%;
  margin-left: -3px;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-collapse-toggle span:before, .rd-navbar-collapse-toggle span:after {
  content: '';
}

.rd-navbar-collapse-toggle span:before {
  bottom: 100%;
  margin-bottom: 3px;
}

.rd-navbar-collapse-toggle span:after {
  top: 100%;
  margin-top: 3px;
}

.rd-navbar-collapse-toggle.active span {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.rd-navbar-collapse-toggle.active span:before {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
}

.rd-navbar-collapse-toggle.active span:after {
  -webkit-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  transform: translateY(-18px);
}

/*
* Navbar components
*/
.rd-navbar {
  background: #ffffff;
}

.rd-navbar-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #9b9b9b;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.rd-navbar-toggle span {
  position: relative;
  display: block;
  margin: auto;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-toggle span:after, .rd-navbar-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-toggle span:after {
  top: 8px;
}

.rd-navbar-toggle span:after, .rd-navbar-toggle span:before, .rd-navbar-toggle span {
  width: 24px;
  height: 4px;
  background-color: #9b9b9b;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rd-navbar-toggle span:before, .rd-navbar-toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.rd-navbar-toggle.active span {
  -webkit-transition: background .3s 0s ease;
  -o-transition: background .3s 0s ease;
  transition: background .3s 0s ease;
  background: transparent;
}

.rd-navbar-toggle.active span:before, .rd-navbar-toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.rd-navbar-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rd-navbar-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rd-navbar_transparent .rd-navbar-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.rd-navbar_transparent .rd-navbar-toggle span {
  position: relative;
  display: block;
  margin: auto;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar_transparent .rd-navbar-toggle span:after, .rd-navbar_transparent .rd-navbar-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar_transparent .rd-navbar-toggle span:after {
  top: 8px;
}

.rd-navbar_transparent .rd-navbar-toggle span:after, .rd-navbar_transparent .rd-navbar-toggle span:before, .rd-navbar_transparent .rd-navbar-toggle span {
  width: 24px;
  height: 4px;
  background-color: #ffffff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rd-navbar_transparent .rd-navbar-toggle span:before, .rd-navbar_transparent .rd-navbar-toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  -o-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  -o-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  -o-transition-property: top, transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.rd-navbar_transparent .rd-navbar-toggle.active span {
  -webkit-transition: background .3s 0s ease;
  -o-transition: background .3s 0s ease;
  transition: background .3s 0s ease;
  background: transparent;
}

.rd-navbar_transparent .rd-navbar-toggle.active span:before, .rd-navbar_transparent .rd-navbar-toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  -o-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.rd-navbar_transparent .rd-navbar-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rd-navbar_transparent .rd-navbar-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rd-navbar-brand img {
  width: auto;
}

.rd-navbar-brand .brand__logo-light {
  display: none;
  margin: 0;
}

.rd-navbar-items-list {
  color: #292929;
  line-height: 1.66667;
}

.rd-navbar-search .form-input,
.rd-navbar-search .form-label {
  font-size: 16px;
}

.rd-navbar-search .rd-navbar-search-toggle,
.rd-navbar-search .rd-navbar-search-submit {
  font-size: 20px;
  color: #292929;
}

.rd-navbar-search .rd-search {
  margin: 0;
}

.rd-navbar-search .rd-search > * + * {
  margin-top: 0;
}

.rd-navbar-search-toggled .rd-search .form-input {
  padding-right: 42px;
  z-index: 1;
  background: #ffffff;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle,
.rd-navbar-search-toggled .rd-navbar-search-submit {
  background: none;
  border: none;
  display: inline-block;
  padding: 0;
  outline: none;
  outline-offset: 0;
  cursor: pointer;
  -webkit-appearance: none;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle::-moz-focus-inner,
.rd-navbar-search-toggled .rd-navbar-search-submit::-moz-focus-inner {
  border: none;
  padding: 0;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle, .rd-navbar-search-toggled .rd-navbar-search-toggle:active, .rd-navbar-search-toggled .rd-navbar-search-toggle:focus,
.rd-navbar-search-toggled .rd-navbar-search-submit,
.rd-navbar-search-toggled .rd-navbar-search-submit:active,
.rd-navbar-search-toggled .rd-navbar-search-submit:focus {
  color: #292929;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle:hover,
.rd-navbar-search-toggled .rd-navbar-search-submit:hover {
  color: #48a648;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle::before,
.rd-navbar-search-toggled .rd-navbar-search-submit::before {
  content: '\e014';
  font-family: 'fl-chapps';
}

.rd-navbar-search-toggled .rd-navbar-search-toggle {
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.rd-navbar-search-toggled .rd-navbar-search-toggle::before, .rd-navbar-search-toggled .rd-navbar-search-toggle::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: inherit;
  line-height: inherit;
  text-align: center;
  color: inherit;
  will-change: transform;
}

.rd-navbar-search-toggled .rd-navbar-search-submit {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .24s all ease;
  -o-transition: .24s all ease;
  transition: .24s all ease;
}

.rd-navbar-search-toggled .rd-navbar-search-submit::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  font: 400 20px 'fl-chapps';
  line-height: inherit;
  text-align: center;
  color: inherit;
}

/*
* @subsection   Hybrid  Styles
*/
.rd-navbar.rd-navbar-fixed + .rd-navbar.rd-navbar--is-clone,
.rd-navbar.rd-navbar-sidebar + .rd-navbar.rd-navbar--is-clone {
  display: none;
}

.rd-navbar {
  font-size: 14px;
  line-height: 1.71429;
}

.rd-navbar .rd-navbar-nav > li {
  font-size: 14px;
  line-height: 1.4;
}

.rd-navbar .rd-navbar-nav > li > a {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: .05em;
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu {
  opacity: 0;
  visibility: hidden;
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu.focus,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu.focus {
  opacity: 1;
  visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu > .rd-navbar-megamenu {
  -webkit-transform: translateY(-10px) scale(1, 0.9);
  -ms-transform: translateY(-10px) scale(1, 0.9);
  transform: translateY(-10px) scale(1, 0.9);
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu.opened > .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu.focus > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu.focus > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu.opened > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu.focus > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu.focus > .rd-navbar-megamenu {
  -webkit-transform: translateY(0) scale(1, 1);
  -ms-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu .rd-navbar-submenu.focus > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar-submenu .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu .rd-navbar-submenu.focus > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar-submenu .rd-navbar-submenu.opened > .rd-navbar-dropdown {
  display: block;
}

.rd-navbar-fullwidth .rd-navbar-nav > li,
.rd-navbar-static .rd-navbar-nav > li {
  display: inline-block;
  white-space: nowrap;
}

.rd-navbar-fullwidth .rd-navbar-nav > li a,
.rd-navbar-static .rd-navbar-nav > li a {
  position: relative;
  white-space: normal;
  z-index: 2;
  display: inline-block;
  color: #151515;
  background: transparent;
  cursor: pointer;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.opened > a,
.rd-navbar-fullwidth .rd-navbar-nav > li.active > a,
.rd-navbar-fullwidth .rd-navbar-nav > li.focus > a,
.rd-navbar-fullwidth .rd-navbar-nav > li > a:hover,
.rd-navbar-static .rd-navbar-nav > li.opened > a,
.rd-navbar-static .rd-navbar-nav > li.active > a,
.rd-navbar-static .rd-navbar-nav > li.focus > a,
.rd-navbar-static .rd-navbar-nav > li > a:hover {
  color: #48a648;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-nav li.focus > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav li.focus > .rd-navbar-megamenu,
.rd-navbar-fullwidth .rd-navbar-nav li.opened > .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-nav li.opened > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav li.focus > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav li.focus > .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-nav li.opened > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav li.opened > .rd-navbar-megamenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.rd-navbar-fullwidth .rd-navbar-nav .rd-navbar--has-dropdown,
.rd-navbar-static .rd-navbar-nav .rd-navbar--has-dropdown {
  position: relative;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown {
  position: absolute;
  left: 0;
  z-index: 5;
  display: block;
  text-align: left;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown.rd-navbar-open-left,
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown.rd-navbar-open-left {
  left: 0;
  right: auto;
}

.rd-navbar-fullwidth .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-megamenu {
  border: 1px solid #f6f6f6;
}

.rd-navbar-fullwidth .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-dropdown {
  width: 240px;
  padding: 25px 30px;
  margin-left: -22px;
  background: #ffffff;
  border-bottom: 3px solid #48a648;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown,
.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown {
  position: absolute;
  left: 100%;
  margin-left: 35px;
  top: -25px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown .rd-navbar-dropdown.rd-navbar-open-right,
.rd-navbar-static .rd-navbar-dropdown .rd-navbar-dropdown.rd-navbar-open-right {
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-right: 35px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a {
  display: block;
  width: 100%;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:focus, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:active,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a:focus,
.rd-navbar-static .rd-navbar-dropdown > li > a:active {
  color: #151515;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover,
.rd-navbar-static .rd-navbar-dropdown > li > a:hover {
  color: #48a648;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li.focus > a,
.rd-navbar-fullwidth .rd-navbar-dropdown > li.opened > a,
.rd-navbar-static .rd-navbar-dropdown > li.focus > a,
.rd-navbar-static .rd-navbar-dropdown > li.opened > a {
  color: #48a648;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-megamenu,
.rd-navbar-static .rd-navbar-megamenu {
  position: absolute;
  z-index: 4;
  display: table;
  table-layout: fixed;
  width: calc(100% - 30px);
  left: 15px;
  max-width: 1200px;
  margin-top: 25px;
  text-align: left;
  background: #ffffff;
}

.rd-navbar-fullwidth .rd-navbar-megamenu > li,
.rd-navbar-static .rd-navbar-megamenu > li {
  position: relative;
  display: table-cell;
  padding: 34px 20px 30px 35px;
}

@media (min-width: 1200px) {
  .rd-navbar-fullwidth .rd-navbar-megamenu,
  .rd-navbar-static .rd-navbar-megamenu {
    width: calc(100% - 60px);
    left: 30px;
  }
  .rd-navbar-fullwidth .rd-navbar-megamenu > li,
  .rd-navbar-static .rd-navbar-megamenu > li {
    padding: 45px 30px 50px 50px;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-fullwidth .rd-navbar-megamenu,
  .rd-navbar-static .rd-navbar-megamenu {
    width: 1170px;
    left: calc(50vw - 585px);
  }
  .rd-navbar-fullwidth .rd-navbar-megamenu > li,
  .rd-navbar-static .rd-navbar-megamenu > li {
    padding: 45px 40px 50px 40px;
  }
}

.rd-navbar-fullwidth .rd-megamenu-header,
.rd-navbar-static .rd-megamenu-header {
  position: relative;
  display: block;
  padding-bottom: 7px;
  color: #151515;
  font-weight: 700;
}

.rd-navbar-fullwidth .rd-megamenu-header::after,
.rd-navbar-static .rd-megamenu-header::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid #e5e7e9;
}

.rd-navbar-fullwidth * + .rd-megamenu-header,
.rd-navbar-static * + .rd-megamenu-header {
  margin-top: 40px;
}

.rd-navbar-fullwidth * + .rd-megamenu-list,
.rd-navbar-static * + .rd-megamenu-list {
  margin-top: 22px;
}

.rd-navbar-fullwidth .rd-navbar-items-list > li,
.rd-navbar-static .rd-navbar-items-list > li {
  display: inline-block;
  padding-left: 35px;
  padding-right: 35px;
}

.rd-navbar-fullwidth .rd-navbar-items-list > li:first-child,
.rd-navbar-static .rd-navbar-items-list > li:first-child {
  margin-left: 0;
}

.rd-navbar-fullwidth .rd-navbar-items-list > li:last-child,
.rd-navbar-static .rd-navbar-items-list > li:last-child {
  margin-right: 0;
}

.rd-navbar-fullwidth .rd-navbar-items-list > li:not(:last-child),
.rd-navbar-static .rd-navbar-items-list > li:not(:last-child) {
  border-right: 1px solid #f6f6f6;
}

.rd-navbar-fullwidth .rd-navbar-search-toggled .rd-search,
.rd-navbar-static .rd-navbar-search-toggled .rd-search {
  position: absolute;
  z-index: 10;
  top: -10px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition: .33s;
  -o-transition: .33s;
  transition: .33s;
  opacity: 0;
  visibility: hidden;
}

.rd-navbar-fullwidth .rd-navbar-search-toggled .rd-navbar-search-toggle,
.rd-navbar-static .rd-navbar-search-toggled .rd-navbar-search-toggle {
  opacity: 1;
  visibility: visible;
  margin-top: 1px;
}

.rd-navbar-fullwidth .rd-navbar-search-toggled.active .rd-search,
.rd-navbar-static .rd-navbar-search-toggled.active .rd-search {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.rd-navbar-fullwidth .rd-navbar-nav > li,
.rd-navbar-static .rd-navbar-nav > li {
  white-space: nowrap;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > *,
.rd-navbar-static .rd-navbar-nav > li > * {
  white-space: normal;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-submenu-toggle {
  display: inline-block;
  width: 17px;
  text-align: center;
  cursor: pointer;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-submenu-toggle::after {
  content: '\f107';
  position: relative;
  display: inline-block;
  font: 400 14px "FontAwesome";
  text-align: center;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  z-index: 2;
  color: #151515;
  will-change: transform;
  -webkit-filter: blur(0);
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu a,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu a {
  position: relative;
  margin-right: 15px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle,
.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu a:hover ~ .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu a:hover ~ .rd-navbar-submenu-toggle {
  color: #48a648;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu.focus .rd-navbar-submenu-toggle,
.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu > a:hover + .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu.focus .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu > a:hover + .rd-navbar-submenu-toggle {
  opacity: 0;
  right: -19px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu-toggle,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu-toggle {
  position: absolute;
  top: 2px;
  right: -15px;
  cursor: pointer;
  padding: 3px;
  line-height: 1;
  color: #151515;
  -webkit-transition: .22s;
  -o-transition: .22s;
  transition: .22s;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown .rd-navbar-submenu-toggle::after {
  content: '\f105';
  position: relative;
  display: inline-block;
  font: 400 14px "FontAwesome";
  text-align: center;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  z-index: 2;
  will-change: transform;
  -webkit-filter: blur(0);
}

.rd-navbar-fullwidth .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth .rd-navbar-nav > li > a:hover + .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li > a:hover + .rd-navbar-submenu-toggle::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rd-navbar-fullwidth .rd-navbar-nav > li.active > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth .rd-navbar-nav > li > a:hover + .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li.active > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-static .rd-navbar-nav > li > a:hover + .rd-navbar-submenu-toggle::after {
  color: #48a648;
}

.rd-navbar-static.rd-navbar_transparent .rd-navbar-nav > li > a,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-nav > li > a {
  color: #ffffff;
}

.rd-navbar-static.rd-navbar_transparent .rd-navbar-nav > li > a::after,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-nav > li > a::after {
  background: #ffffff;
}

.rd-navbar-static.rd-navbar_transparent .rd-navbar-nav > li.active > a,
.rd-navbar-static.rd-navbar_transparent .rd-navbar-nav > li:hover > a,
.rd-navbar-static.rd-navbar_transparent .rd-navbar-nav > li.focus > a,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-nav > li.active > a,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-nav > li:hover > a,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-nav > li.focus > a {
  color: #575757;
}

.rd-navbar-static.rd-navbar_transparent .rd-navbar-brand .brand__slogan,
.rd-navbar-fullwidth.rd-navbar_transparent .rd-navbar-brand .brand__slogan {
  color: #ffffff;
}

.rd-navbar-static.rd-navbar_transparent.rd-navbar--is-clone, .rd-navbar-static.rd-navbar_transparent.rd-navbar--is-stuck,
.rd-navbar-fullwidth.rd-navbar_transparent.rd-navbar--is-clone,
.rd-navbar-fullwidth.rd-navbar_transparent.rd-navbar--is-stuck {
  background: #292929;
  border-bottom-color: #292929;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-megamenu-list > li > a {
  font-size: 16px;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-megamenu-list > li > a,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a {
  position: relative;
  display: block;
  width: 100%;
  letter-spacing: .06em;
  line-height: 1.6;
  padding: 1px 14px 1px 0;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:active, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:focus,
.rd-navbar-fullwidth .rd-megamenu-list > li > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:active,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:focus,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a:active,
.rd-navbar-static .rd-navbar-dropdown > li > a:focus,
.rd-navbar-static .rd-megamenu-list > li > a,
.rd-navbar-static .rd-megamenu-list > li > a:active,
.rd-navbar-static .rd-megamenu-list > li > a:focus,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:active,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:focus,
.rd-navbar-sidebar .rd-megamenu-list > li > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a:active,
.rd-navbar-sidebar .rd-megamenu-list > li > a:focus {
  color: #151515;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:hover,
.rd-navbar-static .rd-navbar-dropdown > li > a:hover,
.rd-navbar-static .rd-megamenu-list > li > a:hover,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list > li > a:hover {
  color: #48a648;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a::before,
.rd-navbar-fullwidth .rd-megamenu-list > li > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a::before,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a::before,
.rd-navbar-static .rd-megamenu-list > li > a,
.rd-navbar-static .rd-megamenu-list > li > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a::before,
.rd-navbar-sidebar .rd-megamenu-list > li > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a::before {
  -webkit-transition: .22s all ease;
  -o-transition: .22s all ease;
  transition: .22s all ease;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a::before,
.rd-navbar-fullwidth .rd-megamenu-list > li > a::before,
.rd-navbar-static .rd-navbar-dropdown > li > a::before,
.rd-navbar-static .rd-megamenu-list > li > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a::before,
.rd-navbar-sidebar .rd-megamenu-list > li > a::before {
  position: absolute;
  top: 1px;
  left: -6px;
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: inherit;
  line-height: inherit;
  color: #48a648;
  opacity: 0;
  visibility: hidden;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover,
.rd-navbar-fullwidth .rd-navbar-dropdown > li.focus > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:hover,
.rd-navbar-fullwidth .rd-megamenu-list > li.focus > a,
.rd-navbar-static .rd-navbar-dropdown > li > a:hover,
.rd-navbar-static .rd-navbar-dropdown > li.focus > a,
.rd-navbar-static .rd-megamenu-list > li > a:hover,
.rd-navbar-static .rd-megamenu-list > li.focus > a,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:hover,
.rd-navbar-sidebar .rd-navbar-dropdown > li.focus > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list > li.focus > a {
  padding-left: 14px;
  padding-right: 0;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover::before,
.rd-navbar-fullwidth .rd-navbar-dropdown > li.focus > a::before,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:hover::before,
.rd-navbar-fullwidth .rd-megamenu-list > li.focus > a::before,
.rd-navbar-static .rd-navbar-dropdown > li > a:hover::before,
.rd-navbar-static .rd-navbar-dropdown > li.focus > a::before,
.rd-navbar-static .rd-megamenu-list > li > a:hover::before,
.rd-navbar-static .rd-megamenu-list > li.focus > a::before,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:hover::before,
.rd-navbar-sidebar .rd-navbar-dropdown > li.focus > a::before,
.rd-navbar-sidebar .rd-megamenu-list > li > a:hover::before,
.rd-navbar-sidebar .rd-megamenu-list > li.focus > a::before {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:focus, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a:active,
.rd-navbar-fullwidth .rd-megamenu-list > li > a,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:focus,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:active,
.rd-navbar-static .rd-navbar-dropdown > li > a,
.rd-navbar-static .rd-navbar-dropdown > li > a:focus,
.rd-navbar-static .rd-navbar-dropdown > li > a:active,
.rd-navbar-static .rd-megamenu-list > li > a,
.rd-navbar-static .rd-megamenu-list > li > a:focus,
.rd-navbar-static .rd-megamenu-list > li > a:active,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:focus,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:active,
.rd-navbar-sidebar .rd-megamenu-list > li > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a:focus,
.rd-navbar-sidebar .rd-megamenu-list > li > a:active {
  color: #151515;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li > a:hover,
.rd-navbar-fullwidth .rd-megamenu-list > li > a:hover,
.rd-navbar-static .rd-navbar-dropdown > li > a:hover,
.rd-navbar-static .rd-megamenu-list > li > a:hover,
.rd-navbar-sidebar .rd-navbar-dropdown > li > a:hover,
.rd-navbar-sidebar .rd-megamenu-list > li > a:hover {
  color: #48a648;
  background: transparent;
}

.rd-navbar-fullwidth .rd-navbar-dropdown > li + li,
.rd-navbar-fullwidth .rd-megamenu-list > li + li,
.rd-navbar-static .rd-navbar-dropdown > li + li,
.rd-navbar-static .rd-megamenu-list > li + li,
.rd-navbar-sidebar .rd-navbar-dropdown > li + li,
.rd-navbar-sidebar .rd-megamenu-list > li + li {
  margin-top: 10px;
}

@media (min-width: 1800px) {
  .rd-navbar-fullwidth .rd-navbar-dropdown > li + li,
  .rd-navbar-fullwidth .rd-megamenu-list > li + li,
  .rd-navbar-static .rd-navbar-dropdown > li + li,
  .rd-navbar-static .rd-megamenu-list > li + li,
  .rd-navbar-sidebar .rd-navbar-dropdown > li + li,
  .rd-navbar-sidebar .rd-megamenu-list > li + li {
    margin-top: 17px;
  }
}

/*
* Static Layout
*/
.rd-navbar-static {
  display: block;
  position: relative;
  background-color: #ffffff;
}

.rd-navbar-static .rd-navbar-main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  max-width: 1230px;
  padding: 34px 0;
  margin-left: auto;
  margin-right: auto;
}

.rd-navbar-static .rd-navbar-main > * + * {
  margin-top: 0;
}

.rd-navbar-static .rd-navbar-main > * {
  padding-left: 15px;
  padding-right: 15px;
}

.rd-navbar-static .rd-navbar-main {
  position: relative;
  -webkit-transition: .33s all ease;
  -o-transition: .33s all ease;
  transition: .33s all ease;
}

.rd-navbar-static .rd-navbar-panel {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rd-navbar-static .rd-navbar-nav-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}

.rd-navbar-static .rd-navbar-nav-wrap > * {
  padding-left: 15px;
  padding-right: 15px;
}

.rd-navbar-static .rd-navbar-nav {
  align-items: center;
  flex-grow: 1;
  padding: 10px 35px;
  margin-bottom: 0;
  font-size: 0;
  line-height: 0;
  text-align: left;
}

.rd-navbar-static .rd-navbar-nav > li + li {
  margin-left: 15px;
}

.rd-navbar-static .rd-navbar-nav > li.rd-navbar-submenu > a {
  padding-right: 30px;
}

.rd-navbar-static .rd-navbar-nav > li.rd-navbar-submenu > .rd-navbar-submenu-toggle {
  position: relative;
  left: -26px;
}

.rd-navbar-static .rd-navbar-nav > li > a {
  position: relative;
  padding: 8px 16px;
}

.rd-navbar-static .rd-navbar-nav > li > a span {
  position: absolute;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  border: 0 solid transparent;
  background-color: transparent;
  pointer-events: none;
  -webkit-transition: .33s;
  -o-transition: .33s;
  transition: .33s;
  -webkit-transform: scale3d(1.35, 1.35, 1.35);
  transform: scale3d(1.35, 1.35, 1.35);
}

.rd-navbar-static .rd-navbar-nav > li > a span:nth-child(1) {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}

.rd-navbar-static .rd-navbar-nav > li > a span:nth-child(2) {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}

.rd-navbar-static .rd-navbar-nav > li > a span:nth-child(3) {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}

.rd-navbar-static .rd-navbar-nav > li > a span:nth-child(4) {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}

.rd-navbar-static .rd-navbar-nav > li > a:hover span {
  border-color: #48a648;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.rd-navbar-static .rd-navbar-nav > li.focus > a span,
.rd-navbar-static .rd-navbar-nav > li.active > a span {
  border-color: #48a648;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.rd-navbar-static .rd-navbar-nav > li .rd-navbar-dropdown {
  margin-top: 20px;
}

.rd-navbar-static .rd-navbar-nav > li .rd-navbar-megamenu {
  margin-top: 37px;
}

@media (max-width: 1199px) {
  .rd-navbar-static .rd-navbar-main {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .rd-navbar-static .rd-navbar-main > * {
    width: 100%;
  }
  .rd-navbar-static .rd-navbar-main > * + * {
    padding-top: 20px;
  }
  .rd-navbar-static .rd-navbar-nav-wrap {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .rd-navbar-static.rd-navbar--is-stuck .rd-navbar-panel, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-panel {
    display: none;
  }
  .rd-navbar-static.rd-navbar--is-stuck .rd-navbar-main > * + *, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-main > * + * {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-static .rd-navbar-aside {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .rd-navbar-static .rd-navbar-megamenu {
    left: 15px;
  }
  .rd-navbar-static .rd-navbar-content > * + * {
    margin-left: 20px;
  }
}

.rd-navbar-static.rd-navbar--is-stuck, .rd-navbar-static.rd-navbar--is-clone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 10px 1px rgba(21, 21, 21, 0.1);
  box-shadow: 0 2px 10px 1px rgba(21, 21, 21, 0.1);
}

.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-main, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-main {
  padding: 5px 0;
}

.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li .rd-navbar-dropdown,
.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav > li .rd-navbar-megamenu, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li .rd-navbar-dropdown,
.rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav > li .rd-navbar-megamenu {
  margin-top: 17px;
}

@media (max-width: 1199px) {
  .rd-navbar-static.rd-navbar--is-stuck .rd-navbar-nav-wrap, .rd-navbar-static.rd-navbar--is-clone .rd-navbar-nav-wrap {
    padding-top: 0;
  }
}

.rd-navbar-static-linked .rd-navbar-static--hidden {
  display: none;
}

.rd-navbar-static.rd-navbar_inverse .brand__logo-dark {
  display: none;
}

.rd-navbar-static.rd-navbar_inverse .brand__logo-light {
  display: block;
}

.rd-navbar-static.rd-navbar_inverse .brand__slogan {
  color: #a3a3a3;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li > a {
  color: #151515;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li > a:hover {
  color: #48a648;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.active > a,
.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.opened > a,
.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.focus > a {
  color: #48a648;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.active > .rd-navbar-submenu-toggle::after,
.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after {
  color: #48a648;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-nav > li > .rd-navbar-submenu-toggle::after {
  color: #151515;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-element a {
  color: #d3d3d6;
}

.rd-navbar-static.rd-navbar_inverse .rd-navbar-element a:hover {
  color: #48a648;
}

/*
* Static Layout
*/
.rd-navbar-fullwidth {
  display: block;
  position: relative;
  background-color: #ffffff;
}

.rd-navbar-fullwidth .rd-navbar-main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 28px 15px;
  margin-left: auto;
  margin-right: auto;
}

.rd-navbar-fullwidth .rd-navbar-main > * + * {
  margin-top: 0;
}

.rd-navbar-fullwidth .rd-navbar-main > * {
  padding-left: 15px;
  padding-right: 15px;
}

.rd-navbar-fullwidth .rd-navbar-main {
  position: relative;
  -webkit-transition: .33s all ease;
  -o-transition: .33s all ease;
  transition: .33s all ease;
}

.rd-navbar-fullwidth .rd-navbar-panel {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media (min-width: 1800px) {
  .rd-navbar-fullwidth .rd-navbar-panel,
  .rd-navbar-fullwidth .rd-navbar-element {
    min-width: 220px;
  }
}

.rd-navbar-fullwidth .rd-navbar-nav-wrap {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}

.rd-navbar-fullwidth .rd-navbar-nav-wrap > * {
  padding-left: 15px;
  padding-right: 15px;
}

.rd-navbar-fullwidth .rd-navbar-nav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 10px 15px;
  margin-bottom: 0;
  font-size: 0;
  line-height: 0;
  text-align: left;
  color: #151515;
  margin-left: -20px;
  margin-right: -20px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar-submenu {
  margin-right: -15px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar-submenu > a {
  padding-right: 30px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.rd-navbar-submenu > .rd-navbar-submenu-toggle {
  position: relative;
  left: -26px;
  z-index: 10;
}

.rd-navbar-fullwidth .rd-navbar-nav > li > a {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.rd-navbar-fullwidth .rd-navbar-nav > li.focus > a span,
.rd-navbar-fullwidth .rd-navbar-nav > li.active > a span {
  border-color: #48a648;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.rd-navbar-fullwidth .rd-navbar-element {
  text-align: right;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.rd-navbar-fullwidth .rd-navbar-dropdown,
.rd-navbar-fullwidth .rd-navbar-megamenu {
  background: #f6f6f6;
  border-bottom: 3px solid #48a648;
}

.rd-navbar-fullwidth .rd-navbar-megamenu {
  left: 0;
  width: 100%;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-dropdown {
  margin-top: 15px;
}

.rd-navbar-fullwidth .rd-navbar-nav > li .rd-navbar-megamenu {
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .rd-navbar-fullwidth .rd-navbar-main {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .rd-navbar-fullwidth .rd-navbar-main > * {
    width: 100%;
  }
  .rd-navbar-fullwidth .rd-navbar-main > * + * {
    padding-top: 20px;
  }
  .rd-navbar-fullwidth .rd-navbar-nav-wrap {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-panel, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-panel {
    display: none;
  }
  .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-main > * + *, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-main > * + * {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-fullwidth .rd-navbar-nav {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .rd-navbar-fullwidth .rd-navbar-megamenu {
    left: 50%;
    margin-left: -600px;
  }
  .rd-navbar-fullwidth .rd-navbar-aside {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  .rd-navbar-fullwidth .rd-navbar-content > * + * {
    margin-left: 20px;
  }
}

.rd-navbar-fullwidth.rd-navbar--is-stuck, .rd-navbar-fullwidth.rd-navbar--is-clone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 10px 1px rgba(21, 21, 21, 0.1);
  box-shadow: 0 2px 10px 1px rgba(21, 21, 21, 0.1);
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-main, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-main {
  padding-top: 16px;
  padding-bottom: 16px;
}

.rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li .rd-navbar-dropdown,
.rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav > li .rd-navbar-megamenu, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li .rd-navbar-dropdown,
.rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav > li .rd-navbar-megamenu {
  margin-top: 26px;
}

@media (max-width: 1199px) {
  .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-nav-wrap, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-nav-wrap {
    padding-top: 0;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-fullwidth.rd-navbar--is-stuck .rd-navbar-main, .rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-main {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.rd-navbar-fullwidth-linked .rd-navbar-fullwidth--hidden {
  display: none;
}

.rd-navbar-fullwidth.rd-navbar_inverse .brand__logo-dark {
  display: none;
}

.rd-navbar-fullwidth.rd-navbar_inverse .brand__logo-light {
  display: block;
}

.rd-navbar-fullwidth.rd-navbar_inverse .brand__slogan {
  color: #ffffff;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li > a {
  color: #ffffff;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li > a:hover {
  color: #48a648;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.active > a,
.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.opened > a,
.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.focus > a {
  color: #48a648;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.active > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.opened > .rd-navbar-submenu-toggle::after,
.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li.focus > .rd-navbar-submenu-toggle::after {
  color: #48a648;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-nav > li > .rd-navbar-submenu-toggle::after {
  color: #ffffff;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-element a {
  color: #d3d3d6;
}

.rd-navbar-fullwidth.rd-navbar_inverse .rd-navbar-element a:hover {
  color: #48a648;
}

.rd-navbar-fullwidth.rd-navbar_inverse.rd-navbar--is-stuck, .rd-navbar-fullwidth.rd-navbar_inverse.rd-navbar--is-clone {
  background: #292929;
  border-bottom-color: #151515;
}

/*
* Fixed Layout
*/
.rd-navbar-fixed {
  display: block;
}

.rd-navbar-fixed .rd-navbar-brand {
  position: fixed;
  text-align: left;
  top: -1px;
  left: 56px;
  height: 56px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  z-index: 17;
}

.rd-navbar-fixed .rd-navbar-brand img {
  height: 30px;
  width: auto;
}

.rd-navbar-fixed .rd-navbar-brand .brand__slogan {
  display: none;
}

.rd-navbar-fixed .rd-navbar-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 4px;
  height: 56px;
  z-index: 999;
  border-bottom: 1px solid #f6f6f6;
}

.rd-navbar-fixed .rd-navbar-panel__content {
  position: relative;
  z-index: 11;
}

.rd-navbar-fixed .rd-navbar-toggle {
  display: inline-block;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
  position: fixed;
  z-index: 100;
  top: -56px;
  left: 0;
  width: 280px;
  padding: 112px 0 81px;
  bottom: -56px;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
  border-right: 1px solid #f6f6f6;
}

.rd-navbar-fixed .rd-navbar-nav-wrap.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.firefox .rd-navbar-fixed .rd-navbar-nav-wrap > *:last-child {
  margin-bottom: 80px;
}

.rd-navbar-fixed .rd-navbar-nav-wrap .rd-navbar-element {
  margin: 15px;
  text-align: center;
}

.rd-navbar-fixed .rd-navbar-nav-wrap .rd-navbar-element > * {
  display: block;
}

.rd-navbar-fixed .rd-navbar-nav-wrap .rd-navbar-element_left {
  text-align: left;
}

.rd-navbar-fixed .rd-navbar-nav {
  display: block;
  margin: 15px 0;
  height: auto;
  text-align: left;
}

.rd-navbar-fixed .rd-navbar-nav > li > a {
  font-size: 16px;
  line-height: 1.5;
}

.rd-navbar-fixed .rd-navbar-nav li {
  text-align: left;
}

.rd-navbar-fixed .rd-navbar-nav li > a {
  display: block;
  padding: 9px 56px 9px 18px;
}

.rd-navbar-fixed .rd-navbar-nav > li + li {
  margin-top: 4px;
}

.rd-navbar-fixed .rd-navbar-submenu {
  position: relative;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown .rd-navbar-submenu-toggle:after {
  height: 34px;
  line-height: 34px;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown > li > a {
  padding-left: 30px;
}

.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-dropdown li li > a,
.rd-navbar-fixed .rd-navbar-submenu .rd-navbar-megamenu ul li li > a {
  padding-left: 46px;
}

.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-megamenu {
  display: block;
}

.rd-navbar-fixed .rd-navbar-dropdown,
.rd-navbar-fixed .rd-navbar-megamenu {
  display: none;
}

.rd-navbar-fixed .rd-megamenu-list > li > a,
.rd-navbar-fixed .rd-navbar-dropdown > li > a {
  padding: 9px 56px 9px 16px;
  font-size: 12px;
  line-height: 1.5;
}

.rd-navbar-fixed .rd-megamenu-list > li + li,
.rd-navbar-fixed .rd-navbar-dropdown > li + li {
  margin-top: 3px;
}

.rd-navbar-fixed .rd-megamenu-list > li > a {
  padding-left: 30px;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header {
  position: relative;
  display: block;
  padding: 0 20px 7px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .06em;
  line-height: 1.5;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header::after {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-bottom: 1px solid #f6f6f6;
}

.rd-navbar-fixed .rd-navbar-megamenu * + .rd-megamenu-list {
  margin-top: 11px;
}

.rd-navbar-fixed .rd-navbar-megamenu * + .rd-megamenu-header {
  margin-top: 20px;
}

.rd-navbar-fixed .rd-navbar-megamenu > li + li {
  margin-top: 20px;
}

.rd-navbar-fixed .rd-navbar-nav li .rd-navbar-dropdown,
.rd-navbar-fixed .rd-navbar-nav li .rd-navbar-megamenu {
  -webkit-transition: opacity 0.3s, height 0.4s ease;
  -o-transition: opacity 0.3s, height 0.4s ease;
  transition: opacity 0.3s, height 0.4s ease;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-dropdown {
  padding: 4px 0 0;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-megamenu {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-dropdown,
.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-megamenu {
  opacity: 1;
  height: auto;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle::after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
  cursor: pointer;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle::after {
  content: '\f107';
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 41px;
  font: 400 14px "FontAwesome";
  line-height: 41px;
  text-align: center;
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  z-index: 2;
  cursor: pointer;
}

.rd-navbar-fixed .rd-navbar-collapse,
.rd-navbar-fixed .rd-navbar-search-toggle {
  position: fixed;
  top: 4px;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

.rd-navbar-fixed.active .rd-navbar-nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.rd-navbar-fixed .rd-navbar-content {
  position: fixed;
  top: 55px;
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  right: 0;
  z-index: 1001;
  width: auto;
  padding: 25px 35px;
  margin: 0 -1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.23s all ease-in-out;
  -o-transition: 0.23s all ease-in-out;
  transition: 0.23s all ease-in-out;
  font-size: 14px;
  line-height: 1.4;
  background: #ffffff;
  border: 1px solid #f6f6f6;
  text-align: left;
  pointer-events: none;
}

.rd-navbar-fixed .rd-navbar-content * {
  pointer-events: auto;
}

.rd-navbar-fixed .rd-navbar-content > * + * {
  margin-top: 20px;
}

.rd-navbar-fixed .rd-navbar-content .button {
  display: block;
}

.rd-navbar-fixed .rd-navbar-content .rights {
  color: #292929;
}

.rd-navbar-fixed .rd-navbar-content .rights a {
  color: #9b9b9b;
}

.rd-navbar-fixed.rd-navbar-creative .rd-navbar-content {
  font-size: 12px;
  background: #f6f6f6;
}

.rd-navbar-fixed .rd-navbar-content.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.rd-navbar-fixed .rd-navbar-content__toggle {
  top: 4px;
  right: 2px;
  width: 48px;
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #9b9b9b;
  position: fixed;
  z-index: 1000;
}

.rd-navbar-fixed .rd-navbar-content__toggle span {
  top: 50%;
  margin-top: -3px;
}

.rd-navbar-fixed .rd-navbar-content__toggle span, .rd-navbar-fixed .rd-navbar-content__toggle span:before, .rd-navbar-fixed .rd-navbar-content__toggle span:after {
  position: absolute;
  width: 6px;
  height: 6px;
  line-height: 6px;
  text-align: center;
  background: #9b9b9b;
  left: 50%;
  margin-left: -3px;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-fixed .rd-navbar-content__toggle span:before, .rd-navbar-fixed .rd-navbar-content__toggle span:after {
  content: '';
}

.rd-navbar-fixed .rd-navbar-content__toggle span:before {
  bottom: 100%;
  margin-bottom: 3px;
}

.rd-navbar-fixed .rd-navbar-content__toggle span:after {
  top: 100%;
  margin-top: 3px;
}

.rd-navbar-fixed .rd-navbar-content__toggle.active span {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.rd-navbar-fixed .rd-navbar-content__toggle.active span:before {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
}

.rd-navbar-fixed .rd-navbar-content__toggle.active span:after {
  -webkit-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  transform: translateY(-18px);
}

.rd-navbar-fixed .rd-navbar-search_toggled {
  position: static;
}

.rd-navbar-fixed .rd-navbar-search-wrap.active .rd-navbar-search_toggled .rd-search {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.rd-navbar-fixed .rd-search-results-live {
  display: none;
}

html .page .rd-navbar-fixed .rd-navbar-fixed--hidden {
  display: none;
}

.rd-navbar-fixed .rd-navbar-panel {
  color: #292929;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
}

.rd-navbar-fixed .rd-navbar-nav-wrap {
  color: #ffffff;
  background: #ffffff;
  border-color: #f6f6f6;
}

.rd-navbar-fixed .rd-navbar-nav li > a {
  color: #292929;
}

.rd-navbar-fixed .rd-navbar-nav li:hover > a, .rd-navbar-fixed .rd-navbar-nav li.focus > a, .rd-navbar-fixed .rd-navbar-nav li.active > a, .rd-navbar-fixed .rd-navbar-nav li.opened > a {
  color: #ffffff;
  background: #48a648;
}

.rd-navbar-fixed .rd-navbar-nav li:hover > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-navbar-nav li.focus > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-navbar-nav li.active > .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle {
  color: #ffffff;
}

.rd-navbar-fixed .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle {
  color: #ffffff;
}

.rd-navbar-fixed .rd-megamenu-list > li > a,
.rd-navbar-fixed .rd-navbar-dropdown > li > a {
  color: #151515;
}

.rd-navbar-fixed .rd-megamenu-list > li:hover > a,
.rd-navbar-fixed .rd-megamenu-list > li.focus > a,
.rd-navbar-fixed .rd-megamenu-list > li.active > a,
.rd-navbar-fixed .rd-megamenu-list > li.opened > a,
.rd-navbar-fixed .rd-navbar-dropdown > li:hover > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.focus > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.active > a,
.rd-navbar-fixed .rd-navbar-dropdown > li.opened > a {
  color: #ffffff;
  background: #48a648;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header {
  color: #151515;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header a, .rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header a:active, .rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header a:focus {
  color: #ffffff;
}

.rd-navbar-fixed .rd-navbar-megamenu .rd-megamenu-header a:hover {
  color: #48a648;
}

.rd-navbar-fixed .rd-navbar-submenu-toggle {
  color: #292929;
}

.rd-navbar-fixed .rd-navbar-search-toggled .rd-search {
  border-color: #f6f6f6;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-panel {
  color: #ffffff;
  background: #292929;
  border-bottom-color: #151515;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav-wrap {
  color: #ffffff;
  background: #363636;
  border-color: #363636;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span {
  top: 50%;
  margin-top: -3px;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:before, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:after {
  position: absolute;
  width: 6px;
  height: 6px;
  line-height: 6px;
  text-align: center;
  background: #ffffff;
  left: 50%;
  margin-left: -3px;
  border-radius: 50%;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:before, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:after {
  content: '';
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:before {
  bottom: 100%;
  margin-bottom: 3px;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle span:after {
  top: 100%;
  margin-top: 3px;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle.active span {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle.active span:before {
  -webkit-transform: translateY(18px);
  -ms-transform: translateY(18px);
  transform: translateY(18px);
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-content__toggle.active span:after {
  -webkit-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  transform: translateY(-18px);
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li > a {
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li:hover > a, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.focus > a, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.active > a, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.opened > a {
  color: #ffffff;
  background: #48a648;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li:hover > .rd-navbar-submenu-toggle, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.focus > .rd-navbar-submenu-toggle, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.active > .rd-navbar-submenu-toggle, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle {
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-nav li.opened > .rd-navbar-submenu-toggle {
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-megamenu-list > li > a,
.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-dropdown > li > a {
  color: #cccccc;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-megamenu-list:hover > a, .rd-navbar-fixed.rd-navbar_transparent .rd-megamenu-list.focus > a, .rd-navbar-fixed.rd-navbar_transparent .rd-megamenu-list.active > a, .rd-navbar-fixed.rd-navbar_transparent .rd-megamenu-list.opened > a,
.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-dropdown:hover > a,
.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-dropdown.focus > a,
.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-dropdown.active > a,
.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-dropdown.opened > a {
  color: #ffffff;
  background: #48a648;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-megamenu .rd-megamenu-header {
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-megamenu .rd-megamenu-header a, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-megamenu .rd-megamenu-header a:active, .rd-navbar-fixed.rd-navbar_transparent .rd-navbar-megamenu .rd-megamenu-header a:focus {
  color: #ffffff;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-megamenu .rd-megamenu-header a:hover {
  color: #48a648;
}

.rd-navbar-fixed.rd-navbar_transparent .rd-navbar-submenu-toggle {
  color: #ffffff;
}

html.rd-navbar-fixed-linked .page {
  padding-top: 56px;
}

/**
*  RD Navbar Sidebar
*/
.rd-navbar-sidebar-linked body {
  padding-left: 250px;
}

.rd-navbar-sidebar-linked .rd-navbar-wrap {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  min-height: 100%;
}

@media (min-width: 1800px) {
  .rd-navbar-sidebar-linked body {
    padding-left: 320px;
  }
  .rd-navbar-sidebar-linked .rd-navbar-wrap {
    width: 320px;
  }
}

.rd-navbar-sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  padding: 40px 0 30px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(1, 3, 4, 0.18);
  box-shadow: 0px 3px 5px 0px rgba(1, 3, 4, 0.18);
  border-right: 1px solid #f6f6f6;
  font-size: 12px;
}

.rd-navbar-sidebar .rd-navbar-panel {
  min-width: 200px;
  text-align: center;
}

.rd-navbar-sidebar .rd-navbar-panel {
  padding-right: 30px;
}

.rd-navbar-sidebar .rd-navbar-brand {
  text-align: left;
}

.rd-navbar-sidebar .rd-navbar-nav > li {
  position: relative;
  display: block;
}

.rd-navbar-sidebar .rd-navbar-nav > li > a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  word-break: break-all;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: .05em;
  text-transform: uppercase;
  color: #292929;
}

.rd-navbar-sidebar .rd-navbar-nav > li > a:hover {
  color: #48a648;
}

.rd-navbar-sidebar .rd-navbar-nav > li + li {
  margin-top: 5px;
}

.rd-navbar-sidebar .rd-navbar-nav > li.focus > a,
.rd-navbar-sidebar .rd-navbar-nav > li.active > a {
  color: #48a648;
}

.rd-navbar-sidebar .rd-navbar-dropdown {
  position: absolute;
  display: block;
}

.rd-navbar-sidebar .rd-navbar-nav-wrap {
  -webkit-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.rd-navbar-sidebar .rd-navbar-nav-wrap.active {
  -webkit-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}

@media (min-width: 1200px) {
  .rd-navbar-sidebar .rd-navbar-nav-wrap.active {
    padding-right: 85px;
  }
}

.rd-navbar-sidebar .rd-navbar-nav-wrap.active .rd-navbar-nav-wrap__inner {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.rd-navbar-sidebar * + .rd-navbar-nav-wrap,
.rd-navbar-sidebar * + .rd-navbar-element {
  margin-top: 30px;
}

.rd-navbar-sidebar .rights {
  font-size: 14px;
  color: #151515;
}

.rd-navbar-sidebar .rights a {
  color: #9b9b9b;
}

.rd-navbar-sidebar .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-megamenu {
  top: 0;
  margin-top: 0;
  padding: 30px 22px;
  width: 300px;
  margin-left: 0;
  background: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #292929;
}

.rd-navbar-sidebar .rd-navbar-dropdown > li > a:hover,
.rd-navbar-sidebar .rd-navbar-megamenu > li > a:hover {
  color: #48a648;
}

@media (min-height: 800px) {
  .rd-navbar-sidebar {
    font-size: 14px;
  }
  .rd-navbar-sidebar .rd-navbar-nav > li > a {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1799px) {
  .rd-navbar-sidebar .brand__slogan {
    font-size: 13px;
  }
}

@media (min-width: 1800px) {
  .rd-navbar-sidebar {
    padding: 60px 0 60px 60px;
  }
  .rd-navbar-sidebar * + .rd-navbar-nav-wrap,
  .rd-navbar-sidebar * + .rd-navbar-element {
    margin-top: 90px;
  }
  .rd-navbar-sidebar .rd-navbar-panel,
  .rd-navbar-sidebar .rd-navbar-element {
    padding-right: 60px;
  }
  .rd-navbar-sidebar .rd-navbar-dropdown,
  .rd-navbar-sidebar .rd-navbar-megamenu {
    font-size: 14px;
  }
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-megamenu {
  position: absolute;
  left: 100%;
  top: 0;
  opacity: 0;
  visibility: hidden;
  will-change: opacity, visibility;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.rd-navbar-sidebar .rd-navbar-submenu.focus > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu.focus > .rd-navbar-megamenu, .rd-navbar-sidebar .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu.opened > .rd-navbar-megamenu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu > .rd-navbar-megamenu {
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu.opened > .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu.opened > .rd-navbar-megamenu {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu .rd-navbar-submenu > .rd-navbar-dropdown {
  -webkit-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

.rd-navbar-sidebar .rd-navbar-submenu > .rd-navbar-submenu .rd-navbar-submenu.opened > .rd-navbar-dropdown {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.rd-navbar-sidebar .rd-navbar-dropdown,
.rd-navbar-sidebar .rd-megamenu-list {
  border: 1px solid #f6f6f6;
  border-left: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown > li > a,
.rd-navbar-sidebar .rd-megamenu-list > li > a {
  display: block;
}

.rd-navbar-sidebar .rd-megamenu-header {
  display: none;
}

.rd-navbar-sidebar .rd-megamenu-list {
  margin-top: 0;
}

.rd-navbar-sidebar .rd-megamenu-list > li + li {
  margin-top: 10px;
}

@media (min-width: 1800px) {
  .rd-navbar-sidebar .rd-megamenu-list > li + li {
    margin-top: 18px;
  }
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a {
  text-decoration: underline;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > a {
  color: #48a648;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle {
  color: #48a648;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.opened > .rd-navbar-submenu-toggle::after {
  top: 1px;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a {
  padding-right: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a::before {
  display: none;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown > a:hover {
  padding-left: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown .rd-navbar--has-dropdown.focus > a {
  padding-left: 0;
}

.rd-navbar-sidebar .rd-navbar-dropdown > li + li {
  margin-top: 10px;
}

.rd-navbar-sidebar .rd-navbar-nav > li > .rd-navbar-dropdown .rd-navbar-dropdown {
  margin-top: -1px;
  margin-left: 5px;
  padding-left: 15px;
}

.rd-navbar-sidebar .rd-navbar-nav > li > .rd-navbar-dropdown .rd-navbar-dropdown > li > a {
  font-size: 12px;
}

@media (min-width: 1200px) {
  .rd-navbar-sidebar .rd-navbar-megamenu > li:nth-child(n + 3) {
    margin-top: 40px;
  }
  .rd-navbar-sidebar .rd-navbar-dropdown > li + li,
  .rd-navbar-sidebar .rd-megamenu-list > li + li {
    margin-top: 10px;
  }
  .rd-navbar-sidebar .rd-navbar__main {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

@media (min-width: 1800px) {
  .rd-navbar-sidebar .rd-navbar-nav > li + li {
    margin-top: 9px;
  }
  .rd-navbar-sidebar .rd-navbar-dropdown > li + li,
  .rd-navbar-sidebar .rd-megamenu-list > li + li {
    margin-top: 18px;
  }
  .rd-navbar-sidebar .rd-navbar-nav-wrap__inner {
    width: auto;
    left: calc(50% + 600px - 80px);
  }
}

.rd-navbar-static .action-button {
    color: black;
    box-shadow: none;
    text-shadow: none;
    padding: 6px 15px;
    margin: 4px;
    background: transparent;
    transition: background-color 0.25s;
}

.rd-navbar-static .login-button {
    background: #D7D7D7 !important;
    border: 1px solid #D7D7D7 !important;
    border-radius: 20px;
    font-weight: bold !important;
}

.rd-navbar-static .signup-button {
    background: #48a648 !important;
    border: 1px solid #48a648 !important;
    border-radius: 20px;
    font-weight: bold !important;
    color: white !important;
}

.rd-navbar-static .action-button:hover {
    color: #48a648;
    text-decoration: none;
}

.rd-navbar-static .signup-button:hover {
    color: white;
}