﻿body {
	padding-top: 0;
	padding-bottom: 0;
	height: 100%;
}
button {
    cursor: pointer;
}

.profit {
    color: green;
    font-weight: bold;
}

.loss {
    color: red;
    font-weight: bold;
}

/* Set padding to keep content from hitting the edges */
.body-content, .footer-content {
	padding-left: 15px;
	padding-right: 15px;
}

.container:after {
	content: "";
	display: block;
}

.custom-logo {
	margin-right: 30px;
}

ul.mr-auto {
	min-width: 300px;
}

.footer, .container:after {
	height: 155px; 
}

.avatar-sm, .avatar-md, .avatar-lg {
	margin-top: 4px;
}

.avatar-sm {
	width: 40px;
	border: 2px solid #39a849;
}

.container {
	margin-top: 40px;
	margin-bottom: -155px;
	padding: 0px;
	min-height: 100vh;
}

.avatar-md {
	width: 80px;
	border: 3px solid #39a849;
}

.avatar-lg {
	width: 120px;
	border: 4px solid #39a849
}

footer {
	color: #DDD;
	background: #191919;
	font-size: small;
	
}

p, ol, ul, li {
	color: rgb(102, 102, 102);
	font-weight: 400;
	font-size: 14px;
	text-align: left;
}

.carousel {
	padding-bottom: 0em;
	margin-bottom: 0em;
}

.thead-default th {
	background-color: #4CAF50;
	color: white;
}

.jumbotron {
	background-image: url(/content/img/chart_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

.card-block, .card-text, .card-block h4 {
	padding: 3px;
}

.card-footer{
	position:absolute;
	bottom:0;
	width:100%;
}

.card-deck .card{
	padding-bottom:50px;
}

.videopanel {
	background-color: #d4dbe0;
	margin-bottom: 2em;
}

.footer {
	padding: 20px;
}

.footer-menu li a:hover {
	color: green;
}

.custom-control-indicator {
	border: 1px solid #9b9b9b;
}

.footer-menu {
	margin: 0 0 2em 0;
	padding: 0;
}

.footer-menu li {
	display: inline;
}

.footer-menu li a {
	color: #DDD;
	margin-left: 20px;
}

footer .footer-logo {
	
}

.footer-content footer a:hover {
	
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

select {
	min-width: 200px;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	height:40px;
	-webkit-appearance: button;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-start: 2px;
	-webkit-padding-end: 20px;

}

.custom-logo-link img {
	display: inline-block;
	max-height: auto;
	width: auto;
}

.stripe-connect {
	-webkit-box-sizing: initial;
	-moz-box-sizing: initial;
	box-sizing: initial;
}

span.profit {
	color: green;
}

span.loss {
	color: red;
}

.custom-logo {

}

*{
	margin:0px;
	padding:0px;
}
@font-face {
	font-family: Monstret;
	src: url(/Content/fonts/Montserrat-Regular.ttf);
}
body
{
	font-family: Monstret;
	overflow-x: hidden;
	color: #191919;
	font-size: 16px;
}
/* --- logo section --- */
.logo_wrapper{
	margin-top: 42px;
}
.logo_text{
	font-size: 32px;
	font-weight: 800;
	color: #207720;
	text-decoration: none;
	letter-spacing: 0.7px;
}
.logo_text:hover{
	color: #207720;
	text-decoration: none;
}
.tag_line{
	font-size: 14px;
	width: 200px;
	margin: 0 auto;
}
/* --- video section --- */
.banner_wrapper {
	background-image: url(/Content/img/header_bg.png);
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: 70%;
	height: 360px;
}
.banner_video_wrapper {
	margin-top: 20px;
	width: 640px;
	height: 360px;
}
/* --- content_wrapper --- */
.content_wrapper{
	margin: 85px 0;
}
.content_detail{
	width: 600px;
	margin: 0 auto;
	text-align: left;
}
/* --- plan section--- */
.plan_wrapper{
	background-color: #eff2ef;
}
.plan_container{
	margin: 68px auto 60px;
	width: 720px;
}
.plan_container .panel{
	border-radius: 10px;
	background-color: #ffffff;
	box-shadow: 0 6px 8px 2px #e9ece9;
	-webkit-box-shadow: 0 6px 8px 2px #e9ece9;
	border: 1px solid #e4e4e4;
	width: 100%;
}
.card-title.package {
	font-size: 20px;
	font-weight: 900;
	height: 3em;
	padding-top: 15px;
	text-align: center;
	border: 1px solid #191919;
	color: white;
	background-color: #191919;
	text-align: center;
	vertical-align: middle;
	display: block;
}

.card.package {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.plan_price{
	padding: 30px 0;
	text-align: center;
}
.plan_price_curr {
	font-size:13px;
	vertical-align: top;
}
.plan_price_amount {
	font-size:26px;
	line-height: 25px;
}
.plan_price_duration {
	font-size:12px;
}
.plan_price_content {
	text-align: center;
	font-size: 14px;
}
.first_padding {
	padding-top: 15px;
}
.last_padding {
	padding-bottom: 15px;
}

.list-group-item{
	font-size: 14px;
	border: none;
	text-align: left;
}
.not_available{
	color: #9b9b9b;
	text-decoration: line-through;
}

.btn-outline-green{
	color: #019147;
	background-image: none;
	background-color: transparent;
	border-color: #019147;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 50px;
}

.table tr td {
	font-size: smaller;
}



.btn-outline-green.active,
.btn-outline-green:active{
	color: #fff;
	background: linear-gradient(to top, #019147, #39a849);
	border-color: #019147;
}
.btn-outline-green:hover {
	color: #fff;
	background: linear-gradient(to top, #019147, #39a849);
	border-color: #019147;
}
/* --- suggested questions section ---*/
.suggested_questions_container{
	margin: 100px auto 80px;
	width: 800px;
}
.suggested_questions_container .col-xs-1 {
	width: 5%;
}
.suggested_questions_container .col-xs-1,
.suggested_questions_container .col-md-1{
	padding: 10px 0;
}
.suggested_questions_container .col-xs-11,
.suggested_questions_container .col-md-11{
	padding: 0;
}
.suggested_questions_container a,
.suggested_questions_container a:hover{
	text-decoration: none;
	color: #191919;
	display: block;
	padding: 10px 0px;
}
.suggested_questions_container .col-md-1 a,
.suggested_questions_container .col-md-1 a:hover{
	padding: 8px 0px 10px;
}
.suggested_questions_container .fa{
	/*padding: 10px 0;*/
}
.suggested_questions_container .panel-heading{
	padding: 10px 15px 10px 0;
}
.suggested_questions_container .panel-body{
	font-size: 14px;
	color: #858585;
	padding: 10px 15px 10px 0;
}
.suggested_questions_title {
	color: #9b9b9b;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.5px;
	font-weight: 500;
	padding: 0 0 20px 30px;
}
.suggested_questions_container .panel{
	border: none;
	box-shadow: none;
}
.suggested_questions_container .panel-group .panel-heading+.panel-collapse>.list-group,
.suggested_questions_container .panel-group .panel-heading+.panel-collapse>.panel-body{
	border: none;
}
.panel-default>.panel-heading {
	color: #333;
	background-color: #fff;
	border-color: #e4e5e7;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media (max-width: 992px)
{
	.suggested_questions_container{
		width: 90%;
	}
	.btn-outline-green {
		padding: 15px 10px;
		width: 80%;
	}
}
@media (min-width: 992px)
{
	.suggested_questions_container .col-md-1 {
		width: 5%;
	}
}
@media (max-width: 767px)
{
	.content_detail,
	.plan_container,
	.suggested_questions_container{
		width: 100%;
	}
	.banner_wrapper {
		background-size: 200%;
		height: auto;
		padding: 0 30px
	}
	.banner_video_wrapper {
		margin-top: 42px;
		width: 100%;
		height: auto;
	}
	.content_wrapper {
		padding: 0 30px;
	}
	.btn-outline-green {
		padding: 15px 10px;
		width: 80%;
	}
	.suggested_questions_container {
		margin: 70px auto 50px;
	}
	.suggested_questions_container .col-xs-1 {
		width: 8%;
	}

	[class*='slider-bg-'] {
		background-size: 100% auto;
	}

	.slider-bg-1 {
		height: 200px;
		background-image: url(/Content/img/slider_item1.jpg)
	}

	.slider-bg-2 {
		background-image: url(/Content/img/slider_item2.jpg)
	}

	.slider-bg-3 {
		background-image: url(/Content/img/slider_item3.jpg)
	}

	.fa-discord {
		background-image: url(/content/img/discord_logo.png);
		height: 25px;
		width: 25px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

	}

	.aspect16x9 {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 56.25%;
		min-height: 300px;
	}

	.aspect4x3 {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 75%;
		min-height: 300px;
	}
				
	.twrap {
		overflow: hidden;
		padding: 0 4px 0 12px
	}

	textarea.big {
		width: 100%;
	}

	.bubble 
	{
		position: relative;
		padding: 0px;
		background: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border: #7F7F7F solid 4px;
	}

	.bubble:after 
	{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 14px 18px 14px 0;
		border-color: transparent #FFFFFF;
		display: block;
		width: 0;
		z-index: 1;
		margin-top: -14px;
		left: -18px;
		top: 25%;
	}

	.bubble:before 
	{
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 17px 21px 17px 0;
		border-color: transparent #7F7F7F;
		display: block;
		width: 0;
		z-index: 0;
		margin-top: -17px;
		left: -25px;
		top: 25%;
	}

	.pointer
	{
		content: "";
		position: absolute;
		display: block;
		width: 0;
		z-index: 1;
		border-color: #fff transparent;
		border-style: solid;
		border-width: 15px 15px 0
	}

	.pointerBorder
	{
		content: "";
		position: absolute;
		display: block;
		width: 0;
		z-index: 0;
		border-color: #bbb transparent;
		border-style: solid;
		border-width: 20px 20px 0
	}

}

.slider-item {
	background: url(/Content/img/header_back.jpg) 50% 0 repeat-y fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	padding: 0px 32px;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 90vh;
	text-align: center;
}

.slider-item h3 {
	letter-spacing: 2px;
	padding-top: 32px;
}

.slider-item .btn {
   
	border-radius: 3px;
	color: #ffffff;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 16px;
	padding: 14px 42px;
	margin-top: 42px;
	margin-right: 12px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/*.slider-item .btn-primary:hover {
	background: #48a648;
	border-color: transparent;
}*/

/*.slider-item .btn-danger:hover {
	background: #f2545f;
	border-color: transparent;
}*/

.slider-content {
	margin: 0 auto;
}

.row-wrapper.column {
	
	background: 50% 0 repeat-y fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	color: #ffffff;
	display: -webkit-box;
	display: -webkit-flex;
	padding: 0px 32px;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	text-align: center;
}

.column .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.text-container {
	background-color: #fff;
	padding: 25px 24px 20px 24px;
	width: 289px;
	margin: 0 auto;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
	line-height: 24px;
	margin-top: -30px;
	display: inline-block;
}

.text-container h2 {
	color: rgb(58, 103, 157);
	font-size: 22px;
	text-align: center;
	font-weight: 300;
	padding: 0px 10px;
}

.column-img {
	height: auto;
	position: relative;
	width: auto;
	background-size: inherit;
	background-position: -28px center;
	background-repeat: no-repeat;
}

.row-wrapper .btn {
	color: white;
}
@media (min-width: 576px) {
	.text-container {
		width: 100%;
		margin-top: 10px;
	}
	.column-img {
		height: 60%;
	}
}
@media (max-width: 576px) {
	.text-container {
		width: 140%;
		margin-top: 27px;
		margin-left: -57px;
	}
	.column-img {
		width: 140%;
		height: 21%;
		margin-left: -57px;
	}
}
@media (max-width: 576px) {
    .middletext-container {
        width: 162% !important;
       
        margin-left: -71px !important;
    }
    
}

@media (min-width: 767px) {
	.column .container {
		width: 750px;
	}
	.text-container {
		padding: 25px 31px;
		width: 152%;
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
		line-height: 24px;
		margin-top: 93px;
		margin-left: 13px;
	}    
	.text-container h2 {
		font-size: 24px;
		padding-left: 0px;
	}
	.col-sm-pull-1 {
		right: 40px;
	}
	
.column-img {
	height: 350px;
	width: 585px;
	background-size: 400px 400px;
	margin-left: -85px;
}
}
@media (min-width: 992px) {
	.column .container {
		width: 970px;
		position: relative;
	}
	.text-container {
		padding: 23px 38px;
		margin-top: 116px;
		margin-left: 40px;
	}
	.text-container h2 {
		font-size: 30px;
	}
.column-img {
	height: 350px;
	width: 590px;
	background-size: auto;
}
}

@media (min-width: 1200px) {
	.column .container {
		width: 1170px;
	}
	.text-container {
		padding: 23px 45px;
		margin-left: -56px;
	}
}
#loading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(49, 48, 48, 0.71);
	-webkit-transition: all .5s ease;
	z-index: 20000;
}

	#loading.hide {
		opacity: 0;
	}

#spinner {
	background-image: url('../../../assets/images/Loader.svg');
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	background-repeat: no-repeat;
	/* background-color: yellow; */
	/* -webkit-transition: all 1000s linear; */
}

	#spinner.spin {
		-webkit-transform: rotate(100000deg);
	}
	
	/*register and login form*/
.register-form {
	padding-left: 89px;       
}
@media only screen and (max-width : 480px) {
	.register-form{
		padding-left:30px;
	}        }
@media only screen and (max-width : 320px) {
	 .another-service {
		 padding-top: 10px;
		 padding-left: 30px;
	 }
 }
	
@media only screen and (max-width : 480px) {
	 .another-service {
		 padding-top: 10px;
		 padding-left: 30px;
	 }
 }
@media only screen and (min-width: 768px)
and (max-width: 1024px) {
	.register-form {
		padding-left: 0;       
	}
}
#accountButtons {
	margin-left: 0;
}

 /*register and login form*/