.crypto {
    width: 25px;
    height: 25px;
    background: url();
}

.sprite-0x {
    background: url("../img/spritesheet.png") -40px -5px;
    background-size: 875px 840px;
}

.sprite-komodo {
    background: url("../img/spritesheet.png") -5px -5px;
    background-size: 875px 840px;
}

.sprite-2give {
    background: url("../img/spritesheet.png") -5px -40px;
    background-size: 875px 840px;
}

.sprite-300token {
    background: url("../img/spritesheet.png") -40px -40px;
    background-size: 875px 840px;
}

.sprite-808coin {
    background: url("../img/spritesheet.png") -75px -5px;
    background-size: 875px 840px;
}

.sprite-8bit {
    background: url("../img/spritesheet.png") -75px -40px;
    background-size: 875px 840px;
}

.sprite-BilShares {
    background: url("../img/spritesheet.png") -5px -75px;
    background-size: 875px 840px;
}

.sprite-BlockShares {
    background: url("../img/spritesheet.png") -40px -75px;
    background-size: 875px 840px;
}

.sprite-Ixcoin {
    background: url("../img/spritesheet.png") -75px -75px;
    background-size: 875px 840px;
}

.sprite-J1wuW41H {
    background: url("../img/spritesheet.png") -110px -5px;
    background-size: 875px 840px;
}

.sprite-MONACOINtop {
    background: url("../img/spritesheet.png") -110px -40px;
    background-size: 875px 840px;
}

.sprite-ziftrcoin {
    background: url("../img/spritesheet.png") -110px -75px;
    background-size: 875px 840px;
}

.sprite-zetacoin {
    background: url("../img/spritesheet.png") -5px -110px;
    background-size: 875px 840px;
}

.sprite-adex {
    background: url("../img/spritesheet.png") -40px -110px;
    background-size: 875px 840px;
}

.sprite-adtoken {
    background: url("../img/spritesheet.png") -75px -110px;
    background-size: 875px 840px;
}

.sprite-adzcoin {
    background: url("../img/spritesheet.png") -110px -110px;
    background-size: 875px 840px;
}

.sprite-aeon {
    background: url("../img/spritesheet.png") -145px -5px;
    background-size: 875px 840px;
}

.sprite-aerome {
    background: url("../img/spritesheet.png") -145px -40px;
    background-size: 875px 840px;
}

.sprite-aeternity {
    background: url("../img/spritesheet.png") -145px -75px;
    background-size: 875px 840px;
}

.sprite-agorastokens {
    background: url("../img/spritesheet.png") -145px -110px;
    background-size: 875px 840px;
}

.sprite-aiden {
    background: url("../img/spritesheet.png") -5px -145px;
    background-size: 875px 840px;
}

.sprite-aidoskuneen {
    background: url("../img/spritesheet.png") -40px -145px;
    background-size: 875px 840px;
}

.sprite-ambercoin {
    background: url("../img/spritesheet.png") -75px -145px;
    background-size: 875px 840px;
}

.sprite-anc_icon {
    background: url("../img/spritesheet.png") -110px -145px;
    background-size: 875px 840px;
}

.sprite-anoncoin {
    background: url("../img/spritesheet.png") -145px -145px;
    background-size: 875px 840px;
}

.sprite-antshares {
    background: url("../img/spritesheet.png") -180px -5px;
    background-size: 875px 840px;
}

.sprite-apicoin {
    background: url("../img/spritesheet.png") -180px -40px;
    background-size: 875px 840px;
}

.sprite-applebyte {
    background: url("../img/spritesheet.png") -180px -75px;
    background-size: 875px 840px;
}

.sprite-applecoin {
    background: url("../img/spritesheet.png") -180px -110px;
    background-size: 875px 840px;
}

.sprite-apx {
    background: url("../img/spritesheet.png") -180px -145px;
    background-size: 875px 840px;
}

.sprite-aragon {
    background: url("../img/spritesheet.png") -5px -180px;
    background-size: 875px 840px;
}

.sprite-archcoin {
    background: url("../img/spritesheet.png") -40px -180px;
    background-size: 875px 840px;
}

.sprite-arcticcoin {
    background: url("../img/spritesheet.png") -75px -180px;
    background-size: 875px 840px;
}

.sprite-ardor {
    background: url("../img/spritesheet.png") -110px -180px;
    background-size: 875px 840px;
}

.sprite-ark {
    background: url("../img/spritesheet.png") -145px -180px;
    background-size: 875px 840px;
}

.sprite-artbyte {
    background: url("../img/spritesheet.png") -180px -180px;
    background-size: 875px 840px;
}

.sprite-asch {
    background: url("../img/spritesheet.png") -215px -5px;
    background-size: 875px 840px;
}

.sprite-asiacoin {
    background: url("../img/spritesheet.png") -215px -40px;
    background-size: 875px 840px;
}

.sprite-atmos {
    background: url("../img/spritesheet.png") -215px -75px;
    background-size: 875px 840px;
}

.sprite-atomic {
    background: url("../img/spritesheet.png") -215px -110px;
    background-size: 875px 840px;
}

.sprite-aud {
    background: url("../img/spritesheet.png") -215px -145px;
    background-size: 875px 840px;
}

.sprite-augur {
    background: url("../img/spritesheet.png") -215px -180px;
    background-size: 875px 840px;
}

.sprite-auroracoin {
    background: url("../img/spritesheet.png") -5px -215px;
    background-size: 875px 840px;
}

.sprite-bancor {
    background: url("../img/spritesheet.png") -40px -215px;
    background-size: 875px 840px;
}

.sprite-bancornetwork {
    background: url("../img/spritesheet.png") -75px -215px;
    background-size: 875px 840px;
}

.sprite-banx {
    background: url("../img/spritesheet.png") -110px -215px;
    background-size: 875px 840px;
}

.sprite-basicattentiX {
    background: url("../img/spritesheet.png") -145px -215px;
    background-size: 875px 840px;
}

.sprite-basicattenti {
    background: url("../img/spritesheet.png") -180px -215px;
    background-size: 875px 840px;
}

.sprite-bata {
    background: url("../img/spritesheet.png") -215px -215px;
    background-size: 875px 840px;
}

.sprite-batcoin {
    background: url("../img/spritesheet.png") -250px -5px;
    background-size: 875px 840px;
}

.sprite-bcap {
    background: url("../img/spritesheet.png") -250px -40px;
    background-size: 875px 840px;
}

.sprite-belacoin {
    background: url("../img/spritesheet.png") -250px -75px;
    background-size: 875px 840px;
}

.sprite-betacoin {
    background: url("../img/spritesheet.png") -250px -110px;
    background-size: 875px 840px;
}

.sprite-binancecoin {
    background: url("../img/spritesheet.png") -250px -145px;
    background-size: 875px 840px;
}

.sprite-bitGold {
    background: url("../img/spritesheet.png") -250px -180px;
    background-size: 875px 840px;
}

.sprite-bitasean {
    background: url("../img/spritesheet.png") -250px -215px;
    background-size: 875px 840px;
}

.sprite-bitbar {
    background: url("../img/spritesheet.png") -5px -250px;
    background-size: 875px 840px;
}

.sprite-bitbay {
    background: url("../img/spritesheet.png") -40px -250px;
    background-size: 875px 840px;
}

.sprite-bitbean {
    background: url("../img/spritesheet.png") -75px -250px;
    background-size: 875px 840px;
}

.sprite-bitcny {
    background: url("../img/spritesheet.png") -110px -250px;
    background-size: 875px 840px;
}

.sprite-bitcoin {
    background: url("../img/spritesheet.png") -145px -250px;
    background-size: 875px 840px;
}

.sprite-bitcoincash {
    background: url("../img/spritesheet.png") -180px -250px;
    background-size: 875px 840px;
}

.sprite-bitcoindark {
    background: url("../img/spritesheet.png") -215px -250px;
    background-size: 875px 840px;
}

.sprite-bitcoinplus {
    background: url("../img/spritesheet.png") -250px -250px;
    background-size: 875px 840px;
}

.sprite-bitcointx {
    background: url("../img/spritesheet.png") -285px -5px;
    background-size: 875px 840px;
}

.sprite-bitcrystals {
    background: url("../img/spritesheet.png") -285px -40px;
    background-size: 875px 840px;
}

.sprite-bitdeal {
    background: url("../img/spritesheet.png") -285px -75px;
    background-size: 875px 840px;
}

.sprite-bitgem {
    background: url("../img/spritesheet.png") -285px -110px;
    background-size: 875px 840px;
}

.sprite-bitland {
    background: url("../img/spritesheet.png") -285px -145px;
    background-size: 875px 840px;
}

.sprite-bitlux {
    background: url("../img/spritesheet.png") -285px -180px;
    background-size: 875px 840px;
}

.sprite-bitmark {
    background: url("../img/spritesheet.png") -285px -215px;
    background-size: 875px 840px;
}

.sprite-bitpark-coin {
    background: url("../img/spritesheet.png") -285px -250px;
    background-size: 875px 840px;
}

.sprite-bitquence {
    background: url("../img/spritesheet.png") -5px -285px;
    background-size: 875px 840px;
}

.sprite-bitshares pts {
    background: url("../img/spritesheet.png") -40px -285px;
    background-size: 875px 840px;
}

.sprite-bitshares {
    background: url("../img/spritesheet.png") -75px -285px;
    background-size: 875px 840px;
}

.sprite-bitsharespts {
    background: url("../img/spritesheet.png") -110px -285px;
    background-size: 875px 840px;
}

.sprite-bitsharesx {
    background: url("../img/spritesheet.png") -145px -285px;
    background-size: 875px 840px;
}

.sprite-bitstake {
    background: url("../img/spritesheet.png") -180px -285px;
    background-size: 875px 840px;
}

.sprite-bitstar {
    background: url("../img/spritesheet.png") -215px -285px;
    background-size: 875px 840px;
}

.sprite-bitswift {
    background: url("../img/spritesheet.png") -250px -285px;
    background-size: 875px 840px;
}

.sprite-bitusd {
    background: url("../img/spritesheet.png") -285px -285px;
    background-size: 875px 840px;
}

.sprite-blackcoin {
    background: url("../img/spritesheet.png") -320px -5px;
    background-size: 875px 840px;
}

.sprite-blackmooncrypto {
    background: url("../img/spritesheet.png") -320px -40px;
    background-size: 875px 840px;
}

.sprite-blitz {
    background: url("../img/spritesheet.png") -320px -75px;
    background-size: 875px 840px;
}

.sprite-blitzcash {
    background: url("../img/spritesheet.png") -320px -110px;
    background-size: 875px 840px;
}

.sprite-blocknet {
    background: url("../img/spritesheet.png") -320px -145px;
    background-size: 875px 840px;
}

.sprite-blockpay {
    background: url("../img/spritesheet.png") -320px -180px;
    background-size: 875px 840px;
}

.sprite-bluecoin {
    background: url("../img/spritesheet.png") -320px -215px;
    background-size: 875px 840px;
}

.sprite-boolberry {
    background: url("../img/spritesheet.png") -320px -250px;
    background-size: 875px 840px;
}

.sprite-boomcoin {
    background: url("../img/spritesheet.png") -320px -285px;
    background-size: 875px 840px;
}

.sprite-boostcoin {
    background: url("../img/spritesheet.png") -5px -320px;
    background-size: 875px 840px;
}

.sprite-bottlecaps {
    background: url("../img/spritesheet.png") -40px -320px;
    background-size: 875px 840px;
}

.sprite-breakout {
    background: url("../img/spritesheet.png") -75px -320px;
    background-size: 875px 840px;
}

.sprite-breakoutstake {
    background: url("../img/spritesheet.png") -110px -320px;
    background-size: 875px 840px;
}

.sprite-brl {
    background: url("../img/spritesheet.png") -145px -320px;
    background-size: 875px 840px;
}

.sprite-burst {
    background: url("../img/spritesheet.png") -180px -320px;
    background-size: 875px 840px;
}

.sprite-byteball {
    background: url("../img/spritesheet.png") -215px -320px;
    background-size: 875px 840px;
}

.sprite-byteballbytes {
    background: url("../img/spritesheet.png") -250px -320px;
    background-size: 875px 840px;
}

.sprite-bytecent {
    background: url("../img/spritesheet.png") -285px -320px;
    background-size: 875px 840px;
}

.sprite-bytecoin {
    background: url("../img/spritesheet.png") -320px -320px;
    background-size: 875px 840px;
}

.sprite-bytom {
    background: url("../img/spritesheet.png") -355px -5px;
    background-size: 875px 840px;
}

.sprite-cad {
    background: url("../img/spritesheet.png") -355px -40px;
    background-size: 875px 840px;
}

.sprite-caix {
    background: url("../img/spritesheet.png") -355px -75px;
    background-size: 875px 840px;
}

.sprite-camorracoin {
    background: url("../img/spritesheet.png") -355px -110px;
    background-size: 875px 840px;
}

.sprite-cannabiscoin {
    background: url("../img/spritesheet.png") -355px -145px;
    background-size: 875px 840px;
}

.sprite-carpediemcoin {
    background: url("../img/spritesheet.png") -355px -180px;
    background-size: 875px 840px;
}

.sprite-casinocoin {
    background: url("../img/spritesheet.png") -355px -215px;
    background-size: 875px 840px;
}

.sprite-catcoin {
    background: url("../img/spritesheet.png") -355px -250px;
    background-size: 875px 840px;
}

.sprite-centra {
    background: url("../img/spritesheet.png") -355px -285px;
    background-size: 875px 840px;
}

.sprite-chaincoin {
    background: url("../img/spritesheet.png") -355px -320px;
    background-size: 875px 840px;
}

.sprite-chainlink {
    background: url("../img/spritesheet.png") -5px -355px;
    background-size: 875px 840px;
}

.sprite-chancecoin {
    background: url("../img/spritesheet.png") -40px -355px;
    background-size: 875px 840px;
}

.sprite-chf {
    background: url("../img/spritesheet.png") -75px -355px;
    background-size: 875px 840px;
}

.sprite-chncoin {
    background: url("../img/spritesheet.png") -110px -355px;
    background-size: 875px 840px;
}

.sprite-chococoin {
    background: url("../img/spritesheet.png") -145px -355px;
    background-size: 875px 840px;
}

.sprite-chronobank {
    background: url("../img/spritesheet.png") -180px -355px;
    background-size: 875px 840px;
}

.sprite-cinni {
    background: url("../img/spritesheet.png") -215px -355px;
    background-size: 875px 840px;
}

.sprite-circuitsofv {
    background: url("../img/spritesheet.png") -250px -355px;
    background-size: 875px 840px;
}

.sprite-civic {
    background: url("../img/spritesheet.png") -285px -355px;
    background-size: 875px 840px;
}

.sprite-clams {
    background: url("../img/spritesheet.png") -320px -355px;
    background-size: 875px 840px;
}

.sprite-cleanwatercoin {
    background: url("../img/spritesheet.png") -355px -355px;
    background-size: 875px 840px;
}

.sprite-cloakcoin {
    background: url("../img/spritesheet.png") -390px -5px;
    background-size: 875px 840px;
}

.sprite-cny {
    background: url("../img/spritesheet.png") -390px -40px;
    background-size: 875px 840px;
}

.sprite-coeval {
    background: url("../img/spritesheet.png") -390px -75px;
    background-size: 875px 840px;
}

.sprite-cofoundit {
    background: url("../img/spritesheet.png") -390px -110px;
    background-size: 875px 840px;
}

.sprite-coin2 {
    background: url("../img/spritesheet.png") -390px -145px;
    background-size: 875px 840px;
}

.sprite-coindash {
    background: url("../img/spritesheet.png") -390px -180px;
    background-size: 875px 840px;
}

.sprite-coino {
    background: url("../img/spritesheet.png") -390px -215px;
    background-size: 875px 840px;
}

.sprite-coinomat {
    background: url("../img/spritesheet.png") -390px -250px;
    background-size: 875px 840px;
}

.sprite-coinousd {
    background: url("../img/spritesheet.png") -390px -285px;
    background-size: 875px 840px;
}

.sprite-communitycoin {
    background: url("../img/spritesheet.png") -390px -320px;
    background-size: 875px 840px;
}

.sprite-counterparty {
    background: url("../img/spritesheet.png") -390px -355px;
    background-size: 875px 840px;
}

.sprite-crave {
    background: url("../img/spritesheet.png") -5px -390px;
    background-size: 875px 840px;
}

.sprite-creditbit {
    background: url("../img/spritesheet.png") -40px -390px;
    background-size: 875px 840px;
}

.sprite-crevacoin {
    background: url("../img/spritesheet.png") -75px -390px;
    background-size: 875px 840px;
}

.sprite-crown {
    background: url("../img/spritesheet.png") -110px -390px;
    background-size: 875px 840px;
}

.sprite-cryptcoin {
    background: url("../img/spritesheet.png") -145px -390px;
    background-size: 875px 840px;
}

.sprite-crypti {
    background: url("../img/spritesheet.png") -180px -390px;
    background-size: 875px 840px;
}

.sprite-cryptobuk {
    background: url("../img/spritesheet.png") -215px -390px;
    background-size: 875px 840px;
}

.sprite-cryptobullion {
    background: url("../img/spritesheet.png") -250px -390px;
    background-size: 875px 840px;
}

.sprite-cryptocoins {
    background: url("../img/spritesheet.png") -285px -390px;
    background-size: 875px 840px;
}

.sprite-cryptonite {
    background: url("../img/spritesheet.png") -320px -390px;
    background-size: 875px 840px;
}

.sprite-curecoin {
    background: url("../img/spritesheet.png") -355px -390px;
    background-size: 875px 840px;
}

.sprite-cvcoin {
    background: url("../img/spritesheet.png") -390px -390px;
    background-size: 875px 840px;
}

.sprite-czacoin {
    background: url("../img/spritesheet.png") -425px -5px;
    background-size: 875px 840px;
}

.sprite-czechcrowncoin {
    background: url("../img/spritesheet.png") -425px -40px;
    background-size: 875px 840px;
}

.sprite-darcrus {
    background: url("../img/spritesheet.png") -425px -75px;
    background-size: 875px 840px;
}

.sprite-darkcoin {
    background: url("../img/spritesheet.png") -425px -110px;
    background-size: 875px 840px;
}

.sprite-darknote {
    background: url("../img/spritesheet.png") -425px -145px;
    background-size: 875px 840px;
}

.sprite-dash {
    background: url("../img/spritesheet.png") -425px -180px;
    background-size: 875px 840px;
}

.sprite-databits {
    background: url("../img/spritesheet.png") -425px -215px;
    background-size: 875px 840px;
}

.sprite-daxxcoin {
    background: url("../img/spritesheet.png") -425px -250px;
    background-size: 875px 840px;
}

.sprite-daytradercoin {
    background: url("../img/spritesheet.png") -425px -285px;
    background-size: 875px 840px;
}

.sprite-debune {
    background: url("../img/spritesheet.png") -425px -320px;
    background-size: 875px 840px;
}

.sprite-decent {
    background: url("../img/spritesheet.png") -425px -355px;
    background-size: 875px 840px;
}

.sprite-decred {
    background: url("../img/spritesheet.png") -425px -390px;
    background-size: 875px 840px;
}

.sprite-default {
    background: url("../img/spritesheet.png") -5px -425px;
    background-size: 875px 840px;
}

.sprite-dentacoin {
    background: url("../img/spritesheet.png") -40px -425px;
    background-size: 875px 840px;
}

.sprite-deutscheemark {
    background: url("../img/spritesheet.png") -75px -425px;
    background-size: 875px 840px;
}

.sprite-devcoin {
    background: url("../img/spritesheet.png") -110px -425px;
    background-size: 875px 840px;
}

.sprite-diamond {
    background: url("../img/spritesheet.png") -145px -425px;
    background-size: 875px 840px;
}

.sprite-digibyte {
    background: url("../img/spritesheet.png") -180px -425px;
    background-size: 875px 840px;
}

.sprite-digitalcoin {
    background: url("../img/spritesheet.png") -215px -425px;
    background-size: 875px 840px;
}

.sprite-digitalnote {
    background: url("../img/spritesheet.png") -250px -425px;
    background-size: 875px 840px;
}

.sprite-digixdao {
    background: url("../img/spritesheet.png") -285px -425px;
    background-size: 875px 840px;
}

.sprite-dirac {
    background: url("../img/spritesheet.png") -320px -425px;
    background-size: 875px 840px;
}

.sprite-district0x {
    background: url("../img/spritesheet.png") -355px -425px;
    background-size: 875px 840px;
}

.sprite-dnotes {
    background: url("../img/spritesheet.png") -390px -425px;
    background-size: 875px 840px;
}

.sprite-dogecoin {
    background: url("../img/spritesheet.png") -425px -425px;
    background-size: 875px 840px;
}

.sprite-dogecoindark {
    background: url("../img/spritesheet.png") -460px -5px;
    background-size: 875px 840px;
}

.sprite-dogeparty {
    background: url("../img/spritesheet.png") -460px -40px;
    background-size: 875px 840px;
}

.sprite-dollar {
    background: url("../img/spritesheet.png") -460px -75px;
    background-size: 875px 840px;
}

.sprite-dopecoin {
    background: url("../img/spritesheet.png") -460px -110px;
    background-size: 875px 840px;
}

.sprite-doubloons {
    background: url("../img/spritesheet.png") -460px -145px;
    background-size: 875px 840px;
}

.sprite-dubaicoin {
    background: url("../img/spritesheet.png") -460px -180px;
    background-size: 875px 840px;
}

.sprite-e-dinarcoin {
    background: url("../img/spritesheet.png") -460px -215px;
    background-size: 875px 840px;
}

.sprite-earthcoin {
    background: url("../img/spritesheet.png") -460px -250px;
    background-size: 875px 840px;
}

.sprite-eb3coin {
    background: url("../img/spritesheet.png") -460px -285px;
    background-size: 875px 840px;
}

.sprite-eboost {
    background: url("../img/spritesheet.png") -460px -320px;
    background-size: 875px 840px;
}

.sprite-ecccoin {
    background: url("../img/spritesheet.png") -460px -355px;
    background-size: 875px 840px;
}

.sprite-ecobit {
    background: url("../img/spritesheet.png") -460px -390px;
    background-size: 875px 840px;
}

.sprite-ecoin {
    background: url("../img/spritesheet.png") -460px -425px;
    background-size: 875px 840px;
}

.sprite-ecurrencycoin {
    background: url("../img/spritesheet.png") -5px -460px;
    background-size: 875px 840px;
}

.sprite-edgeless {
    background: url("../img/spritesheet.png") -40px -460px;
    background-size: 875px 840px;
}

.sprite-edinarcoin {
    background: url("../img/spritesheet.png") -75px -460px;
    background-size: 875px 840px;
}

.sprite-einsteinium {
    background: url("../img/spritesheet.png") -110px -460px;
    background-size: 875px 840px;
}

.sprite-elastic {
    background: url("../img/spritesheet.png") -145px -460px;
    background-size: 875px 840px;
}

.sprite-electronic-gulden {
    background: url("../img/spritesheet.png") -180px -460px;
    background-size: 875px 840px;
}

.sprite-electronicgulden {
    background: url("../img/spritesheet.png") -215px -460px;
    background-size: 875px 840px;
}

.sprite-embers {
    background: url("../img/spritesheet.png") -250px -460px;
    background-size: 875px 840px;
}

.sprite-emc {
    background: url("../img/spritesheet.png") -285px -460px;
    background-size: 875px 840px;
}

.sprite-emercoin {
    background: url("../img/spritesheet.png") -320px -460px;
    background-size: 875px 840px;
}

.sprite-encryptotel {
    background: url("../img/spritesheet.png") -355px -460px;
    background-size: 875px 840px;
}

.sprite-energycoin {
    background: url("../img/spritesheet.png") -390px -460px;
    background-size: 875px 840px;
}

.sprite-eos {
    background: url("../img/spritesheet.png") -425px -460px;
    background-size: 875px 840px;
}

.sprite-eryllium {
    background: url("../img/spritesheet.png") -460px -460px;
    background-size: 875px 840px;
}

.sprite-espers {
    background: url("../img/spritesheet.png") -495px -5px;
    background-size: 875px 840px;
}

.sprite-ethercoin {
    background: url("../img/spritesheet.png") -495px -40px;
    background-size: 875px 840px;
}

.sprite-ethereum {
    background: url("../img/spritesheet.png") -495px -75px;
    background-size: 875px 840px;
}

.sprite-ethereumclassic {
    background: url("../img/spritesheet.png") -495px -110px;
    background-size: 875px 840px;
}

.sprite-ethereummovi {
    background: url("../img/spritesheet.png") -495px -145px;
    background-size: 875px 840px;
}

.sprite-etheroll {
    background: url("../img/spritesheet.png") -495px -180px;
    background-size: 875px 840px;
}

.sprite-eur {
    background: url("../img/spritesheet.png") -495px -215px;
    background-size: 875px 840px;
}

.sprite-exclusivecoin {
    background: url("../img/spritesheet.png") -495px -250px;
    background-size: 875px 840px;
}

.sprite-execoin {
    background: url("../img/spritesheet.png") -495px -285px;
    background-size: 875px 840px;
}

.sprite-expanse {
    background: url("../img/spritesheet.png") -495px -320px;
    background-size: 875px 840px;
}

.sprite-experiment-10k {
    background: url("../img/spritesheet.png") -495px -355px;
    background-size: 875px 840px;
}

.sprite-experiment10k {
    background: url("../img/spritesheet.png") -495px -390px;
    background-size: 875px 840px;
}

.sprite-extreme {
    background: url("../img/spritesheet.png") -495px -425px;
    background-size: 875px 840px;
}

.sprite-extremecoin {
    background: url("../img/spritesheet.png") -495px -460px;
    background-size: 875px 840px;
}

.sprite-factom {
    background: url("../img/spritesheet.png") -5px -495px;
    background-size: 875px 840px;
}

.sprite-faircoin {
    background: url("../img/spritesheet.png") -40px -495px;
    background-size: 875px 840px;
}

.sprite-fastcoin {
    background: url("../img/spritesheet.png") -75px -495px;
    background-size: 875px 840px;
}

.sprite-favela_da_mare {
    background: url("../img/spritesheet.png") -110px -495px;
    background-size: 875px 840px;
}

.sprite-feathercoin {
    background: url("../img/spritesheet.png") -145px -495px;
    background-size: 875px 840px;
}

.sprite-fedoracoin {
    background: url("../img/spritesheet.png") -180px -495px;
    background-size: 875px 840px;
}

.sprite-fibre {
    background: url("../img/spritesheet.png") -215px -495px;
    background-size: 875px 840px;
}

.sprite-fimkrypto {
    background: url("../img/spritesheet.png") -250px -495px;
    background-size: 875px 840px;
}

.sprite-firstblood {
    background: url("../img/spritesheet.png") -285px -495px;
    background-size: 875px 840px;
}

.sprite-firstbloodprelaunch {
    background: url("../img/spritesheet.png") -320px -495px;
    background-size: 875px 840px;
}

.sprite-firstcoin {
    background: url("../img/spritesheet.png") -355px -495px;
    background-size: 875px 840px;
}

.sprite-flappycoin {
    background: url("../img/spritesheet.png") -390px -495px;
    background-size: 875px 840px;
}

.sprite-florincoin {
    background: url("../img/spritesheet.png") -425px -495px;
    background-size: 875px 840px;
}

.sprite-fluttercoin {
    background: url("../img/spritesheet.png") -460px -495px;
    background-size: 875px 840px;
}

.sprite-foldingcoin {
    background: url("../img/spritesheet.png") -495px -495px;
    background-size: 875px 840px;
}

.sprite-freemarket {
    background: url("../img/spritesheet.png") -530px -5px;
    background-size: 875px 840px;
}

.sprite-freicoin {
    background: url("../img/spritesheet.png") -530px -40px;
    background-size: 875px 840px;
}

.sprite-freshcoin {
    background: url("../img/spritesheet.png") -530px -75px;
    background-size: 875px 840px;
}

.sprite-fuelcoin {
    background: url("../img/spritesheet.png") -530px -110px;
    background-size: 875px 840px;
}

.sprite-funfair {
    background: url("../img/spritesheet.png") -530px -145px;
    background-size: 875px 840px;
}

.sprite-gambit {
    background: url("../img/spritesheet.png") -530px -180px;
    background-size: 875px 840px;
}

.sprite-gamecredits {
    background: url("../img/spritesheet.png") -530px -215px;
    background-size: 875px 840px;
}

.sprite-zennies {
    background: url("../img/spritesheet.png") -530px -250px;
    background-size: 875px 840px;
}

.sprite-ganjacoin {
    background: url("../img/spritesheet.png") -530px -285px;
    background-size: 875px 840px;
}

.sprite-gas {
    background: url("../img/spritesheet.png") -530px -320px;
    background-size: 875px 840px;
}

.sprite-gbp {
    background: url("../img/spritesheet.png") -530px -355px;
    background-size: 875px 840px;
}

.sprite-geocoin {
    background: url("../img/spritesheet.png") -530px -390px;
    background-size: 875px 840px;
}

.sprite-getgems {
    background: url("../img/spritesheet.png") -530px -425px;
    background-size: 875px 840px;
}

.sprite-givecoin {
    background: url("../img/spritesheet.png") -530px -460px;
    background-size: 875px 840px;
}

.sprite-globalcurren {
    background: url("../img/spritesheet.png") -530px -495px;
    background-size: 875px 840px;
}

.sprite-glyph {
    background: url("../img/spritesheet.png") -5px -530px;
    background-size: 875px 840px;
}

.sprite-gnosis {
    background: url("../img/spritesheet.png") -40px -530px;
    background-size: 875px 840px;
}

.sprite-goldcoin {
    background: url("../img/spritesheet.png") -75px -530px;
    background-size: 875px 840px;
}

.sprite-golem {
    background: url("../img/spritesheet.png") -110px -530px;
    background-size: 875px 840px;
}

.sprite-golos {
    background: url("../img/spritesheet.png") -145px -530px;
    background-size: 875px 840px;
}

.sprite-grandcoin {
    background: url("../img/spritesheet.png") -180px -530px;
    background-size: 875px 840px;
}

.sprite-greenbacks {
    background: url("../img/spritesheet.png") -215px -530px;
    background-size: 875px 840px;
}

.sprite-gridcoin {
    background: url("../img/spritesheet.png") -250px -530px;
    background-size: 875px 840px;
}

.sprite-groestlcoin {
    background: url("../img/spritesheet.png") -285px -530px;
    background-size: 875px 840px;
}

.sprite-gulden {
    background: url("../img/spritesheet.png") -320px -530px;
    background-size: 875px 840px;
}

.sprite-guldencoin {
    background: url("../img/spritesheet.png") -355px -530px;
    background-size: 875px 840px;
}

.sprite-gxshares {
    background: url("../img/spritesheet.png") -390px -530px;
    background-size: 875px 840px;
}

.sprite-hackergold {
    background: url("../img/spritesheet.png") -425px -530px;
    background-size: 875px 840px;
}

.sprite-happycoin {
    background: url("../img/spritesheet.png") -460px -530px;
    background-size: 875px 840px;
}

.sprite-heat {
    background: url("../img/spritesheet.png") -495px -530px;
    background-size: 875px 840px;
}

.sprite-hellascoin {
    background: url("../img/spritesheet.png") -530px -530px;
    background-size: 875px 840px;
}

.sprite-hkd {
    background: url("../img/spritesheet.png") -565px -5px;
    background-size: 875px 840px;
}

.sprite-hobonickels {
    background: url("../img/spritesheet.png") -565px -40px;
    background-size: 875px 840px;
}

.sprite-horizon {
    background: url("../img/spritesheet.png") -565px -75px;
    background-size: 875px 840px;
}

.sprite-hshare {
    background: url("../img/spritesheet.png") -565px -110px;
    background-size: 875px 840px;
}

.sprite-htmlcoin {
    background: url("../img/spritesheet.png") -565px -145px;
    background-size: 875px 840px;
}

.sprite-humaniq {
    background: url("../img/spritesheet.png") -565px -180px;
    background-size: 875px 840px;
}

.sprite-huntercoin {
    background: url("../img/spritesheet.png") -565px -215px;
    background-size: 875px 840px;
}

.sprite-hyper {
    background: url("../img/spritesheet.png") -565px -250px;
    background-size: 875px 840px;
}

.sprite-hyperstake {
    background: url("../img/spritesheet.png") -565px -285px;
    background-size: 875px 840px;
}

.sprite-i0coin {
    background: url("../img/spritesheet.png") -565px -320px;
    background-size: 875px 840px;
}

.sprite-icash {
    background: url("../img/spritesheet.png") -565px -355px;
    background-size: 875px 840px;
}

.sprite-ico {
    background: url("../img/spritesheet.png") -565px -390px;
    background-size: 875px 840px;
}

.sprite-icoin {
    background: url("../img/spritesheet.png") -565px -425px;
    background-size: 875px 840px;
}

.sprite-iconomi {
    background: url("../img/spritesheet.png") -565px -460px;
    background-size: 875px 840px;
}

.sprite-icoopenledger {
    background: url("../img/spritesheet.png") -565px -495px;
    background-size: 875px 840px;
}

.sprite-iexecrlc {
    background: url("../img/spritesheet.png") -565px -530px;
    background-size: 875px 840px;
}

.sprite-incakoin {
    background: url("../img/spritesheet.png") -5px -565px;
    background-size: 875px 840px;
}

.sprite-incent {
    background: url("../img/spritesheet.png") -40px -565px;
    background-size: 875px 840px;
}

.sprite-infinitecoin {
    background: url("../img/spritesheet.png") -75px -565px;
    background-size: 875px 840px;
}

.sprite-influxcoin {
    background: url("../img/spritesheet.png") -110px -565px;
    background-size: 875px 840px;
}

.sprite-inr {
    background: url("../img/spritesheet.png") -145px -565px;
    background-size: 875px 840px;
}

.sprite-insanecoin {
    background: url("../img/spritesheet.png") -180px -565px;
    background-size: 875px 840px;
}

.sprite-instantdex {
    background: url("../img/spritesheet.png") -215px -565px;
    background-size: 875px 840px;
}

.sprite-insurex {
    background: url("../img/spritesheet.png") -250px -565px;
    background-size: 875px 840px;
}

.sprite-iocoin {
    background: url("../img/spritesheet.png") -285px -565px;
    background-size: 875px 840px;
}

.sprite-ion {
    background: url("../img/spritesheet.png") -320px -565px;
    background-size: 875px 840px;
}

.sprite-iota {
    background: url("../img/spritesheet.png") -355px -565px;
    background-size: 875px 840px;
}

.sprite-isracoin {
    background: url("../img/spritesheet.png") -390px -565px;
    background-size: 875px 840px;
}

.sprite-jackpot {
    background: url("../img/spritesheet.png") -425px -565px;
    background-size: 875px 840px;
}

.sprite-jackpotcoin {
    background: url("../img/spritesheet.png") -460px -565px;
    background-size: 875px 840px;
}

.sprite-jay {
    background: url("../img/spritesheet.png") -495px -565px;
    background-size: 875px 840px;
}

.sprite-jinn {
    background: url("../img/spritesheet.png") -530px -565px;
    background-size: 875px 840px;
}

.sprite-jl777hodl {
    background: url("../img/spritesheet.png") -565px -565px;
    background-size: 875px 840px;
}

.sprite-jpy {
    background: url("../img/spritesheet.png") -600px -5px;
    background-size: 875px 840px;
}

.sprite-jumbucks {
    background: url("../img/spritesheet.png") -600px -40px;
    background-size: 875px 840px;
}

.sprite-karma {
    background: url("../img/spritesheet.png") -600px -75px;
    background-size: 875px 840px;
}

.sprite-kin {
    background: url("../img/spritesheet.png") -600px -110px;
    background-size: 875px 840px;
}

.sprite-klondikecoin {
    background: url("../img/spritesheet.png") -600px -145px;
    background-size: 875px 840px;
}

.sprite-kolschcoin {
    background: url("../img/spritesheet.png") -600px -180px;
    background-size: 875px 840px;
}

.sprite-pinkcoin {
    width: 21px;
    background: url("../img/spritesheet.png") -845px -459px;
    background-size: 875px 840px;
}

.sprite-krugercoin {
    background: url("../img/spritesheet.png") -600px -250px;
    background-size: 875px 840px;
}

.sprite-krypton {
    background: url("../img/spritesheet.png") -600px -285px;
    background-size: 875px 840px;
}

.sprite-kybernetwork {
    background: url("../img/spritesheet.png") -600px -320px;
    background-size: 875px 840px;
}

.sprite-lbry_credits {
    background: url("../img/spritesheet.png") -600px -355px;
    background-size: 875px 840px;
}

.sprite-lbrycredits {
    background: url("../img/spritesheet.png") -600px -390px;
    background-size: 875px 840px;
}

.sprite-leocoin {
    background: url("../img/spritesheet.png") -600px -425px;
    background-size: 875px 840px;
}

.sprite-librexcoin {
    background: url("../img/spritesheet.png") -600px -460px;
    background-size: 875px 840px;
}

.sprite-limecoinx {
    background: url("../img/spritesheet.png") -600px -495px;
    background-size: 875px 840px;
}

.sprite-liquid {
    background: url("../img/spritesheet.png") -600px -530px;
    background-size: 875px 840px;
}

.sprite-lisk {
    background: url("../img/spritesheet.png") -600px -565px;
    background-size: 875px 840px;
}

.sprite-litecoin {
    background: url("../img/spritesheet.png") -5px -600px;
    background-size: 875px 840px;
}

.sprite-lomocoin {
    background: url("../img/spritesheet.png") -40px -600px;
    background-size: 875px 840px;
}

.sprite-loopring {
    background: url("../img/spritesheet.png") -75px -600px;
    background-size: 875px 840px;
}

.sprite-lottoshares {
    background: url("../img/spritesheet.png") -110px -600px;
    background-size: 875px 840px;
}

.sprite-ltbcoin {
    background: url("../img/spritesheet.png") -145px -600px;
    background-size: 875px 840px;
}

.sprite-luckchain {
    background: url("../img/spritesheet.png") -180px -600px;
    background-size: 875px 840px;
}

.sprite-luckycoin {
    background: url("../img/spritesheet.png") -215px -600px;
    background-size: 875px 840px;
}

.sprite-lunyr {
    background: url("../img/spritesheet.png") -250px -600px;
    background-size: 875px 840px;
}

.sprite-lykke {
    background: url("../img/spritesheet.png") -285px -600px;
    background-size: 875px 840px;
}

.sprite-magi {
    background: url("../img/spritesheet.png") -320px -600px;
    background-size: 875px 840px;
}

.sprite-maidsafecoin {
    background: url("../img/spritesheet.png") -355px -600px;
    background-size: 875px 840px;
}

.sprite-maryjane {
    background: url("../img/spritesheet.png") -390px -600px;
    background-size: 875px 840px;
}

.sprite-mastercoin {
    background: url("../img/spritesheet.png") -425px -600px;
    background-size: 875px 840px;
}

.sprite-mastercoinomni {
    background: url("../img/spritesheet.png") -460px -600px;
    background-size: 875px 840px;
}

.sprite-matchpool {
    background: url("../img/spritesheet.png") -495px -600px;
    background-size: 875px 840px;
}

.sprite-maxcoin {
    background: url("../img/spritesheet.png") -530px -600px;
    background-size: 875px 840px;
}

.sprite-mazacoin {
    background: url("../img/spritesheet.png") -565px -600px;
    background-size: 875px 840px;
}

.sprite-mcap {
    background: url("../img/spritesheet.png") -600px -600px;
    background-size: 875px 840px;
}

.sprite-megacoin {
    background: url("../img/spritesheet.png") -635px -5px;
    background-size: 875px 840px;
}

.sprite-melon {
    background: url("../img/spritesheet.png") -635px -40px;
    background-size: 875px 840px;
}

.sprite-memorycoin {
    background: url("../img/spritesheet.png") -635px -75px;
    background-size: 875px 840px;
}

.sprite-mergecoin {
    background: url("../img/spritesheet.png") -635px -110px;
    background-size: 875px 840px;
}

.sprite-metal {
    background: url("../img/spritesheet.png") -635px -145px;
    background-size: 875px 840px;
}

.sprite-metaverseent {
    background: url("../img/spritesheet.png") -635px -180px;
    background-size: 875px 840px;
}

.sprite-metaverseetp {
    background: url("../img/spritesheet.png") -635px -215px;
    background-size: 875px 840px;
}

.sprite-mgw {
    background: url("../img/spritesheet.png") -635px -250px;
    background-size: 875px 840px;
}

.sprite-midas-rezerv {
    background: url("../img/spritesheet.png") -635px -285px;
    background-size: 875px 840px;
}

.sprite-midas.rezerv {
    background: url("../img/spritesheet.png") -635px -320px;
    background-size: 875px 840px;
}

.sprite-mincoin {
    background: url("../img/spritesheet.png") -635px -355px;
    background-size: 875px 840px;
}

.sprite-mintcoin {
    background: url("../img/spritesheet.png") -635px -390px;
    background-size: 875px 840px;
}

.sprite-missing {
    background: url("../img/spritesheet.png") -635px -425px;
    background-size: 875px 840px;
}

.sprite-mmnxt {
    background: url("../img/spritesheet.png") -635px -460px;
    background-size: 875px 840px;
}

.sprite-mobilego {
    background: url("../img/spritesheet.png") -635px -495px;
    background-size: 875px 840px;
}

.sprite-monaco {
    background: url("../img/spritesheet.png") -635px -530px;
    background-size: 875px 840px;
}

.sprite-monacoin {
    background: url("../img/spritesheet.png") -635px -565px;
    background-size: 875px 840px;
}

.sprite-monero {
    background: url("../img/spritesheet.png") -635px -600px;
    background-size: 875px 840px;
}

.sprite-monetaryunit {
    background: url("../img/spritesheet.png") -5px -635px;
    background-size: 875px 840px;
}

.sprite-monetha {
    background: url("../img/spritesheet.png") -40px -635px;
    background-size: 875px 840px;
}

.sprite-mooncoin {
    background: url("../img/spritesheet.png") -75px -635px;
    background-size: 875px 840px;
}

.sprite-mothership {
    background: url("../img/spritesheet.png") -110px -635px;
    background-size: 875px 840px;
}

.sprite-muse {
    background: url("../img/spritesheet.png") -145px -635px;
    background-size: 875px 840px;
}

.sprite-musicoin {
    background: url("../img/spritesheet.png") -180px -635px;
    background-size: 875px 840px;
}

.sprite-mxn {
    background: url("../img/spritesheet.png") -215px -635px;
    background-size: 875px 840px;
}

.sprite-myriad {
    background: url("../img/spritesheet.png") -250px -635px;
    background-size: 875px 840px;
}

.sprite-myriadcoin {
    background: url("../img/spritesheet.png") -285px -635px;
    background-size: 875px 840px;
}

.sprite-mysterium {
    background: url("../img/spritesheet.png") -320px -635px;
    background-size: 875px 840px;
}

.sprite-namecoin {
    background: url("../img/spritesheet.png") -355px -635px;
    background-size: 875px 840px;
}

.sprite-nas {
    background: url("../img/spritesheet.png") -390px -635px;
    background-size: 875px 840px;
}

.sprite-nautiluscoin {
    background: url("../img/spritesheet.png") -425px -635px;
    background-size: 875px 840px;
}

.sprite-navajo {
    background: url("../img/spritesheet.png") -460px -635px;
    background-size: 875px 840px;
}

.sprite-navajocoin {
    background: url("../img/spritesheet.png") -495px -635px;
    background-size: 875px 840px;
}

.sprite-navcoin {
    background: url("../img/spritesheet.png") -530px -635px;
    background-size: 875px 840px;
}

.sprite-nem {
    background: url("../img/spritesheet.png") -565px -635px;
    background-size: 875px 840px;
}

.sprite-neo {
    background: url("../img/spritesheet.png") -600px -635px;
    background-size: 875px 840px;
}

.sprite-neodice {
    background: url("../img/spritesheet.png") -635px -635px;
    background-size: 875px 840px;
}

.sprite-neoscoin {
    background: url("../img/spritesheet.png") -670px -5px;
    background-size: 875px 840px;
}

.sprite-netcoin {
    background: url("../img/spritesheet.png") -670px -40px;
    background-size: 875px 840px;
}

.sprite-newyorkcoin {
    background: url("../img/spritesheet.png") -670px -75px;
    background-size: 875px 840px;
}

.sprite-nexium {
    background: url("../img/spritesheet.png") -670px -110px;
    background-size: 875px 840px;
}

.sprite-nexus {
    background: url("../img/spritesheet.png") -670px -145px;
    background-size: 875px 840px;
}

.sprite-nexuseconomy {
    background: url("../img/spritesheet.png") -670px -180px;
    background-size: 875px 840px;
}

.sprite-nimiq {
    background: url("../img/spritesheet.png") -670px -215px;
    background-size: 875px 840px;
}

.sprite-noblecoin {
    background: url("../img/spritesheet.png") -670px -250px;
    background-size: 875px 840px;
}

.sprite-node {
    background: url("../img/spritesheet.png") -670px -285px;
    background-size: 875px 840px;
}

.sprite-noirshares {
    background: url("../img/spritesheet.png") -670px -320px;
    background-size: 875px 840px;
}

.sprite-nolimitcoin {
    background: url("../img/spritesheet.png") -670px -355px;
    background-size: 875px 840px;
}

.sprite-novacoin {
    background: url("../img/spritesheet.png") -670px -390px;
    background-size: 875px 840px;
}

.sprite-nubits {
    background: url("../img/spritesheet.png") -670px -425px;
    background-size: 875px 840px;
}

.sprite-numeraire {
    background: url("../img/spritesheet.png") -670px -460px;
    background-size: 875px 840px;
}

.sprite-nushares {
    background: url("../img/spritesheet.png") -670px -495px;
    background-size: 875px 840px;
}

.sprite-nvo {
    background: url("../img/spritesheet.png") -670px -530px;
    background-size: 875px 840px;
}

.sprite-nxt {
    background: url("../img/spritesheet.png") -670px -565px;
    background-size: 875px 840px;
}

.sprite-nxtprivacy {
    background: url("../img/spritesheet.png") -670px -600px;
    background-size: 875px 840px;
}

.sprite-nxttycoin {
    background: url("../img/spritesheet.png") -670px -635px;
    background-size: 875px 840px;
}

.sprite-nxtventure {
    background: url("../img/spritesheet.png") -5px -670px;
    background-size: 875px 840px;
}

.sprite-obits {
    background: url("../img/spritesheet.png") -40px -670px;
    background-size: 875px 840px;
}

.sprite-octocoin {
    background: url("../img/spritesheet.png") -75px -670px;
    background-size: 875px 840px;
}

.sprite-okcash {
    background: url("../img/spritesheet.png") -110px -670px;
    background-size: 875px 840px;
}

.sprite-omisego {
    background: url("../img/spritesheet.png") -145px -670px;
    background-size: 875px 840px;
}

.sprite-omni {
    background: url("../img/spritesheet.png") -180px -670px;
    background-size: 875px 840px;
}

.sprite-omnicoin {
    background: url("../img/spritesheet.png") -215px -670px;
    background-size: 875px 840px;
}

.sprite-opal {
    background: url("../img/spritesheet.png") -250px -670px;
    background-size: 875px 840px;
}

.sprite-orbitcoin {
    background: url("../img/spritesheet.png") -285px -670px;
    background-size: 875px 840px;
}

.sprite-pandacoin {
    background: url("../img/spritesheet.png") -320px -670px;
    background-size: 875px 840px;
}

.sprite-pandacoin_coin_transparent {
    background: url("../img/spritesheet.png") -355px -670px;
    background-size: 875px 840px;
}

.sprite-zencash {
    background: url("../img/spritesheet.png") -390px -670px;
    background-size: 875px 840px;
}

.sprite-pangeapoker {
    background: url("../img/spritesheet.png") -425px -670px;
    background-size: 875px 840px;
}

.sprite-pangeapokercoin {
    background: url("../img/spritesheet.png") -460px -670px;
    background-size: 875px 840px;
}

.sprite-particl {
    background: url("../img/spritesheet.png") -495px -670px;
    background-size: 875px 840px;
}

.sprite-particle {
    background: url("../img/spritesheet.png") -530px -670px;
    background-size: 875px 840px;
}

.sprite-pascalcoin {
    background: url("../img/spritesheet.png") -565px -670px;
    background-size: 875px 840px;
}

.sprite-patientory {
    background: url("../img/spritesheet.png") -600px -670px;
    background-size: 875px 840px;
}

.sprite-paycoin {
    background: url("../img/spritesheet.png") -635px -670px;
    background-size: 875px 840px;
}

.sprite-peercoin {
    background: url("../img/spritesheet.png") -670px -670px;
    background-size: 875px 840px;
}

.sprite-peerplays {
    background: url("../img/spritesheet.png") -705px -5px;
    background-size: 875px 840px;
}

.sprite-pepecash {
    background: url("../img/spritesheet.png") -705px -40px;
    background-size: 875px 840px;
}

.sprite-phoenixcoin {
    background: url("../img/spritesheet.png") -705px -75px;
    background-size: 875px 840px;
}

.sprite-php {
    background: url("../img/spritesheet.png") -705px -110px;
    background-size: 875px 840px;
}

.sprite-piggycoin {
    background: url("../img/spritesheet.png") -705px -145px;
    background-size: 875px 840px;
}

.sprite-pillar {
    background: url("../img/spritesheet.png") -705px -180px;
    background-size: 875px 840px;
}

.sprite-zeitcoin {
    background: url("../img/spritesheet.png") -705px -215px;
    background-size: 875px 840px;
}

.sprite-pivx {
    background: url("../img/spritesheet.png") -705px -250px;
    background-size: 875px 840px;
}

.sprite-pln {
    background: url("../img/spritesheet.png") -705px -285px;
    background-size: 875px 840px;
}

.sprite-pluton {
    background: url("../img/spritesheet.png") -705px -320px;
    background-size: 875px 840px;
}

.sprite-polybius {
    background: url("../img/spritesheet.png") -705px -355px;
    background-size: 875px 840px;
}

.sprite-popularcoin {
    background: url("../img/spritesheet.png") -705px -390px;
    background-size: 875px 840px;
}

.sprite-populous {
    background: url("../img/spritesheet.png") -705px -425px;
    background-size: 875px 840px;
}

.sprite-positron {
    background: url("../img/spritesheet.png") -705px -460px;
    background-size: 875px 840px;
}

.sprite-postcoin {
    background: url("../img/spritesheet.png") -705px -495px;
    background-size: 875px 840px;
}

.sprite-potcoin {
    background: url("../img/spritesheet.png") -705px -530px;
    background-size: 875px 840px;
}

.sprite-potcoinlogo {
    background: url("../img/spritesheet.png") -705px -565px;
    background-size: 875px 840px;
}

.sprite-primecoin {
    background: url("../img/spritesheet.png") -705px -600px;
    background-size: 875px 840px;
}

.sprite-privatebet {
    background: url("../img/spritesheet.png") -705px -635px;
    background-size: 875px 840px;
}

.sprite-prizm {
    background: url("../img/spritesheet.png") -705px -670px;
    background-size: 875px 840px;
}

.sprite-projectdecorum {
    background: url("../img/spritesheet.png") -5px -705px;
    background-size: 875px 840px;
}

.sprite-pseudocash {
    background: url("../img/spritesheet.png") -40px -705px;
    background-size: 875px 840px;
}

.sprite-putincoin {
    background: url("../img/spritesheet.png") -75px -705px;
    background-size: 875px 840px;
}

.sprite-qibuck {
    background: url("../img/spritesheet.png") -110px -705px;
    background-size: 875px 840px;
}

.sprite-qora {
    background: url("../img/spritesheet.png") -145px -705px;
    background-size: 875px 840px;
}

.sprite-qtum {
    background: url("../img/spritesheet.png") -180px -705px;
    background-size: 875px 840px;
}

.sprite-quantum {
    background: url("../img/spritesheet.png") -215px -705px;
    background-size: 875px 840px;
}

.sprite-quantumresis {
    background: url("../img/spritesheet.png") -250px -705px;
    background-size: 875px 840px;
}

.sprite-quantumresis {
    background: url("../img/spritesheet.png") -285px -705px;
    background-size: 875px 840px;
}

.sprite-quark {
    background: url("../img/spritesheet.png") -320px -705px;
    background-size: 875px 840px;
}

.sprite-quatloocoin {
    background: url("../img/spritesheet.png") -355px -705px;
    background-size: 875px 840px;
}

.sprite-qwark {
    background: url("../img/spritesheet.png") -390px -705px;
    background-size: 875px 840px;
}

.sprite-r-270x250 {
    background: url("../img/spritesheet.png") -425px -705px;
    background-size: 875px 840px;
}

.sprite-radium {
    background: url("../img/spritesheet.png") -460px -705px;
    background-size: 875px 840px;
}

.sprite-raiblocks {
    background: url("../img/spritesheet.png") -495px -705px;
    background-size: 875px 840px;
}

.sprite-razor {
    background: url("../img/spritesheet.png") -530px -705px;
    background-size: 875px 840px;
}

.sprite-redcoin {
    background: url("../img/spritesheet.png") -565px -705px;
    background-size: 875px 840px;
}

.sprite-reddcoin {
    background: url("../img/spritesheet.png") -600px -705px;
    background-size: 875px 840px;
}

.sprite-rialto {
    background: url("../img/spritesheet.png") -635px -705px;
    background-size: 875px 840px;
}

.sprite-ribbitrewards {
    background: url("../img/spritesheet.png") -670px -705px;
    background-size: 875px 840px;
}

.sprite-riecoin {
    background: url("../img/spritesheet.png") -705px -705px;
    background-size: 875px 840px;
}

.sprite-rimbit {
    background: url("../img/spritesheet.png") -740px -5px;
    background-size: 875px 840px;
}

.sprite-ripple {
    background: url("../img/spritesheet.png") -740px -40px;
    background-size: 875px 840px;
}

.sprite-rise {
    background: url("../img/spritesheet.png") -740px -75px;
    background-size: 875px 840px;
}

.sprite-rlc {
    background: url("../img/spritesheet.png") -740px -110px;
    background-size: 875px 840px;
}

.sprite-roulettetoken {
    background: url("../img/spritesheet.png") -740px -145px;
    background-size: 875px 840px;
}

.sprite-round {
    background: url("../img/spritesheet.png") -740px -180px;
    background-size: 875px 840px;
}

.sprite-roxcoin {
    background: url("../img/spritesheet.png") -740px -215px;
    background-size: 875px 840px;
}

.sprite-rub {
    background: url("../img/spritesheet.png") -740px -250px;
    background-size: 875px 840px;
}

.sprite-rubycoin {
    background: url("../img/spritesheet.png") -740px -285px;
    background-size: 875px 840px;
}

.sprite-safeexchang {
    background: url("../img/spritesheet.png") -740px -320px;
    background-size: 875px 840px;
}

.sprite-safeexchange {
    background: url("../img/spritesheet.png") -740px -355px;
    background-size: 875px 840px;
}

.sprite-safeexchangecoin {
    background: url("../img/spritesheet.png") -740px -390px;
    background-size: 875px 840px;
}

.sprite-saffroncoin {
    background: url("../img/spritesheet.png") -740px -425px;
    background-size: 875px 840px;
}

.sprite-salt {
    background: url("../img/spritesheet.png") -740px -460px;
    background-size: 875px 840px;
}

.sprite-salus {
    background: url("../img/spritesheet.png") -740px -495px;
    background-size: 875px 840px;
}

.sprite-santimentnet {
    background: url("../img/spritesheet.png") -740px -530px;
    background-size: 875px 840px;
}

.sprite-sapience aifx {
    background: url("../img/spritesheet.png") -740px -565px;
    background-size: 875px 840px;
}

.sprite-saturn2coin {
    background: url("../img/spritesheet.png") -740px -600px;
    background-size: 875px 840px;
}

.sprite-scorecoin {
    background: url("../img/spritesheet.png") -740px -635px;
    background-size: 875px 840px;
}

.sprite-scotcoin {
    background: url("../img/spritesheet.png") -740px -670px;
    background-size: 875px 840px;
}

.sprite-securecoin {
    background: url("../img/spritesheet.png") -740px -705px;
    background-size: 875px 840px;
}

.sprite-sek {
    background: url("../img/spritesheet.png") -5px -740px;
    background-size: 875px 840px;
}

.sprite-sembro.token {
    background: url("../img/spritesheet.png") -40px -740px;
    background-size: 875px 840px;
}

.sprite-sequence {
    background: url("../img/spritesheet.png") -75px -740px;
    background-size: 875px 840px;
}

.sprite-sexcoin {
    background: url("../img/spritesheet.png") -110px -740px;
    background-size: 875px 840px;
}

.sprite-sgd {
    background: url("../img/spritesheet.png") -145px -740px;
    background-size: 875px 840px;
}

.sprite-shadowcash {
    background: url("../img/spritesheet.png") -180px -740px;
    background-size: 875px 840px;
}

.sprite-shadowcoin {
    background: url("../img/spritesheet.png") -215px -740px;
    background-size: 875px 840px;
}

.sprite-sharkfund0 {
    background: url("../img/spritesheet.png") -250px -740px;
    background-size: 875px 840px;
}

.sprite-shift {
    background: url("../img/spritesheet.png") -285px -740px;
    background-size: 875px 840px;
}

.sprite-siacoin {
    background: url("../img/spritesheet.png") -320px -740px;
    background-size: 875px 840px;
}

.sprite-sibcoin {
    background: url("../img/spritesheet.png") -355px -740px;
    background-size: 875px 840px;
}

.sprite-silkcoin {
    background: url("../img/spritesheet.png") -390px -740px;
    background-size: 875px 840px;
}

.sprite-singulardtv {
    background: url("../img/spritesheet.png") -425px -740px;
    background-size: 875px 840px;
}

.sprite-sixeleven {
    background: url("../img/spritesheet.png") -460px -740px;
    background-size: 875px 840px;
}

.sprite-skycoin {
    background: url("../img/spritesheet.png") -495px -740px;
    background-size: 875px 840px;
}

.sprite-skynet {
    background: url("../img/spritesheet.png") -530px -740px;
    background-size: 875px 840px;
}

.sprite-slimcoin {
    background: url("../img/spritesheet.png") -565px -740px;
    background-size: 875px 840px;
}

.sprite-smartcash {
    background: url("../img/spritesheet.png") -600px -740px;
    background-size: 875px 840px;
}

.sprite-smileycoin {
    background: url("../img/spritesheet.png") -635px -740px;
    background-size: 875px 840px;
}

.sprite-snowballs {
    background: url("../img/spritesheet.png") -670px -740px;
    background-size: 875px 840px;
}

.sprite-soarcoin {
    background: url("../img/spritesheet.png") -705px -740px;
    background-size: 875px 840px;
}

.sprite-solarcoin {
    background: url("../img/spritesheet.png") -740px -740px;
    background-size: 875px 840px;
}

.sprite-solarfarm {
    background: url("../img/spritesheet.png") -775px -5px;
    background-size: 875px 840px;
}

.sprite-solorfarm {
    background: url("../img/spritesheet.png") -775px -40px;
    background-size: 875px 840px;
}

.sprite-sonm {
    background: url("../img/spritesheet.png") -775px -75px;
    background-size: 875px 840px;
}

.sprite-spectrecoin {
    background: url("../img/spritesheet.png") -775px -110px;
    background-size: 875px 840px;
}

.sprite-sphere {
    background: url("../img/spritesheet.png") -775px -145px;
    background-size: 875px 840px;
}

.sprite-spreadcoin {
    background: url("../img/spritesheet.png") -775px -180px;
    background-size: 875px 840px;
}

.sprite-sprouts {
    background: url("../img/spritesheet.png") -775px -215px;
    background-size: 875px 840px;
}

.sprite-starta {
    background: url("../img/spritesheet.png") -775px -250px;
    background-size: 875px 840px;
}

.sprite-startcoin {
    background: url("../img/spritesheet.png") -775px -285px;
    background-size: 875px 840px;
}

.sprite-status {
    background: url("../img/spritesheet.png") -775px -320px;
    background-size: 875px 840px;
}

.sprite-stealthcoin {
    background: url("../img/spritesheet.png") -775px -355px;
    background-size: 875px 840px;
}

.sprite-steem {
    background: url("../img/spritesheet.png") -775px -390px;
    background-size: 875px 840px;
}

.sprite-steemdollars {
    background: url("../img/spritesheet.png") -775px -425px;
    background-size: 875px 840px;
}

.sprite-stellar {
    background: url("../img/spritesheet.png") -775px -460px;
    background-size: 875px 840px;
}

.sprite-stellarlumens {
    background: url("../img/spritesheet.png") -775px -495px;
    background-size: 875px 840px;
}

.sprite-sterlingcoin {
    background: url("../img/spritesheet.png") -775px -530px;
    background-size: 875px 840px;
}

.sprite-storj {
    background: url("../img/spritesheet.png") -775px -565px;
    background-size: 875px 840px;
}

.sprite-stox {
    background: url("../img/spritesheet.png") -775px -600px;
    background-size: 875px 840px;
}

.sprite-stratis {
    background: url("../img/spritesheet.png") -775px -635px;
    background-size: 875px 840px;
}

.sprite-supercoin {
    background: url("../img/spritesheet.png") -775px -670px;
    background-size: 875px 840px;
}

.sprite-supernet {
    background: url("../img/spritesheet.png") -775px -705px;
    background-size: 875px 840px;
}

.sprite-swarm {
    background: url("../img/spritesheet.png") -775px -740px;
    background-size: 875px 840px;
}

.sprite-swarmcity {
    background: url("../img/spritesheet.png") -5px -775px;
    background-size: 875px 840px;
}

.sprite-sync {
    background: url("../img/spritesheet.png") -40px -775px;
    background-size: 875px 840px;
}

.sprite-synccoin {
    background: url("../img/spritesheet.png") -75px -775px;
    background-size: 875px 840px;
}

.sprite-syndicate {
    background: url("../img/spritesheet.png") -110px -775px;
    background-size: 875px 840px;
}

.sprite-synereo {
    background: url("../img/spritesheet.png") -145px -775px;
    background-size: 875px 840px;
}

.sprite-synergy {
    background: url("../img/spritesheet.png") -180px -775px;
    background-size: 875px 840px;
}

.sprite-syscoin {
    background: url("../img/spritesheet.png") -215px -775px;
    background-size: 875px 840px;
}

.sprite-taas {
    background: url("../img/spritesheet.png") -250px -775px;
    background-size: 875px 840px;
}

.sprite-tekcoin {
    background: url("../img/spritesheet.png") -285px -775px;
    background-size: 875px 840px;
}

.sprite-tenx {
    background: url("../img/spritesheet.png") -320px -775px;
    background-size: 875px 840px;
}

.sprite-terracoin {
    background: url("../img/spritesheet.png") -355px -775px;
    background-size: 875px 840px;
}

.sprite-teslacoin {
    background: url("../img/spritesheet.png") -390px -775px;
    background-size: 875px 840px;
}

.sprite-tether {
    background: url("../img/spritesheet.png") -425px -775px;
    background-size: 875px 840px;
}

.sprite-thechampcoin {
    background: url("../img/spritesheet.png") -460px -775px;
    background-size: 875px 840px;
}

.sprite-thedao {
    background: url("../img/spritesheet.png") -495px -775px;
    background-size: 875px 840px;
}

.sprite-tickets {
    background: url("../img/spritesheet.png") -530px -775px;
    background-size: 875px 840px;
}

.sprite-tilecoin {
    background: url("../img/spritesheet.png") -565px -775px;
    background-size: 875px 840px;
}

.sprite-titcoin {
    background: url("../img/spritesheet.png") -600px -775px;
    background-size: 875px 840px;
}

.sprite-tixcoin {
    background: url("../img/spritesheet.png") -635px -775px;
    background-size: 875px 840px;
}

.sprite-tokencard {
    background: url("../img/spritesheet.png") -670px -775px;
    background-size: 875px 840px;
}

.sprite-tokes {
    background: url("../img/spritesheet.png") -705px -775px;
    background-size: 875px 840px;
}

.sprite-tradebots {
    background: url("../img/spritesheet.png") -740px -775px;
    background-size: 875px 840px;
}

.sprite-triggers {
    background: url("../img/spritesheet.png") -775px -775px;
    background-size: 875px 840px;
}

.sprite-trumpcoin {
    background: url("../img/spritesheet.png") -810px -5px;
    background-size: 875px 840px;
}

.sprite-trustplus {
    background: url("../img/spritesheet.png") -810px -40px;
    background-size: 875px 840px;
}

.sprite-ubiq {
    background: url("../img/spritesheet.png") -810px -75px;
    background-size: 875px 840px;
}

.sprite-ucicoin {
    background: url("../img/spritesheet.png") -810px -110px;
    background-size: 875px 840px;
}

.sprite-ufocoin {
    background: url("../img/spritesheet.png") -810px -145px;
    background-size: 875px 840px;
}

.sprite-ultracoin {
    background: url("../img/spritesheet.png") -810px -180px;
    background-size: 875px 840px;
}

.sprite-unbreakablecoin {
    background: url("../img/spritesheet.png") -810px -215px;
    background-size: 875px 840px;
}

.sprite-unityingot {
    background: url("../img/spritesheet.png") -810px -250px;
    background-size: 875px 840px;
}

.sprite-unobtanium {
    background: url("../img/spritesheet.png") -810px -285px;
    background-size: 875px 840px;
}

.sprite-uro-coin-logo {
    background: url("../img/spritesheet.png") -810px -320px;
    background-size: 875px 840px;
}

.sprite-uro {
    background: url("../img/spritesheet.png") -810px -355px;
    background-size: 875px 840px;
}

.sprite-usd {
    background: url("../img/spritesheet.png") -810px -390px;
    background-size: 875px 840px;
}

.sprite-usde {
    background: url("../img/spritesheet.png") -810px -425px;
    background-size: 875px 840px;
}

.sprite-utilitycoin {
    background: url("../img/spritesheet.png") -810px -460px;
    background-size: 875px 840px;
}

.sprite-vanillacoin {
    background: url("../img/spritesheet.png") -810px -495px;
    background-size: 875px 840px;
}

.sprite-vcash {
    background: url("../img/spritesheet.png") -810px -530px;
    background-size: 875px 840px;
}

.sprite-veltor {
    background: url("../img/spritesheet.png") -810px -565px;
    background-size: 875px 840px;
}

.sprite-verge {
    background: url("../img/spritesheet.png") -810px -600px;
    background-size: 875px 840px;
}

.sprite-vericoin {
    background: url("../img/spritesheet.png") -810px -635px;
    background-size: 875px 840px;
}

.sprite-veritaseum {
    background: url("../img/spritesheet.png") -810px -670px;
    background-size: 875px 840px;
}

.sprite-veros {
    background: url("../img/spritesheet.png") -810px -705px;
    background-size: 875px 840px;
}

.sprite-vertacoin {
    background: url("../img/spritesheet.png") -810px -740px;
    background-size: 875px 840px;
}

.sprite-vertcoin {
    background: url("../img/spritesheet.png") -810px -775px;
    background-size: 875px 840px;
}

.sprite-viacoin {
    background: url("../img/spritesheet.png") -5px -810px;
    background-size: 875px 840px;
}

.sprite-virtacoin {
    background: url("../img/spritesheet.png") -40px -810px;
    background-size: 875px 840px;
}

.sprite-vootcoin {
    background: url("../img/spritesheet.png") -75px -810px;
    background-size: 875px 840px;
}

.sprite-voxels {
    background: url("../img/spritesheet.png") -110px -810px;
    background-size: 875px 840px;
}

.sprite-vpncoin {
    background: url("../img/spritesheet.png") -145px -810px;
    background-size: 875px 840px;
}

.sprite-vslice {
    background: url("../img/spritesheet.png") -180px -810px;
    background-size: 875px 840px;
}

.sprite-vslice_white {
    background: url("../img/spritesheet.png") -215px -810px;
    background-size: 875px 840px;
}

.sprite-vtorrent {
    background: url("../img/spritesheet.png") -250px -810px;
    background-size: 875px 840px;
}

.sprite-wagerr {
    background: url("../img/spritesheet.png") -285px -810px;
    background-size: 875px 840px;
}

.sprite-walton {
    background: url("../img/spritesheet.png") -320px -810px;
    background-size: 875px 840px;
}

.sprite-wankcoin {
    background: url("../img/spritesheet.png") -355px -810px;
    background-size: 875px 840px;
}

.sprite-waves {
    background: url("../img/spritesheet.png") -390px -810px;
    background-size: 875px 840px;
}

.sprite-wavescommuni {
    background: url("../img/spritesheet.png") -425px -810px;
    background-size: 875px 840px;
}

.sprite-wetrust {
    background: url("../img/spritesheet.png") -460px -810px;
    background-size: 875px 840px;
}

.sprite-whitecoin {
    background: url("../img/spritesheet.png") -495px -810px;
    background-size: 875px 840px;
}

.sprite-wildbeastblock {
    background: url("../img/spritesheet.png") -530px -810px;
    background-size: 875px 840px;
}

.sprite-wings {
    background: url("../img/spritesheet.png") -565px -810px;
    background-size: 875px 840px;
}

.sprite-woodcoin {
    background: url("../img/spritesheet.png") -600px -810px;
    background-size: 875px 840px;
}

.sprite-worldcoin {
    background: url("../img/spritesheet.png") -635px -810px;
    background-size: 875px 840px;
}

.sprite-xaurum {
    background: url("../img/spritesheet.png") -670px -810px;
    background-size: 875px 840px;
}

.sprite-xcurrency {
    background: url("../img/spritesheet.png") -705px -810px;
    background-size: 875px 840px;
}

.sprite-xljhog {
    background: url("../img/spritesheet.png") -740px -810px;
    background-size: 875px 840px;
}

.sprite-xtrabytes {
    background: url("../img/spritesheet.png") -775px -810px;
    background-size: 875px 840px;
}

.sprite-xxxcoin {
    background: url("../img/spritesheet.png") -810px -810px;
    background-size: 875px 840px;
}

.sprite-ybcoin {
    background: url("../img/spritesheet.png") -845px -5px;
    background-size: 875px 840px;
}

.sprite-ybcoin_logo_60 {
    background: url("../img/spritesheet.png") -845px -40px;
    background-size: 875px 840px;
}

.sprite-yocoin {
    background: url("../img/spritesheet.png") -845px -75px;
    background-size: 875px 840px;
}

.sprite-zar {
    background: url("../img/spritesheet.png") -845px -110px;
    background-size: 875px 840px;
}

.sprite-zcash {
    background: url("../img/spritesheet.png") -845px -145px;
    background-size: 875px 840px;
}

.sprite-zccoin {
    background: url("../img/spritesheet.png") -845px -180px;
    background-size: 875px 840px;
}

.sprite-zclassic {
    background: url("../img/spritesheet.png") -845px -215px;
    background-size: 875px 840px;
}

.sprite-zcoin {
    background: url("../img/spritesheet.png") -845px -250px;
    background-size: 875px 840px;
}

.sprite-zrcoin {
    background: url("../img/spritesheet.png") -845px -285px;
    background-size: 875px 840px;
}

.sprite-gameleaguecoin {
    width: 24px;
    background: url("../img/spritesheet.png") -845px -320px;
    background-size: 875px 840px;
}

.sprite-adelphoi {
    width: 24px;
    background: url("../img/spritesheet.png") -845px -355px;
    background-size: 875px 840px;
}

.sprite-adel {
    width: 24px;
    background: url("../img/spritesheet.png") -845px -390px;
    background-size: 875px 840px;
}

.sprite-pangea poker {
    height: 24px;
    background: url("../img/spritesheet.png") -845px -425px;
    background-size: 875px 840px;
}

.sprite-1 {
    background: url("../img/spritesheet.png") -600px -215px;
    background-size: 875px 840px;
}
