﻿@using CoinTradePros.Web.Models
@model CoinTradePros.Web.Models.ExamModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
   
      
    <div class="col-md-8">
        <section class="box">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Answers</h2>
                        <ol>
                            @foreach (var q in Model.Questions)
                            {
                                <li><strong>@q.QuestionText</strong><br/>&nbsp;&nbsp;Answer: @q.CorrectOption, Response: @q.SelectedOption</li>
                            }


                        </ol>
                    </div>
                </div>
                
            </div>
           
        </section>
       
    </div>
    <div class="col-md-4">
        <section class="box">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2>Scores</h2>
                        Minimum Score: @Model.MinPassingScore, Your Score: @Model.Score
                    </div>
                </div>
            </div>
        </section>
       
    </div>
    
</section>
</section>