﻿@using System.Collections
@model CoinTradePros.Web.Models.StudentCourseModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
        @{
            var count1 = 0;
            var section_count = 0;
            var chp_count = 0;
            foreach (var m in Model.MyCourse.Sections)
            {
                var sec_id = "section_" + section_count;
                section_count++;
                <!-- Root accordian -->
                <div class="panel-group" id="accordionsections">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a  data-toggle="collapse" data-parent="#accordionsections" href="#@sec_id" title="@m.Id">
                                     
                                    @if (count1 <= Model.MyCourse.UnlockedSectionCount)
                                    {
                                        <i class="fa fa-check-square"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-lock"></i>
                                    }
                                    @m.Name
                                     
                                </a>
                            </h4>
                        </div>

                        <!-- Here we insert another nested accordion -->
                        @if (count1 <= Model.MyCourse.UnlockedSectionCount)
                        {
                            <div id=@sec_id class="panel-body collapse">

                                @foreach (var c in m.Chapters)
                                {
                                    var chpid = sec_id + "_chp_" + chp_count;
                                    chp_count++;
                                    <div class="panel-group" id="accordionchapters">
                                        <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordionchapters" href="#@chpid" title="@c.Id">
                                                        @c.Name
                                                    </a>
                                                </h4>
                                            </div>

                                            <!-- Here we insert another nested accordion -->
                                            @if (count1 <= Model.MyCourse.UnlockedSectionCount)
                                            {
                                                <div id=@chpid class="panel-body collapse">


                                                  

                                                        <div class="CoursePages">
                                                            @foreach (var p in c.Pages)
                                                            {

                                                                <ul class="nav nav-list">
                                                                    <li>
                                                                        <a href="@Url.Action("Run", new {enrollmentId = Model.Id, pageId = p.Id})" title="@p.Id">Page @p.PageNumber</a>
                                                                    </li>
                                                                </ul>
                                                                
                                                            }
                                                        </div>
                                                   

                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- Inner accordion ends here -->



                                    count1++;
                                }

                            </div>
                        }
                    </div>
                    <!-- Inner accordion ends here -->

                </div>
                 
                <!-- Root accordian ends here -->
            }
        }
       

        @*@{
            var count = 0;
            <div class="CourseSections">
                @foreach (var m in Model.MyCourse.Sections)
                {
                    <p style="font-weight: bold;" title="@m.Id">
                        @if (count <= Model.MyCourse.UnlockedSectionCount)
                        {
                            <i class="fa fa-check-square"></i>
                        }
                        else
                        {
                            <i class="fa fa-lock"></i>
                        }
                        @m.Name
                    </p>
                    <div class="CourseChapters">
                        @foreach (var c in m.Chapters)
                        {
                            <p title="@c.Id">@c.Name</p>

                            if (count <= Model.MyCourse.UnlockedSectionCount)
                            {
                                <div class="CoursePages">
                                    @foreach (var p in c.Pages)
                                    {
                                        <p>
                                            <a href="@Url.Action("Run", new {enrollmentId = Model.Id, pageId = p.Id})" title="@p.Id">Page @p.PageNumber</a>
                                        </p>
                                    }
                                </div>
                            }
                            count++;
                        }
                    </div>
                }
            </div>
        }*@
    </section>
</section>