﻿
@using CoinTradePros.Web.Models
@using Microsoft.Ajax.Utilities
@model CoinTradePros.Web.Models.ExamModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<script type="text/javascript">
  
        document.onkeydown = function(e) {
            if(event.keyCode == 123) {
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)){
                return false;
            }
            if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
                return false;
            }
        }
</script>
<section id="main-content" class="" oncontextmenu="return false" onkeydown="return false;" onmousedown="return false;">
    <section class="wrapper main-wrapper row" style=''>
        <div class="col-lg-12">
           
                <div class="panel panel-default">
                    <div class="panel-heading exam-title">
                        @Model.CurrentSection.Name|@Model.CurrentChapter.Name

                    </div>
                    <div class="panel-body">
                       
                         
                                @using (Html.BeginForm("CompleteExam", "Course"))
                                {


                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                            <span class="sr-only">40% Complete</span>
                                        </div>
                                    </div>



                                    <div class="divs">

                                        @Html.AntiForgeryToken()
                                        @foreach (QuestionModel q in Model.Questions)
                                        {
                                            <div class="qSection">


                                                @if (!string.IsNullOrEmpty(q.OptionA))
                                                {

                                                    @*<strong><span class="questionNo text-capitalize col-md-1" style="font-size: 21px;"></span>&nbsp;&nbsp;&nbsp;</strong>*@
                                                    <h3>@q.QuestionText</h3>
                                                    <br/>

                                                    <label for="A_@q.QuestionId">
                                                        <input id="A_@q.QuestionId" type="radio" name="Answer_@q.QuestionId" value="A"/>
                                                        @q.OptionA
                                                    </label>
                                                }
                                                <br/>
                                                @if (!string.IsNullOrEmpty(q.OptionB))
                                                {
                                                    <label for="B_@q.QuestionId">
                                                        <input id="B_@q.QuestionId" type="radio" name="Answer_@q.QuestionId" value="B"/>
                                                        @q.OptionB
                                                    </label>
                                                }
                                                <br/>
                                                @if (!string.IsNullOrEmpty(q.OptionC))
                                                {
                                                    <label for="C_@q.QuestionId">
                                                        <input id="C_@q.QuestionId" type="radio" name="Answer_@q.QuestionId" value="C"/>
                                                        @q.OptionC
                                                    </label>
                                                }
                                                <br/>
                                                @if (!string.IsNullOrEmpty(q.OptionD))
                                                {
                                                    <label for="D_@q.QuestionId">
                                                        <input id="D_@q.QuestionId" type="radio" name="Answer_@q.QuestionId" value="D"/>
                                                        @q.OptionD
                                                    </label>
                                                }
                                                <br/>
                                                @if (!string.IsNullOrEmpty(q.OptionE))
                                                {
                                                    <label for="E_@q.QuestionId">
                                                        <input id="E_@q.QuestionId" type="radio" name="Answer_@q." value="E"/>
                                                        @q.OptionE
                                                    </label>
                                                }
                                            </div>

                                        }
                                    </div>


                                    

                                   

                                        <div class="text-center" id="shwnext">
                                            <a id="next" class="btn btn-success">Next</a>
                                        </div>


                                   
                                    <button type="submit" class="btn btn-primary  pull-right" style="display: none;" id="chkans">
                                        <i class="fa fa-check-circle-o"></i>
                                        Check Answers
                                    </button>


                                    <input type="hidden" name="enrollmentId" value="@Request["enrollmentId"]"/>
                                    <input type="hidden" name="courseExamId" value="@Request["courseExamId"]"/>
                                }
                            </div>
                        </div>
                    
                
               
          
        </div>

    </section>
</section>
@*<script src="~/Scripts/jquery-3.2.1.js"></script>*@
