﻿@using System.Configuration
@using CoinTradePros.BusinessObjects.Calc
@model CoinTradePros.Web.Models.EnrollmentModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" style="margin-top: 80px;" class=" ">
    <h3>My Courses</h3>
    <table class="table table-condensed table-striped table-responsive table-hover">
        <thead class="thead-default">
            <tr>
                <th>Course Name</th>
                <th></th>
                <th>Coach Name</th>
                <th>Enrollment Date</th>
            </tr>
        </thead>

        @foreach (var item in Model.MyEnrollments)
        {
            <tr>
                <td>
                    @item.InstanceName
                </td>
                <td>
                    <a href="@Url.Action("CourseSidebar", new {enrollmentId = item.EnrollmentId})" class="btn btn-xs btn-success">Run @item.InstanceName</a>
                </td>
                <td>
                    @($"{item.CourseImpementerFirstName} {item.CourseImplementerLastName}")
                </td>
                <td>
                    @($"{item.EnrollmentDate:g}")
                </td>
            </tr>
        }
    </table>
    @if (User.IsInRole("ProTrader"))
    {

        <h3>My Coaching Students</h3>
        <table class="table table-condensed table-striped table-responsive table-hover">
            <thead class="thead-default">
                <tr>
                    <th>Course Name</th>
                    <th>Student Name</th>
                    <th>Enrollment Date</th>
                </tr>
            </thead>


            @foreach (var item in Model.StudentEnrollments)
            {
                <tr>
                    <td>
                        @item.InstanceName
                    </td>
                    <td>
                        @($"{item.StudentFirstName} {item.StudentLastName}")
                    </td>
                    <td>
                        @($"{item.EnrollmentDate:g}")
                    </td>
                </tr>
            }
        </table>

    }
    </section>