﻿@using CoinTradePros.Web.Models
@using TLSharp.Core
@model CoinTradePros.Web.Models.StudentCourseModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">

    <section class="wrapper main-wrapper row" style=''>
        <div class="panel panel-default">
            <div class="panel-body">@Model.CurrentSection.Name | @Model.CurrentChapter.Name</div>
        </div>

        <div class="col-md-12">

            <div class="panel panel-default">
                @if (Model.CurrentPage != null)
                {

                    <div class="panel-heading runpanelheading">
                        <div class="btn-group pull-left">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Pages <span class="caret"></span>
                                </button>
                            <ul class="dropdown-menu">
                                @foreach (var i in @Model.CurrentChapter.Pages)
                                {
                                    <li>
                                        <a href="@Url.Action("Run", new {enrollmentId = Model.Id, pageId = @i.Id})">page @i.PageNumber</a>
                                       
                                    </li>

                                }
                            </ul>
                            
                        </div>
                        <a href="@Model.QuizUrl" class="btn btn-primary pull-right">Take Quiz</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="panel-body">
                        <h3 class="text-center">Page @Model.CurrentPage.PageNumber</h3>
                        @try
                        {
                            <p class="text-justify">@Model.CurrentPage.Description</p>
                        }
                        catch (Exception ex)
                        {
                            Console.WriteLine(ex.Message);
                        }
                        <div class="row">
                            <div class="col-md-9 col-sm-7"></div>
                            <div class="col-md-3 col-sm-5">
                                @if (!string.IsNullOrEmpty(Model.PreviousPageUrl))
                                {
                                    <a href="@Model.PreviousPageUrl" class="btn btn-success">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                }
                                @if (!string.IsNullOrEmpty(Model.NextPageUrl))
                                {
                                    <a href="@Model.NextPageUrl" class="btn btn-success">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                }
                                else if (!string.IsNullOrEmpty(Model.QuizUrl))
                                {

                                    <a href="@Model.QuizUrl" class="btn btn-primary">
                                        Start Quiz
                                        <i class="fa fa-question-circle-o"></i>
                                    </a>


                                }
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
</section>