﻿@model CoinTradePros.Web.Models.StudentCourseModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    
        <div class="col-md-4">
            @{
                var count = 0;
                <div class="CourseSections">
                    @foreach (var m in Model.MyCourse.Sections)
                    {
                        <p style="font-weight: bold;" title="@m.Id">
                            @if (count <= Model.MyCourse.UnlockedSectionCount)
                            {
                                <i class="fa fa-check-square"></i>
                              
                            }
                            else
                            {
                                <i class="fa fa-lock"></i>
                               
                            }
                            @m.Name
                        </p>
                        <div class="CourseChapters">
                            @foreach (var c in m.Chapters)
                            {
                                <p title="@c.Id" >@c.Name</p>

                                                         

                                    <div class="CoursePages">
                                        @foreach (var p in c.Pages)
                                        {

                                            <p>
                                                <a href="@Url.Action("Run", new {enrollmentId = Model.Id, pageId = p.Id})" title="@p.Id">Page @p.PageNumber</a>
                                            </p>
                                        }
                                    </div>

                                    //}
                              
                                count++;
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="col-md-8">
            @if (Model.CurrentPage != null)
            {
                <h3>@Model.CurrentSection.Name | @Model.CurrentChapter.Name</h3>
                <hr/>
                <p>Page @Model.CurrentPage.PageNumber</p>
                <hr/>
                <p>@Model.EnrollmentDate</p>

                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <a href="@Url.Action("Run", new {enrollmentId = @Model.MyCourse.EnrollmentId, pageId = Model.CurrentChapter.GetPreviousPage(Model.CurrentPage).Id})" class="btn btn-success">
                            <i class="fa fa-arrow-left"></i>
                            Previous Page
                        </a>
                        <a href="@Url.Action("Run", new {enrollmentId = @Model.MyCourse.EnrollmentId, pageId = Model.CurrentChapter.GetNextPage(Model.CurrentPage).Id})" class="btn btn-success">
                            Next Page
                            <i class="fa fa-arrow-right"/>
                        </a>
                    </div>
                </div>
            }

        </div>
    
    </section>
</section>