﻿@using System.Configuration
@using CoinTradePros.BusinessObjects.Calc

    Total Profit:
    @{

        TradeCalculator calculator = new TradeCalculator(Model);
        decimal totalNetProfit = calculator.GetTotalNetProfit();
        decimal percent = calculator.GetTotalProfitPercent();
        <span class="@(totalNetProfit > 0 ? "profit" : "loss")">@($"{totalNetProfit:c}")</span>
    }
    <span class="@(percent > 0 ? "profit" : "loss")">@($"{percent:0.000##%}")</span>
