﻿@using CoinTradePros.Web.Models
@model TradeModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<style>
    .select2 {
        width: 100% !important;
    }
</style>
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row">
        <section class="box">
            <header class="panel_header">
                <h2 class="title" style="font-size: 30px;">@ViewBag.Title</h2>
            </header>
            

            <div class="content-body">
                <div class="Createtrade-wrapper">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        @Html.AntiForgeryToken()
                @*@Html.ValidationSummary(false, string.Empty, new { @class = "text-danger" })*@
                        <div class="form-group row">
                            @Html.LabelFor(model => model.DenominationId, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.DenominationId, Model.Denominations, new {@class = "form-control e1"})
                                @Html.ValidationMessageFor(model => model.DenominationId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ExchangeId, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                <small class="text-muted">@Model.Exchanges.Count Exchanges, if yours is missing, email info@CoinTradePros.com</small>
                                @Html.DropDownListFor(model => model.ExchangeId, Model.Exchanges, new {@class = "form-control e1"})
                                @Html.ValidationMessageFor(model => model.ExchangeId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.AssetId, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                <small class="text-muted">@Model.Assets.Count Assets, sorted by daily trade volume.</small>
                                @Html.DropDownListFor(model => model.AssetId, Model.Assets, new {@class = "form-control e1"})
                                @Html.ValidationMessageFor(model => model.AssetId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ProTraderProfileId, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.ProTraderProfileId, Model.Subscriptions, new {@class = "form-control e1"})
                                @Html.ValidationMessageFor(model => model.ProTraderProfileId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.EntryDate, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9 date">
                                <div class="input-group input-append date" id="EntryDateWrapper">
                                    @Html.EditorFor(model => model.EntryDate, new {htmlAttributes = new {@class = "form-control datetimepicker-input"}})
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>

                                @Html.ValidationMessageFor(model => model.EntryDate, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ExitDate, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9 date">
                                <div class="input-group input-append date" id="ExitDateWrapper">
                                    @Html.EditorFor(model => model.ExitDate, new {htmlAttributes = new {@class = "form-control datetimepicker-input"}})
                                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.EntryPrice, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.EntryPrice, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.EntryPrice, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ExitPrice, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.ExitPrice, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ExitPrice, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.PositionSize, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.PositionSize, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.PositionSize, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Comments, new {@class = "col-form-label col-md-3"})
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Comments, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Comments, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.ChartImage, new {@class = "col-form-label custom-file "})


                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.ChartImage, new {htmlAttributes = new {@class = "form-control"}, type = "file"})
                                @Html.ValidationMessageFor(model => model.ChartImage, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        @Html.HiddenFor(model => model.TraderId, new {htmlAttributes = new {@class = "form-control"}})

                        if (User.IsInRole("ProTrader"))
                        {
                            <div class="card" style="margin-bottom: 2em;">
                                <div class="card-header">
                                    <h3>Subscriber Alerts</h3> 
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-12">

                                            <h4 class="card-title alert alert-danger">
                                                <span class="fa fa-bolt"></span>
                                                Send a trade alert to your subscribers
                                                <span class="fa fa-bolt"></span>
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-lg-6">
                                            <label class="custom-control custom-checkbox">
                                                <input id="all" type="checkbox" name="AlertGroup" value="all" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">All Plans/Subscribers</span>
                                            </label>
                                            <br/>
                                            @foreach (PackageModel pk in Model.Packages)
                                            {
                                                string id = $"pk_{pk.PackageId}";
                                                <label for="@id" class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="@id" value="@pk.PackageId" name="AlertGroup" class="custom-control-input"/>
                                                    <span class="custom-control-indicator@(pk.CurrentSubscriberCount < 1 ? " disbled" : "")"></span>
                                                    <span class="custom-control-description@(pk.CurrentSubscriberCount < 1 ? " text-muted not_available" : "")">@($"{pk.Title} ({pk.CurrentSubscriberCount})")</span>
                                                </label>
                                                <br/>
                                            }
                                        </div>
                                        <hr class="hidden-lg"/>
                                        <div class="col-lg-6">
                                            <label class="custom-control custom-checkbox">
                                                <input id="all" type="checkbox" name="MessagingGroup" value="all" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">All Messaging Platforms</span>
                                            </label>
                                            <br/>
                                            @foreach (MessagingOptionModel mo in Model.MessagingOptions)
                                            {
                                                string id = $"pk_{mo.Id}";
                                                <label for="@id" class="custom-control custom-checkbox">
                                                    <input type="checkbox" id="@id" value="@mo.SysCode" name="MessagingGroup" class="custom-control-input"/>
                                                    <span class="custom-control-indicator"></span>
                                                    <img style="height: 25px;" src="@mo.ImagePath" alt="Send an alert with @mo.Name" title="Send an alert with @mo.Name"/>
                                                    <small class="text-muted">@mo.Name</small>
                                                </label>
                                                <br/>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-9" style="margin: 20px">
                                <div class="form-group">

                                    <button type="submit" class="btn btn-md btn-success">
                                        <span class="fa fa-plus"></span>
                                        Add
                                    </button>
                                    <button class="btn btn-md btn-secondary" type="button" onclick="window.location = '@Url.Action("Index")'">
                                        <span class="fa fa-ban"></span>
                                        Cancel
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                    }
                </div>
            </div>
        </section>
    </section>
</section>
