﻿@model CoinTradePros.Web.Models.TradeModel
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TraderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DenominationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DenominationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProTraderProfileId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProTraderProfileId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitLossAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitLossAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitLossPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitLossPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChartImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChartImage)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", "Trade", new { traderid = Model.TraderId }) |
    @Html.ActionLink("Delete", "Delete", "Trade", new { traderid = Model.TraderId }) |
    @Html.ActionLink("Back to List", "Index", "Trade")
</p>
