﻿@using CoinTradePros.Web.Models
@model TradeModel
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row">
    
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel">Delete Trade</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                    <span class="fa fa-ban"></span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this trade?
            </div>
            <div class="modal-footer">
                <a href="@Url.Action("Delete", new {tradeid = Model.TradeId})" class="btn btn-lg btn-danger">
                    <span class="fa fa-trash-o"></span>
                    Delete
                </a>
                <button class="btn btn-lg btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                    <span class="fa fa-close"></span>
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
    <div class="Edittrade-wrapper">
@using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "Errors", new {@class = "text-danger"})

        <div class="form-group row">
            @Html.LabelFor(model => model.DenominationId, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.DenominationId, Model.Denominations, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.DenominationId, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ExchangeId, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                <small class="text-muted">@Model.Exchanges.Count Exchanges, if yours is missing, email info@CoinTradePros.com</small>
                @Html.DropDownListFor(model => model.ExchangeId, Model.Exchanges, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ExchangeId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.AssetId, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                <small class="text-muted">@Model.Assets.Count Assets, sorted by daily trade volume.</small>
                @Html.DropDownListFor(model => model.AssetId, Model.Assets, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.AssetId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ProTraderProfileId, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.ProTraderProfileId, Model.Subscriptions, new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ProTraderProfileId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.EntryDate, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9 date">
                <div class="input-group input-append date" id="EntryDateWrapper">
                    @Html.EditorFor(model => model.EntryDate, new {htmlAttributes = new {@class = "form-control datetimepicker-input"}})
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>

                @Html.ValidationMessageFor(model => model.EntryDate, "", new {@class = "text-danger"})
            </div>
            @*<div id="EntryDateWrapper" class="col-md-9 input-group date" data-target-input="nearest">
                    <input id="EntryDate" type="text" class="form-control datetimepicker-input" data-val="true" data-val-required="The Entry Date field is required." data-target="#EntryDateWrapper" />
                    <span class="input-group-addon" data-target="#EntryDateWrapper" data-toggle="datetimepicker">
                        <i class="fa fa-calendar" data-time-icon="icon-time" data-date-icon="icon-calendar">
                        </i>
                    </span>
                    @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                </div>*@
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.ExitDate, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9 date">
                <div class="input-group input-append date" id="ExitDateWrapper">
                    @Html.EditorFor(model => model.ExitDate, new {htmlAttributes = new {@class = "form-control datetimepicker-input"}})
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.EntryPrice, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.EntryPrice, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.EntryPrice, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ExitPrice, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.ExitPrice, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.ExitPrice, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.PositionSize, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.PositionSize, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PositionSize, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Comments, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.EditorFor(model => model.Comments, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Comments, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.ChartImage, new {@class = "col-form-label col-md-3"})
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.ChartImage, new {@class = "form-control", @type = "file"})
                @Html.ValidationMessageFor(model => model.ChartImage, "", new {@class = "text-danger"})
            </div>
        </div>

        @if (User.IsInRole("ProTrader"))
        {
            <div class="card" style="margin-bottom: 2em;">
                <div class="card-header">
                    Subscriber Alerts
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-12">

                            <h4 class="card-title alert alert-danger">
                                <span class="fa fa-bolt"></span>
                                Send a trade alert to your subscribers
                                <span class="fa fa-bolt"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-6">
                            <label class="custom-control custom-checkbox">
                                <input id="all" type="checkbox" name="AlertGroup" value="all" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">All Plans/Subscribers</span>
                            </label>
                            <br/>
                            @foreach (PackageModel pk in Model.Packages)
                            {
                                string id = $"pk_{pk.PackageId}";
                                <label for="@id" class="custom-control custom-checkbox">
                                    <input type="checkbox" id="@id" value="@pk.PackageId" name="AlertGroup" class="custom-control-input"/>
                                    <span class="custom-control-indicator@(pk.CurrentSubscriberCount < 1 ? " disbled" : "")"></span>
                                    <span class="custom-control-description@(pk.CurrentSubscriberCount < 1 ? " text-muted not_available" : "")">@($"{pk.Title} ({pk.CurrentSubscriberCount})")</span>
                                </label>
                                <br/>
                            }
                        </div>

                        <div class="col-lg-6">
                            <label class="custom-control custom-checkbox">
                                <input id="all" type="checkbox" name="MessagingGroup" value="all" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">All Messaging Platforms</span>
                            </label>
                            <br/>

                            @foreach (MessagingOptionModel mo in Model.MessagingOptions)
                            {
                                string id = $"pk_{mo.Id}";
                                <label for="@id" class="custom-control custom-checkbox">
                                    <input type="checkbox" id="@id" value="@mo.Id" name="MessagingGroup" class="custom-control-input"/>
                                    <span class="custom-control-indicator"></span>
                                    <img style="height: 25px;" src="@mo.ImagePath" alt="Send an alert on the @mo.Name network."/>
                                    <small class="text-muted">@mo.Name</small>
                                </label>
                                <br/>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button type="submit" class="btn btn-lg btn-success">
                    <span class="fa fa-check"></span>
                    Update
                </button>
                <button class="btn btn-lg btn-secondary" type="button" onclick="window.location = '@Url.Action("Index")'">
                    <span class="fa fa-ban"></span>
                    Cancel
                </button>
                <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#DeleteModal">
                    <span class="fa fa-trash-o"></span>
                    Delete
                </button>
            </div>
        </div>
        @Html.HiddenFor(model => model.TradeId)
        @Html.HiddenFor(model => model.TraderId)
    </div>
}
    </div>
    </section>
</section>