﻿@using CoinTradePros.Web.Models
@using System.Configuration
@using CoinTradePros.BusinessObjects
@using CoinTradePros.BusinessObjects.Calc
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}

<link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css" />


@model MyTradeViewModel
@{
    ICollection<ITradeItem> items = new List<ITradeItem>();
    foreach (var tv in Model.TvccList)
    {
        items.Add(new Trade { EntryDate = tv.tvc.EntryDate, ExitDate = tv.tvc.ExitDate, EntryPrice = tv.tvc.EntryPrice, ExitPrice = tv.tvc.ExitPrice, PositionSize = tv.tvc.PositionSize });
    }
}

@*@model TradeView
    @{
        ICollection<ITradeItem> items = new List<ITradeItem>();
        foreach (var tv in Model)
        {
            items.Add(new Trade { EntryDate = tv.EntryDate, ExitDate = tv.ExitDate, EntryPrice = tv.EntryPrice, ExitPrice = tv.ExitPrice, PositionSize = tv.PositionSize });
        }
    }*@

<section id="main-content" class="">
    <section class="wrapper main-wrapper row">

        <!--<a href="~/Views/NewTradepage.html"></a>-->
        <div id="page-left-content" class="col-md-3">
            <div class="panel panel-primary tradeIndex-panel">
                <div class="panel-heading panel-title text-center panel_heading">Filter Panel</div>
                <div class="panel-body" style="background-color:azure">
                    <!--azure , chartreuse, cornsilk, cornsilk,lavender,lightgray-->
                    <div class="styleDiv" style="padding-left: 15px !important">

                        <p>Date Range</p>

                        <div id="selecpicker">

                            <select class="selectpicker" id="daterange">
                                <option id="AllTime" class="selected">All Time</option>
                                <option id="Last7">Last 7 days</option>
                                <option id="Last30">Last Month</option>
                                <option id="Last365">Last Year</option>

                            </select>
                        </div>
                        <br />

                        <p>Filter By Exchanges</p>
                        <div class="row">

                            <div class="col-md-12">

                                @{

                                    <div class="form-check">
                                        <input class="form-check-input exchangescheckbox" id="cb_All" type="checkbox" aria-label="..." />
                                        <label class="form-check-label" id="text_cb_All" for="defaultCheck1">All</label>
                                    </div>

                                    foreach (var item in Model.ExchangesList)
                                    {

                                        <div class="form-check">
                                            <input class="form-check-input exchangescheckbox" id="cb_@item" type="checkbox" aria-label="..." />
                                            <label class="form-check-label" id="text_cb_@item" for="defaultCheck1">@item</label>
                                        </div>
                                    }
                                }

                            </div>


                            @*<div class="col-md-12 ">

                                    <div class="form-check ">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label" for="defaultCheck1">
                                            List All
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label" for="defaultCheck1">
                                            Polloniex
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label" for="defaultCheck1">
                                            Bitfiniex
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            Bitstamp
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                </div>*@
                        </div><!-- /.row -->

                        @*<p>Filter By Pro Trader</p>*@
                        <div class="row">
                            <div class="col-md-12" id="protraderdiv">


                                @*@{
                                    foreach (var item in Model.ProTradersList)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" aria-label="..." />
                                            <label class="form-check-label">
                                                @item
                                            </label>
                                        </div>
                                    }
                                }*@


                                @*<div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            List All Traders
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            Others
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            Cryptorello
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            SuperCrypto
                                        </label>
                                    </div><!-- /.col-lg-6 -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" aria-label="..." />
                                        <label class="form-check-label">
                                            CryptoNinga
                                        </label>
                                    </div><!-- /.col-lg-6 -->*@
                            </div><!-- /.row -->
                        </div>

                        @*<p>Coin Price</p>

                            <div class="row">
                                <div class="slidecontainer col-md-11">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                    <p>Value: <span id="demo"></span></p>
                                </div>
                            </div>

                            <p>Number of Coins</p>

                            <div class="row">
                                <div class="slidecontainer col-md-11">
                                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                                    <p>Value: <span id="demo"></span></p>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-9 " id="midSection">


            <div class="panel panel-primary tradeIndex-panel">
                <div class="panel-heading panel-title text-center panel_heading">Info</div>
                <div class="panel-body" style="background-color:azure">
                    <div class="styleDiv">

                        <div class="row " id="userInfo">
                            <div class="col-md-2">


                                @if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
                                {
                                    <img src="@ViewBag.ImageUrl" class="img-thumbnail" style="width:60px;height:60px" /> //card-profile-img avatar-sm
                                }
                                else
                                {
                                    <img src="/Content/img/blank_avatar.png" class="img-thumbnail" style="width:60px;height:60px" />
                                }



                            </div>
                            <div class="col-md-5 ">
                                <p class=""> @ViewBag.Name</p>
                                <p>San Francisco, CA</p>
                            </div>
                            <div class="col-md-5">
                                <p>Rank: 2nd</p>
                                <p><a href="#">More Stats</a></p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <div class="panel panel-primary tradeIndex-panel">
                <div class="panel-heading panel_heading">Profit</div>
                <div class="panel-body" style="background-color:azure">
                    <div class="text-center">

                        @Html.Partial("_TradeCalculation", items);

                        @*Total Profit:
                            @{
                                TradeCalculator calculator = new TradeCalculator(items);
                                decimal totalNetProfit = calculator.GetTotalNetProfit();
                                decimal percent = calculator.GetTotalProfitPercent();
                                <span class="@(totalNetProfit > 0 ? "profit" : "loss")">@($"{totalNetProfit:c}")</span>
                            }
                            <span class="@(percent > 0 ? "profit" : "loss")">@($"{percent:0.000##%}")</span>*@
                    </div>
                </div>
            </div>

            <div class="panel panel-primary tradeIndex-panel">
                <div class="panel-heading panel_heading">
                    Trades Info

                    <a href="@Url.Action("Create")" class="btn btn-sm btn-success ">
                        <span class=" fa fa-plus"></span>
                        Add a Trade
                    </a>


                </div>
                <div class="panel-body" style="background-color:azure">
                    <div class="col-md-12">

                        @*<ul class=" row nav nav-tabs " style="background-color:lightgray">
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12 ">
                                    <a href="#">Date</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12">
                                    <a href="#">$Gain</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12">
                                    <a href="#">%Gain</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12">
                                    <a href="#"># of Coins</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12">
                                    <a href="#">Price</a>
                                </li>
                                <li class="nav-item col-md-2 col-sm-12 col-xs-12">
                                    <a href="#">Symbol</a>
                                </li>
                            </ul>*@
                    </div>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 arrowBoxContainer " style="margin:0; padding:0">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top:2px">



                                <div class="content">
                                    <div class="container">

                                        <!-- Page-Title -->


                                        <div class="row">
                                            <div class="col-sm-12">
                                                @foreach (var item in Model.TvccList)
                                                {
                                                    string modalId = $"deleteModal{item.tvc.TradeId}";

                                                    <div class="card-box table-responsive traderow All AllTime @item.tvc.ExchangeName @item.DateRange">
                                                        @*yaho*@
                                                        <div class="row">

                                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 " id="imgComment">
                                                                @if (item.tvc.ProTraderProfileId.HasValue)
                                                                {
                                                                    if (!string.IsNullOrEmpty(item.tvc.ProTraderPortraitPath))
                                                                    {
                                                                        <img src="@item.tvc.ProTraderPortraitPath" class="card-profile-img avatar-sm" title="@item.tvc.ProTraderUserName" style="width: 30px;" />
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="/Content/img/blank_avatar.png" class="card-profile-img avatar-sm" title="@item.tvc.ProTraderUserName" style="width: 30px;" />
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center" style="padding-top:20px">
                                                                <span class="glyphicon glyphicon-arrow-up" style="color:lightgreen"></span>
                                                                <span style="color:#0000FF">
                                                                    <span class="@(item.tvc.HasProfit() ? "profit" : "loss")">
                                                                        @($"{item.tvc.ProfitLossAmount:c}")
                                                                    </span>
                                                                    <span class="@(item.tvc.HasProfit() ? "profit" : "loss")">
                                                                        @($"{item.tvc.ProfitLossPercent:0.000##%}")
                                                                    </span>
                                                                    @item.tvc.AssetSymol Profit By @item.tvc.ProTraderFirstName

                                                                </span>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1 right" style="padding-top:20px">
                                                                @*<span class="glyphicon glyphicon-edit">*@

                                                                <a href="@Url.Action("Edit", new {tradeid = item.tvc.TradeId})" class="btn btn-xs btn-secondary">
                                                                    <span class="fa fa-pencil"></span>
                                                                    Edit
                                                                </a>

                                                                @*</span>*@
                                                                @*<span class="glyphicon glyphicon-trash">*@

                                                                <button type="button" class="btn btn-xs btn-danger" data-toggle="modal" data-target="#@modalId">

                                                                    <span class="fa fa-trash-o"></span>
                                                                    Delete
                                                                </button>

                                                                @*</span>*@
                                                            </div>
                                                            @*<div class="arrowA col-lg-1 col-md-1 col-sm-2 col-xs-2" style="margin-right:0; padding-right:0"></div>*@

                                                            <table class="table table-striped table-bordered table-hover col-md-5 col-ld-5">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Asset/Exchange</th>
                                                                        <th>Entry Date</th>
                                                                        <th>Exit Date</th>
                                                                        <th>Entry Price</th>
                                                                        <th>Exit Price</th>
                                                                        <th>Units</th>
                                                                        <th>Chart</th>
                                                                    </tr>
                                                                </thead>




                                                                <tbody>
                                                                    <tr>
                                                                        <td>@($"{item.tvc.AssetName} ({item.tvc.AssetSymol}) on {item.tvc.ExchangeName}")</td>
                                                                        <td>@($"{item.tvc.EntryDate:g}")</td>
                                                                        <td>
                                                                            @if (item.tvc.ExitDate.HasValue)
                                                                            {
                                                                                @($"{item.tvc.ExitDate:g}")
                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                if (item.tvc.EntryPrice % 1 == 0)
                                                                                {
                                                                                    @($"{(int)item.tvc.EntryPrice} ({item.tvc.DenominationSymbol})");
                                                                                }
                                                                                else
                                                                                {
                                                                                    @($"{Math.Round((double)item.tvc.EntryPrice, 5)} ({item.tvc.DenominationSymbol})");
                                                                                }


                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @if (item.tvc.ExitDate.HasValue)
                                                                            {
                                                                                if (item.tvc.ExitPrice % 1 == 0)
                                                                                {
                                                                                    @($"{(int)item.tvc.ExitPrice} ({item.tvc.DenominationSymbol})")
                                                                                }
                                                                                else
                                                                                {
                                                                                    @($"{Math.Round((double)item.tvc.ExitPrice, 5)} ({item.tvc.DenominationSymbol})")
                                                                                }


                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @{
                                                                                if (item.tvc.PositionSize % 1 == 0)
                                                                                {
                                                                                    @($"{(int)item.tvc.PositionSize}")
                                                                                }
                                                                                else
                                                                                {
                                                                                    @($"{item.tvc.PositionSize}")
                                                                                }
                                                                            }



                                                                        </td>
                                                                        <td>
                                                                            @if (!string.IsNullOrEmpty(item.tvc.ChartImagePath))
                                                                            {
                                                                                <img data-height="500px" data-action="zoom" src="@($" {item.tvc.ChartImagePath}")" alt="Chart for: @item.tvc.AssetName" style="height: 40px;" id="@item.tvc.TradeId" />
                                                                            }
                                                                        </td>

                                                                    </tr>


                                                                </tbody>


                                                            </table>
                                                        </div>

                                                    </div>
                                                                                }


                                            </div>
                                        </div>

                                    </div> <!-- container -->

                                </div>




                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @foreach (var item in Model.TvccList)
        {
            // TODO: create a javascript method to handle the modal and delete confirm rather than creating all the extra page content.
            string uniqueId = $"deleteModal{item.tvc.TradeId}";
            string labelId = $"deleteModalLabel{item.tvc.TradeId}";
            <div class="modal fade" id="@uniqueId" tabindex="-1" role="dialog" aria-labelledby="@labelId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="@labelId">Delete Trade</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                                <span class="fa fa-ban"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this trade?<br />
                            @item.tvc.GetShortDescription();
                        </div>
                        <div class="modal-footer">
                            <a href="@Url.Action("Delete", new {tradeid = item.tvc.TradeId})" class="btn btn-lg btn-danger">
                                <span class="fa fa-trash-o"></span>
                                Delete
                            </a>
                            <button class="btn btn-lg btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                                <span class="fa fa-close"></span>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>}
    </section>
</section>





<!-- jQuery  -->
<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="~/Content/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $("this").click(function () { });


    $(document).ready(function () {
        $('#cb_All').prop('checked', true);
    });

    function refine() {
        debugger;
        $(".traderow").each(function () {
            $(this).removeClass("hidden");
        });

        //DYNAMIC ARRAY
        var checkboxes = [];
        //TO HOLD SELECTED DATE RANGE
        var daterange;

        //ACCESS ALL CHECK BOXES
        $(".exchangescheckbox").each(function () {

            var myid = $(this).attr('id');
            var flag = $("#" + myid).get(0).checked;

            //CHECK IF CHECKBOX IS CHECKED
            if (flag == true) {
                //ADD RESPECTIVE CLASS IN DYNAMIC ARRAY
                var exchnagename = $("#text_" + myid).text();
                checkboxes.push(exchnagename);
            }
        });
        //GOT CHECKED CHECKBOXES LIST

        //GET SELECTED DATE RANGE DROPDOWN
        daterange = $("#daterange").children(":selected").attr("id");
        //GOT SELECTED DATE RANGE

        $(".traderow").each(function () {
            //var checkhasclass1 = $(this).hasClass(daterange);
            //var checkhasclass3 = $(this).hasClass("Last365");
            //var checkhasclass = $(this).hasClass("Bittrex");
            debugger;
            //CHECK IF ELEMENT HAVE DATE-RANGE CLASS
            if ($(this).hasClass(daterange)) {
                //CHECK IF ELEMENT HAVE ANY CLASS FROM CHECKBOXLIST
                //$(this).filter(checkboxes.join()).addClass('disabled');

                var i = 0, arrayLength = checkboxes.length, flag = 0;
                for (; i < arrayLength; i++) {
                    if ($(this).hasClass(checkboxes[i])) {
                        flag = 1;
                    }
                }

                if (flag == 0) {
                    $(this).addClass("hidden");
                }
            }
            else {
                $(this).addClass("hidden");
            }
        });

    }


    $(".exchangescheckbox").change(function () {
        debugger

        var checkboxes = [];
        $(".exchangescheckbox").each(function () {
            var myid = $(this).attr('id');
            var flag = $("#" + myid).get(0).checked;
            //CHECK IF CHECKBOX IS CHECKED
            if (flag == true) {
                //ADD RESPECTIVE CLASS IN DYNAMIC ARRAY
                var exchnagename = $("#text_" + myid).text();
                checkboxes.push(exchnagename);
            }
        });

        if (checkboxes.length == 0) {
            $('#cb_All').prop('checked', true);
            refine();
        }
        else {

            var i = 0, arrayLength = checkboxes.length, flag = 0;
            for (; i < arrayLength; i++) {
                if (checkboxes[i] == "All" && arrayLength==1) {
                    flag = 1;
                }
            }


            if (flag==1) {
                refine();
            }
            else {
                $('#cb_All').prop('checked', false);
                refine();
            }

        }

        ////WORKING CODE-START
        //var myid = $(this).attr('id');
        //var flag = $("#" + myid).get(0).checked;
        //if (flag == true) {
        //    var z1 = $("#text_" + myid).text();
        //    var count = 0;
        //    $(".traderow").each(function () {
        //        if ($(this).hasClass("av")) {
        //            if ($(this).hasClass(z1)) {
        //                count++;
        //                $(this).removeClass("hidden");
        //                $(this).removeClass("av");
        //            }
        //            else {
        //                $(this).addClass("hidden");
        //            }
        //        }
        //    });
        //}
        //else {
        //    var z1 = $("#text_" + myid).text();
        //    var count = 0;

        //    $(".traderow").each(function () {
        //        if ($(this).hasClass(z1)) {
        //            count++;
        //            $(this).addClass("av");
        //            $(this).addClass("hidden");
        //        }
        //    });
        //    debugger;
        //}
        ////WORKING CODE-END
    });

    $("#daterange").change(function () {
        debugger;
        refine();

        ////WORKING CODE-START
        //var selectedval = $(this).children(":selected").attr("id");
        //$(".traderow").each(function () {
        //    if ($(this).hasClass("av")) {
        //        if ($(this).hasClass(selectedval)) {
        //            $(this).removeClass("hidden");
        //            $(this).removeClass("av");
        //        }
        //        else {
        //            $(this).addClass("hidden");
        //        }
        //    }
        //});
        ////WORKING CODE-END
    });


</script>
<script>
    var resizefunc = [];
</script>



@*<script type="text/javascript">

        $(document).ready(function () {

            $('#datatable').DataTableI();
        });
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value;
        }
    </script>*@