﻿@model IEnumerable<CoinTradePros.BusinessObjects.Trade>
@{
    Layout = Request.IsAjaxRequest() ? null : " ~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" style="margin-top: 80px;" class=" ">
    <h2>@ViewBag.Title</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-condensed table-striped table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TraderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DenominationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExchangeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProTraderProfileId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitLossAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitLossPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllowSocialSharing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChartImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowState)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TraderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DenominationId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExchangeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProTraderProfileId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExitDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExitPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PositionSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfitLossAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfitLossPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowSocialSharing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChartImagePath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowState)
                </td>
            </tr>
        }

    </table>
</section>
