﻿@model CoinTradePros.Web.Models.ProfileDetailModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @if (Model.IsProxyMode())
            {
                <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            }
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group row">
                @Html.LabelFor(model => model.DetailTypeId, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.DetailTypeId, Model.DetailTypes, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DetailTypeId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DisplayText, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DisplayText, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DisplayText, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.SortOrder, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SortOrder, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.SortOrder, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.DetailUrl, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DetailUrl, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DetailUrl, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ShowUrl, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.ShowUrl, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.HideIcon, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.HideIcon, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ShowIconOnly, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.ShowIconOnly, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyTraderProfileId)
                ;
            }
            @Html.HiddenFor(model => model.TraderProfileId)

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="col-9">
                    <button type="submit" value="Add Detail" class="btn btn-success">
                        <span class="fa fa-plus"></span>
                        Add
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index")'">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    }
    </section>
</section>