﻿@model CoinTradePros.Web.Models.QuestionAnswerModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    @using (Html.BeginForm())
    {
        if (Model.IsProxyMode())
        {
            <h2 class="text-danger">You are editing this account on behalf of another user</h2>
        }
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group row">
                @Html.LabelFor(model => model.Question, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Question, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Question, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.Answer, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Answer, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Answer, "", new {@class = "text-danger"})
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyProTraderProfileId)
            }
            @Html.HiddenFor(model => model.ProTraderProfileId)

            <div class="form-group row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9">
                    <button type="submit" value="Add Question" class="btn btn-success">
                        <span class="fa fa-plus"></span>
                        Add
                    </button>
                    @if (Model.IsProxyMode())
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index", "SalesPage", new {proTraderProfileId = Model.ProxyProTraderProfileId})'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index")'">
                            <span class="fa fa-ban"></span>
                            Cancel
                        </button>
                    }

                </div>
            </div>
        </div>
    }
    </section>
</section>