﻿@model CoinTradePros.Web.Models.QuestionAnswerModel
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">Delete Question</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this question?
                </div>
                <div class="modal-actions">
                    <a href="@Url.Action("DeleteFaq", new {tradeid = Model.QuestionId})" class="btn modal-action btn-danger">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </a>
                    <button class="btn modal-action btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                        <span class="fa fa-close"></span>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @if (Model.IsProxyMode())
            {
                <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            }

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group row">
                @Html.LabelFor(model => model.Question, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Question, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Question, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Answer, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Answer, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Answer, "", new {@class = "text-danger"})
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model=> model.ProxyProTraderProfileId)
            }
            @Html.HiddenFor(model => model.ProTraderProfileId)
            @Html.HiddenFor(model => model.QuestionId)
            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" value="Add Question" class="btn btn-primary">
                        <span class="fa fa-check"></span>
                        Save
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index")'">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    }
</section>
</section>