﻿@model CoinTradePros.Web.Models.ProfileDetailModel
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="deleteModalLabel">Delete Detail</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
                        <span class="fa fa-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this profile detail?
                </div>
                <div class="modal-actions">
                    <a href="@Url.Action("DeleteDetail", new {tradeid = Model.DetailId})" class="btn modal-action btn-danger">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </a>
                    <button class="btn modal-action btn-secondary" type="button" aria-label="close" data-dismiss="modal">
                        <span class="fa fa-close"></span>
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        if (Model.IsProxyMode())
        {
            <h2 class="text-danger">You are editing this account on behalf of another user</h2>
        }
        <div class="form-horizontal">
        
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group row">
                @Html.LabelFor(model => model.DetailTypeId, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.DetailTypeId, Model.DetailTypes, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DetailTypeId, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.DisplayText, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DisplayText, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DisplayText, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.SortOrder, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SortOrder, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.SortOrder, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.DetailUrl, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.DetailUrl, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DetailUrl, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.ShowUrl, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.ShowUrl, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.HideIcon, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.HideIcon, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.ShowIconOnly, htmlAttributes: new {@class = "col-form-label col-md-3"})
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.ShowIconOnly, new {htmlAttributes = new {@class = "form-control"}})
                </div>
            </div>
            @if (Model.IsProxyMode())
            {
                @Html.HiddenFor(model => model.ProxyTraderProfileId)
            }

            @Html.HiddenFor(model => model.TraderProfileId)
            @Html.HiddenFor(model => model.DetailId)

            <div class="form-group row">
                <div class="col-3"></div>
                <div class="col-9">
                    <button type="submit" value="Add Detail" class="btn btn-primary">
                        <span class="fa fa-pencil"></span>
                        Update
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index")'">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteModal">
                        <span class="fa fa-trash-o"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    }
</section>
</section>
