﻿@using Microsoft.AspNet.Identity
@model CoinTradePros.Web.Models.SalesPageSettingsModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
        <p class="text-info">
            These settings let you customize sections of your package sales page.
        </p>
        @if (Model.IsProxyForProMode())
        {
            <h2 class="text-danger">You are editing this account on behalf of another user</h2>
            <button type="button" class="btn btn-default" onclick="window.open('@Url.Action("Index", "Pro", new {username = Model.ProTraderUserName})')">
                <span class="fa fa-tags"></span>
                Preview Sales Page
            </button>
        }
        else
        {
            <button type="button" class="btn btn-success" onclick="window.open('@Url.Action("Index", "Pro", new {username = User.Identity.GetUserName()})')">
                <span class="fa fa-tags"></span>
                Preview Sales Page
            </button>
        }

        @if (Model.IsProxyForProMode())
        {
            <a href="@Url.Action("Index", "Feature", new {proTraderprofileId = Model.ProxyProTraderId})" class="btn btn-success">
                <span class="fa fa-cubes"></span>
                Manage Feature List
            </a>
        }
        else
        {
            <a href="@Url.Action("Index", "Feature")" class="btn btn-default">
                <span class="fa fa-cubes"></span>
                Manage Feature List
            </a>
        }

        <h3>Settings</h3>
        <hr />
        @using (Html.BeginForm("Index", "SalesPage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(m => m.Tagline, new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.EditorFor(m => m.Tagline, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Tagline, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "10" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.VideoEmbedCode, new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(m => m.VideoEmbedCode, new { @class = "form-control", rows = "3" })
                    @Html.ValidationMessageFor(model => model.VideoEmbedCode, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(m => m.ProTraderPortrait, new { @class = "col-md-3 col-form-label" })
                <div class="col-md-9">
                    @Html.TextBoxFor(m => m.ProTraderPortrait, new { @class = "form-control", type = "file" })
                    @Html.ValidationMessageFor(model => model.ProTraderPortrait, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-success">
                        <span class="fa fa-check"></span>
                        Save Settings
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="window.location = '@Url.Action("Index", "Users")'">
                        <span class="fa fa-ban"></span>
                        Cancel
                    </button>
                </div>
            </div>
            if (Model.IsProxyForProMode())
            {
                @Html.HiddenFor(x => x.ProxyProTraderId)
            }
            if (Model.IsProxyForTraderMode())
            {
                @Html.HiddenFor(model => model.ProxyTraderId)
            }
            @Html.HiddenFor(x => x.ProTraderProfileId)
        }
        <br />
        <br />
        <h3>Sales Packages</h3>
        
        @if (Model.IsProxyForProMode())
        {
            <a href="@Url.Action("Create", "Package", new {proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-sm btn-success">
                <span class="fa fa-plus"></span>
                Add a Package
            </a>
        }
        else
        {
            <a href="@Url.Action("Create", "Package")" class="btn btn-sm btn-success">
                <span class="fa fa-plus"></span>
                Add a Package
            </a>
        }
   

    <div class="row text-center packages">
    @foreach (var item in Model.Packages)
    {
        <div class="col-lg-4 col-md-6 col-xs-12 text-center">
            <div class="panel package-success">
                <div class="panel-heading package-heading">
                    
                    <h3 style="color: #fff">@item.Title</h3>
                </div>
              
                <ul class="list-group text-center">
                    @foreach (var feature in item.AvailableFeatures)
                    {
                        if (feature.FeatureId.HasValue && item.HasFeature(feature.FeatureId.Value))
                        {
                            <li class="list-group-item" title="@feature.Description">
                                <span class="@feature.GetIconClass()"></span>
                                @feature.Name
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item not_available" title="This feature is not available for this package.">
                                <span class="@feature.GetIconClass()"></span>
                                @feature.Name
                            </li>
                        }
                    }
                </ul>
                <small class="text-muted text-left">@item.Description</small>
                <div class="panel-body text-center">
                   
                    <div class="plan_price" style="text-align: left; padding-left: 15px">
                        @if (item.MonthlyPrice.HasValue)
                        {
                            <label for="@($"monthly_{item.PackageId}")">
                                <span class="plan_price_curr">$</span>
                                <span class="plan_price_amount">@($"{item.MonthlyPrice.Value:F2}")</span>
                                <span class="plan_price_duration">&nbsp;/mo</span>
                            </label>
                            <br />
                        }
                        @if (item.AnnualPrice.HasValue)
                        {
                            <label for="@($"annually_{item.PackageId}")">
                                <span class="plan_price_curr">$</span>
                                <span class="plan_price_amount">@($"{item.AnnualPrice.Value:F2}")</span>
                                <span class="plan_price_duration">&nbsp;/yr</span>
                            </label>
                            <br />
                        }
                        @if (item.LifetimePrice.HasValue)
                        {
                            <label for="@($"lifetime_{item.PackageId}")">
                                <span class="plan_price_curr">$</span>
                                <span class="plan_price_amount">@($"{item.LifetimePrice.Value:F2}")</span>
                                <span class="plan_price_duration">&nbsp;/lifetime!</span>
                            </label>
                            <br />
                        }
                        @if (Model.IsProxyForProMode())
                        {
                            <a href="@Url.Action("Edit", "Package", new {packageid = item.PackageId, proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-xs btn-secondary">
                                <span class="fa fa-pencil"></span>
                                Edit
                            </a>

                            <a href="@Url.Action("Delete", "Package", new {packageid = item.PackageId, proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-xs btn-danger@(item.CurrentSubscriberCount > 0 ? " disabled" : "")">
                                <span class="fa fa-trash"></span>
                                Delete
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Edit", "Package", new {packageid = item.PackageId})" class="btn btn-xs btn-secondary">
                                <span class="fa fa-pencil"></span>
                                Edit
                            </a>

                            <a href="@Url.Action("Delete", "Package", new {packageid = item.PackageId})" class="btn btn-xs btn-danger@(item.CurrentSubscriberCount > 0 ? " disabled" : "")">
                                <span class="fa fa-trash"></span>
                                Delete
                            </a>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <small class="text-muted">@item.CurrentSubscriberCount Subscribers</small>
                </div>
            </div>
        </div>
    }
        </div>
      

        <div class="row">
            <div class="col-md-12">
                <h3>Frequently Asked Questions</h3>
               
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <thead class="theadfreques">
                        <tr>
                            <th style="width: 50%; color: #fff">Question</th>
                            <th style="width: 50%; color: #fff">Answer</th>
                            <th colspan="2" style="text-align: right;">
                                @if (Model.IsProxyForProMode())
                                {
                                    <a href="@Url.Action("CreateFaq", "SalesPage", new {proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-sm btn-primary">
                                        <span class="fa fa-plus"></span>
                                        Add a Question
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("CreateFaq", "SalesPage")" class="btn btn-sm btn-primary">
                                        <span class="fa fa-plus"></span>
                                        Add a Question
                                    </a>
                                }
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Questions)
            {
                        <tr>
                            <td>
                                @item.Question
                            </td>
                            <td>
                                @item.Answer
                            </td>
                            <td>
                                @if (Model.IsProxyForProMode())
                                {
                                    <a href="@Url.Action("EditFaq", "SalesPage", new {questionid = item.QuestionId, proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-xs btn-secondary">
                                        <span class="fa fa-pencil"></span>
                                        Edit
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("EditFaq", "SalesPage", new {questionid = item.QuestionId})" class="btn btn-xs btn-secondary">
                                        <span class="fa fa-pencil"></span>
                                        Edit
                                    </a>
                                }
                            </td>
                            <td>
                                @if (Model.IsProxyForProMode())
                                {
                                    <a href="@Url.Action("DeleteFaq", "SalesPage", new {questionid = item.QuestionId, proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-xs btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("DeleteFaq", "SalesPage", new {questionid = item.QuestionId})" class="btn btn-xs btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="col-md-12">
                <h3>Profile Details</h3>
                <table class="table table-condensed table-striped table-responsive table-hover">
                    <thead class="theadfreques">
                    <tr>
                        <th style="color: #fff">Type</th>
                        <th style="color: #fff">Text</th>
                        <th style="color: #fff">Link</th>
                        <th colspan="2" style="text-align: right;">
                            @if (Model.IsProxyForTraderMode())
                            {
                                <a href="@Url.Action("CreateDetail", "SalesPage", new {traderProfileId = Model.ProxyTraderId})" class="btn btn-sm btn-primary">
                                    <span class="fa fa-plus"></span>
                                    Add a Detail
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("CreateDetail", "SalesPage")" class="btn btn-sm btn-primary">
                                    <span class="fa fa-plus"></span>
                                    Add a Detail
                                </a>
                            }
                        </th>

                    </tr>
                    </thead>
                    @foreach (var item in Model.ProFileDetails)
                    {
                        <tr>
                            <td>
                                @item.DetailType.Text
                            </td>
                            <td>
                                @item.DisplayText
                            </td>
                            <td>
                                @item.DetailUrl
                            </td>
                            <td>
                                @if (Model.IsProxyForTraderMode())
                                {
                                    <a href="@Url.Action("EditDetail", "SalesPage", new {detailid = item.DetailId, traderProfileId = Model.ProxyTraderId})" class="btn btn-xs btn-secondary">
                                        <span class="fa fa-pencil"></span>
                                        Edit
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("EditDetail", "SalesPage", new {detailid = item.DetailId})" class="btn btn-xs btn-secondary">
                                        <span class="fa fa-pencil"></span>
                                        Edit
                                    </a>
                                }
                            </td>
                            <td>
                                @if (Model.IsProxyForProMode())
                                {
                                    <a href="@Url.Action("DeleteFaq", "SalesPage", new {detailid = item.DetailId, proTraderProfileId = Model.ProxyProTraderId})" class="btn btn-xs btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("DeleteFaq", "SalesPage", new {detailid = item.DetailId})" class="btn btn-xs btn-danger">
                                        <span class="fa fa-trash"></span>
                                        Delete
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
           
        </div>
    </section>

    </section>
