﻿@{
    Layout = Request.IsAjaxRequest() ? null : " ~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main;-content" style="margin-left: 280px; margin-top: 100px;" class=" ">
    <h2>You will soon be able to promote your Sales Page here!</h2>
</section>
