﻿@{
    Layout = Request.IsAjaxRequest() ? null : " ~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main;-content" style="margin-left: 280px; margin-top: 100px;" class=" ">
    <h2>Your Sales Page Stats (are coming soon)</h2>
</section>
