﻿@model CoinTradePros.Web.Models.ChatViewModel
<h2>Chatroom</h2>
<div id="chat"></div>
@if (!string.IsNullOrEmpty(Model.ChatUrl))
{
    <script src="@Model.ChatUrl"></script>
}
else
{
    <p>The chat room for this Coach has not been set up yet.</p>
}