﻿@model CoinTradePros.BusinessObjects.SubscriptionView
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" style="margin-top: 80px;" class=" ">
    <div>
        <h3>@Model.PackageTitle</h3>
        <p>Offered by @($"{Model.ProTraderFirstName} {Model.ProTraderLastName} ({Model.ProTraderUsername})") </p>
    </div>
    <p>
        <a class="btn btn-success" href="@Url.Action("Manage", "Subscription", new { subscriptionid = Model.SubscriptionId })">Manage Subscription</a>
        <a class="btn btn-danger" href="@Url.Action("Cancel", "Subscription", new { subscriptionid = Model.SubscriptionId })">Cancel Subscription</a>
    </p>
    </section>