﻿
@model CoinTradePros.Web.Models.ProcessPaymentModel
<div>
    Payment Complete for @Model.ChosenPackage.Title;
    <a href="@Url.Action("Index", "Users")" class="btn btn-lg btn-success">My Dashboard</a>
</div>