﻿@model ICollection<CoinTradePros.BusinessObjects.SubscriptionView>
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}
<section id="main-content" class=" ">
<section class="wrapper main-wrapper row" style=''>
        <div class="row">
            <h4 style="margin-left:15px;">Looking for different plan? Choose from existing Coaches below</h4>
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src=@item.ProTraderPortraitPath style="width:200px;height:200px;" />
                                </div>
                                <div class="col-md-6">
                                    <h2>@item.ProTraderFirstName @item.ProTraderLastName</h2>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item active">
                            Current Plan- @item.PackageTitle
                            <span class="pull-right">
                                @if (@item.PaymentFrequency == 1)
                                {
                                    @($"{item.PaymentAmount:c}") @:/Monthly
                     }
                                @if (@item.PaymentFrequency == 12)
                                {
                                    @($"{item.PaymentAmount:c}") @:/Annually
                        }
                                @if (@item.PaymentFrequency == -1)
                                {
                                    @($"{item.PaymentAmount:c}") @:/Lifetime
                       }

                            </span>
                        </li>

                        @if (@item.MonthlyPrice != null && @item.MonthlyPrice > 0 && @item.PaymentFrequency != 1)
                        {
                            <li class="list-group-item">
                                @item.MonthlyPrice/Monthly<button type="button" class="btn btn-success pull-right">
                                <a href="@Url.Action("ChangeSubscriptionPlan", "Subscription", new { subscriptionid = item.SubscriptionId, proTraderId = item.ProTraderUserId, packageId = item.PackageId, price = item.MonthlyPrice, paymentFrequency = 1 })"> Downgrade </a>
                            </button>
                        </li>
                        }
                        @if (@item.AnnualPrice != null && @item.AnnualPrice > 0 && @item.PaymentFrequency != 12)
                        {
                            <li class="list-group-item">
                                @item.AnnualPrice/Annually<button type="button" class="btn btn-success pull-right">
                                @if (item.PaymentFrequency.Value == 1)
                                {
                                    @: <a href="@Url.Action("ChangeSubscriptionPlan", "Subscription", new { subscriptionid = item.SubscriptionId, proTraderId = item.ProTraderUserId, packageId = item.PackageId, price = item.MonthlyPrice, paymentFrequency = 12 })"> Upgrade </a>
                        }
                                else
                                {
                                    @: <a href="@Url.Action("ChangeSubscriptionPlan", "Subscription", new { subscriptionid = item.SubscriptionId, proTraderId = item.ProTraderUserId, packageId = item.PackageId, price = item.MonthlyPrice, paymentFrequency = 12 })"> Downgrade </a>
                        }
                        </button>
                        </li>
                        }
                        @if (@item.LifetimePrice != null && @item.LifetimePrice > 0 && @item.PaymentFrequency != -1)
                        {
                            <li class="list-group-item">@item.LifetimePrice/Lifetime <button type="button" class="btn btn-success pull-right">
                           <a href="@Url.Action("ChangeSubscriptionPlan", "Subscription", new { subscriptionid = item.SubscriptionId, proTraderId = item.ProTraderUserId, packageId = item.PackageId, price = item.LifetimePrice, paymentFrequency = -1 })"> Upgrade </a>
                        </button></li>
                        }
                        <li class="list-group-item">
                            <button type="button" class="btn btn-default pull-left">
                                <a href="@Url.Action("Index", "Pro", new { username = @item.ProTraderUsername })">
                                    View more options
                                </a>
                            </button>
                        </li>

                    </ul>
                </div>
            }
        </div>
</section></section>
