﻿@model CoinTradePros.Web.Models.ProcessPaymentModel
@using Microsoft.AspNet.Identity
@using CoinTradePros.Helpers
@if (string.IsNullOrWhiteSpace(User.Identity.GetUserId()))
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div data-bind="visible: notifications().length > 0, foreach: notifications">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <i class="fa fa-close"></i>
            </button>
            <p data-bind="text: $data"></p>
        </div>
    </div>
    <div class="form-horizontal">
        <!--  Payment Form -->
        <form action="@Url.Action("ProcessPayment", "Subscription")" method="POST" style="">
            @if (Model.UseAlternateCurrency)
            {
                <div class="col-12 row badge badge-success">
                    <div id="status">
                        <h2>Confirmations: 0 / @Model.ConfirmationsNeeded</h2>
                    </div>
                </div>
                <div class="col-12 row">
                    Payment for @Model.ChosenPackage.Title
                </div>
                <div class="col-12 row">
                    <p>Crypto Payments Processed by:</p>
                </div>
                <div class="col-12 row">
                    <img src="~/Content/img/coinpayments.png" style="height: 50px;" alt="Crypto Payments Processed by CoinPayments.net" />
                </div>
                <div class="col-12 row">
                    Please send
                    <span class="badge badge-success text-xl-left">
                        <span class="cc @($"{Model.AlternateCurrencyCode}-alt")"></span>
                        @($"{Model.AlternateCurrencyAmount:F8}")&nbsp;
                        @Model.AlternateCurrencyName
                    </span>
                </div>
                <div class="col-12 row">
                    To
                    <span class="badge-warning">
                        <span class="cc @($"{Model.AlternateCurrencyCode}-alt")"></span>
                        @Model.PaymentAddress
                    </span>
                </div>
                <div class="col-12 row">
                    or use the QR code below:
                </div>
                <div class="col-12 row">
                    This transaction will time out in @Model.Timeout seconds.
                </div>
                <div class="col-12 row">
                    <img src="@Model.QrCodeUrl" alt="CoinPayments.net QR code for paying @Model.AlternateCurrencyName" />
                </div>
                <div class="col-12 row">
                    <div id="proceed">
                        <button class="btn btn-lg btn-success" type="button" onclick="window.location = '@Url.Action("CryptoPaymentComplete", "Subscription", new { invoiceId = Model.InvoiceId })'">
                            Payment Processed - Continue
                            <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                    </div>
                </div>
                <div class="col-12">
                    <a class="btn btn-secondary" href="@Model.StatusUrl" target="_blank">
                        Verify Transaction Status
                        <span class="fa fa-external-link-square"></span>
                    </a>
                </div>
            }
            else
            {
                <div class="col-12 row">
                    Payment for @Model.ChosenPackage.Title
                </div>
                <article>
                    <label>
                        Amount: @($"{HttpContext.Current.Session["IntervalAmount"]:c}")  /
                        @Model.ChosenPackage.GetIntervalText(Model.BaseUsdIntervalAmount)
                    </label>
                </article>
                <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="@Model.StripePublicKey"
                        data-amount="@Model.StripePaymentAmount"
                        data-name="CoinTradePros"
                        data-description="@($"{Model.ChosenPackage.Title}")"
                        data-image="@Model.HeaderImageUrl"
                        data-locale="auto">
                </script>
            }
        </form>
    </div>

}
else
{

    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    <section id="main-content" style="margin-top: 80px;" class=" ">
        <div data-bind="visible: notifications().length > 0, foreach: notifications">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <i class="fa fa-close"></i>
                </button>
                <p data-bind="text: $data"></p>
            </div>
        </div>
        <div class="form-horizontal">
            <!--  Payment Form -->
            <form action="@Url.Action("ProcessPayment", "Subscription")" method="POST" style="">
                @if (Model.UseAlternateCurrency)
                {
                    <div class="col-lg-12 row badge badge-success">
                        <div id="status">
                            <h2>Confirmations: 0 / @Model.ConfirmationsNeeded</h2>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        Payment for @Model.ChosenPackage.Title
                    </div>
                    <div class="col-lg-12 row">
                        <p>Crypto Payments Processed by:</p>
                    </div>
                    <div class="col-lg-12 row">
                        <img src="~/Content/img/coinpayments.png" style="height: 50px;" alt="Crypto Payments Processed by CoinPayments.net" />
                    </div>
                    <div class="col-lg-12 row">
                        Please send
                        <span class="badge badge-success text-xl-left">
                            <span class="cc @($"{Model.AlternateCurrencyCode}-alt")"></span>
                            @($"{Model.AlternateCurrencyAmount:F8}")&nbsp;
                            @Model.AlternateCurrencyName
                        </span>
                    </div>
                    <div class="col-lg-12 row">
                        To
                        <span class="badge-warning">
                            <span class="cc @($"{Model.AlternateCurrencyCode}-alt")"></span>
                            @Model.PaymentAddress
                        </span>
                    </div>
                    <div class="col-lg-12 row">
                        or use the QR code below:
                    </div>
                    <div class="col-lg-12 row">
                        This transaction will time out in @Model.Timeout seconds.
                    </div>
                    <div class="col-lg-12 row">
                        <img src="@Model.QrCodeUrl" alt="CoinPayments.net QR code for paying @Model.AlternateCurrencyName" />
                    </div>
                    <div class="col-lg-12 row">
                        <div id="proceed">
                            <button class="btn btn-lg btn-success" type="button" onclick="window.location = '@Url.Action("CryptoPaymentComplete", "Subscription", new { invoiceId = Model.InvoiceId })'">
                                Payment Processed - Continue
                                <i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <a class="btn btn-secondary" href="@Model.StatusUrl" target="_blank">
                            Verify Transaction Status
                            <span class="fa fa-external-link-square"></span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-lg-12 row">
                        Payment for @Model.ChosenPackage.Title
                    </div>
                    <article>
                        <label>
                            Amount: @($"{HttpContext.Current.Session["IntervalAmount"]:c}")  /
                            @Model.ChosenPackage.GetIntervalText(Model.BaseUsdIntervalAmount)
                        </label>
                    </article>
                    <script src="https://checkout.stripe.com/checkout.js"
                            class="stripe-button"
                            data-key="@Model.StripePublicKey"
                            data-amount="@Model.StripePaymentAmount"
                            data-name="CoinTradePros"
                            data-description="@($"{Model.ChosenPackage.Title}")"
                            data-image="@Model.HeaderImageUrl"
                            data-locale="auto">
                    </script>
                }
            </form>
        </div>
    </section>
}
<script type="text/javascript" language="javascript">
    // TODO: Replace polling with Node.js
    $(document).ready(function() {
        $('#proceed').hide();
        var count = 0;
        //var hub = $.connection.paymentHub;
        //hub.start().done(function(myHubConnection) {
        //    alert(myHubConnection.status);
        //hub.server.RegisterConId()
        //});

        //hub.client.sendPaymentUpdate = function(username, totalConfirms, receivedConfirms) {
        //    vm.notifications.unshift("SignalR: This payment has " + receivedConfirms + " of " + totalConfirms);
        //}
        (function poll(){
            setTimeout(function(){
                $.ajax({ url: '@Model.StatusCheckUrl', success: function(data){
                    //Update your dashboard gauge
                    update(data);
                    if (data.PaymentComplete === false) {
                        poll();
                    }
                }, dataType: "json"});
            }, @Model.CheckInterval);
        })();
        var vm = {
            notifications: ko.observableArray([]),
            username: ko.observable()
        }

        ko.applyBindings(vm);
        function update(data) {
            // update the confirmations and send a notification.
            if (data.ConfirmsProcessed > count) {
                var paymentInfo = $('#status');
                paymentInfo.empty();
                paymentInfo.append('<h2>Confirmations ' + data.ConfirmsProcessed + ' / ' + data.ConfirmsNeeded + ' </h2>');

                //vm.notifications.unshift("Your payment has " + data.ConfirmsProcessed + ' of ' +
                //   data.ConfirmsNeeded + ' confirmations.');
                count = data.ConfirmsProcessed;
            }
            if (data.ConfirmsProcessed === data.ConfirmsNeeded) {
                $('#proceed').show();
            }
        }
    });

</script>
