﻿@using CoinTradePros.Web.Models
@model ICollection<CoinTradePros.Web.Models.SubscriptionViewModel>
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}

<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
      
       
            @foreach (SubscriptionViewModel sub in Model)
            {
               
                   
                        <div class="card" style="background-color: #fff; border-radius: 2px; margin-bottom: 10px;">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                @if (!string.IsNullOrEmpty(sub.SubscriptionInfo.SubscriberAvatarUrl))
                                                {
                                                    <img class="card-profile-img img-circle"  src="@sub.SubscriptionInfo.SubscriberAvatarUrl" alt="Avatar for @($"{sub.SubscriptionInfo.ProTraderFirstName} {sub.SubscriptionInfo.ProTraderLastName}")">

                                                }
                                                else
                                                {
                                       
                                                    <img class="card-profile-img img-circle"  src="~/Content/img/blank_avatar.png" />
                                       
                                                }

                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-8">
                                                <h2 class="card-title">@($"{sub.SubscriptionInfo.SubscriberFirstName} {sub.SubscriptionInfo.SubscriberLastName}") </h2>
                                                <p class="card-user"><strong>@($"{sub.SubscriptionInfo.SubscriberUsername}")</strong>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="pacage-details">
                                            <h4 class="card-text"><strong>Package:</strong> @sub.SubscriptionInfo.PackageTitle</h4>
                                            <p class="card-text"><strong>Subscriber Since: </strong> @($"{sub.SubscriptionInfo.SubscriptionStart:d}")
                                            </p>
                                            <p class="card-text"><strong>Payments: </strong>@($"{sub.SubscriptionInfo.PaymentAmount:C0} / {sub.SubscriptionInfo.GetIntervalText()}")
                                            </p>
                                        
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7 text-center">
                                        <div class="row card-panel">
                                            <div class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading panel-subcriber">
                                                        <h3 style="color: #fff">Trades</h3>
                                                        <p class="card-trade"><small><strong>Your Trading Impact</strong></small>
                                                        </p>

                                                    </div>
                                                    <div class="panel-body">

                                                        <p class="card-text">
                                                            @($"{sub.GetAttributedTradeCount()} / {sub.Trades.Count}")
                                                            (@($"{sub.GetAttributionPercent():P}"))
                                                        </p>
                                                        <p> Trades Attributed to You / Total Trades</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading panel-subcriber">
                                                        <h3 style="color: #fff">Profit</h3>
                                                        <p class="card-trade"><small><strong>Your Profit Impact</strong></small>
                                                        </p>

                                                    </div>
                                                    <div class="panel-body">

                                                        <p class="card-text @(sub.GetAttributedTradeTotal() > 0 ? "profit" : "loss")">
                                                            @($"{sub.GetAttributedTradeTotal():C} / {sub.GetTradeTotal():C}")
                                                            (@($"{sub.GetAttributedTradeAmountPercent():P}"))
                                                        </p>
                                                        <p> Total Profit Attributed to You / Total Profit</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       


                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                       

                                        <div class="panel-footer">
                                            <p class="card-text">
                                                <strong>Top Assets: </strong>
                                                @foreach (var asset in sub.GetTopAssets(5, false))
                                                {
                                                    <a href="#" id="assetbadges">
                                                        @for (int i = 0; i < ViewBag.asset.Count; i++)
                                                        {
                                                            if (asset.Id == ViewBag.asset[i].Id)
                                                            {
                                                                <span class="cc @ViewBag.asset[i].Symbol-alt badge @ViewBag.asset[i].Symbol"> @asset.Name</span>
                                                            }
                                                        }
                                                    </a>
                                                }
                                            </p>
                                            <p class="card-text">
                                                <strong>Top Exchanges:</strong>
                                                @foreach (var exchange in sub.GetTopExchanges(5, false))
                                                {
                                                    <a href="#">
                                                        <span class="badge bg-primary">@exchange.Name</span>
                                                    </a>
                                                }
                                            </p>
                                       
                                        </div>
                                        
                                      
                                     
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                
            }
       
    </section>
</section>
