﻿@using Microsoft.AspNet.Identity
@model CoinTradePros.Web.Models.ProTraderGroupModel

@if(Request.IsAuthenticated)
{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    <style>
        .thumbnail {
            height: auto;
            min-height: 528px;
        }

        /*#username {
            float: left;
            margin-left: -102px;
        }*/
        .username {
            padding-right: 83px;
        }
    </style>
    <section id="main-content" style="margin-top: 100px;" class=" ">


        @foreach (var pro in Model.ProTraders)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <img class="img-circle" src="@pro.AvatarUrl" alt="@pro.Username" style="width: 47px; border: 2px solid #217821;">
                        </div>
                        <div class="col-md-9 text-center username">
                            <h3>@($"{pro.Username}")</h3>
                        </div>
                    </div>

                    <br/>
                    @*<h5 class="text-muted">@($"{pro.FullName}") </h5>*@
                    <p>
                        <small>@pro.ProfileTagline</small>
                    </p>
                    <div class="caption">
                        <blockquote><small class="text-justify">@pro.ProfileDescription</small></blockquote>
                        Packages:
                        <ul style="padding-left: 15px;">
                            @foreach (var pk in pro.Packages)
                            {
                                <li><small>@pk.Title</small></li>
                            }
                        </ul>
                        <div class="row" style="padding-left: 20px;">
                            <h4>Trade Performance</h4>
                            <div class="col-6">
                                <span class="@(pro.ProfitAmount >= 0 ? "profit" : "loss") "><strong>@($"{pro.ProfitAmount:C}")</strong></span>
                            </div>
                            <div class="col-6">
                                <span class="@(pro.ProfitPercent >= 0 ? "profit" : "loss") "><strong>@($"{pro.ProfitPercent:P1}")</strong></span>
                            </div>
                            <div class="col-12">
                                <small class="text-muted">@pro.TradeCount total trades on CoinTradePros</small>
                            </div>
                        </div>
                        <p>
                            <a href="@Url.Action("Index", "Pro", new {username = @pro.Username})" class="btn btn-success" role="button">
                                More
                                <i class="fa fa-arrow-right"></i>
                            </a>

                        </p>
                    </div>
                </div>
            </div>
        }


    </section>
   

}
else
{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <div class="row align-middle text-center">
        <div class="card-deck col-12" style="margin: 10px;">
            @foreach (var pro in Model.ProTraders)
            {
                <div class="card package" style="margin: 10px; min-width: 300px; max-width: 300px; border: 1px solid #191919;">
                    <div class="card-block" style="padding: 0;">
                        <h1 class="card-title package text-center align-middle">@($"{pro.Username}") </h1>
                        <div class="row" style="padding: 15px; padding-bottom: 0;">
                            <div class="col-3">
                                <img src="@pro.AvatarUrl" alt="@pro.Username" class="card-profile-img avatar-md" />
                            </div>
                            <div class="col-9" style="padding-left: 25px;">
                                <h5 class="text-muted">@($"{pro.FullName}") </h5>
                                <p><small>@pro.ProfileTagline</small></p>
                            </div>
                        </div>
                        <div class="row" style="padding: 15px; padding-top: 0;">
                            <div class="col-12">
                                <blockquote><small>@pro.ProfileDescription</small></blockquote>
                            </div>
                        </div>
                        <div class="row" style="padding: 15px;">
                            <div class="col-12 text-left">
                                Packages:
                                <ul style="padding-left: 15px;">
                                    @foreach (var pk in pro.Packages)
                                    {
                                        <li><small>@pk.Title</small></li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 20px;">
                            <h4>Trade Performance</h4>
                            <div class="col-6">
                                <span class="@(pro.ProfitAmount >= 0 ? "profit" : "loss")">@($"{pro.ProfitAmount:C}")</span>
                            </div>
                            <div class="col-6">
                                <span class="@(pro.ProfitPercent >= 0 ? "profit" : "loss")">@($"{pro.ProfitPercent:P1}")</span>
                            </div>
                            <div class="col-12">
                                <small class="text-muted">@pro.TradeCount total trades on CoinTradePros</small>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Index", "Pro", new {username = @pro.Username})" c class="btn btn-success pull-right">
                                more
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}
