﻿@model CoinTradePros.Web.Models.ProTraderGroupModel

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<style>
    .card-img {
        width: 40px;
        border: 2px solid #39a849;
    }

    /*.table-thead {
        background-color: #217821;
        color: white;
    }*/
</style>
<link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css" />
<link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css" />
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
        <div class="col-xs-12 card-box table-responsive">
            <table class="table table-condensed table-striped table-bordered table-responsive table-hover" id="manageCoachesTable" style="background: #217821">
                <thead class="table-thead">
                    <tr>
                        <th style="color:white">Username</th>
                        <th style="color:white">Name</th>
                        <th style="color:white">Has Tagline</th>
                        <th style="color:white">Has Description</th>
                        <th style="color:white">Has Video</th>
                        <th style="color:white">Packages</th>
                        <th style="color:white">
                            <a href="@Url.Action("Create")" class="btn btn-sm btn-primary">
                                <span class="fa fa-plus"></span>
                                Add a Coach
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.ProTraders)
            {
                <tr>
                    <td>
                        <img src="@item.AvatarUrl" class="card-img avatar-sm" alt="@item.Username" title="@item.Username" />
                        @($"{item.Username}")
                    </td>
                    <td>
                        @item.FullName
                    </td>
                    <td>
                        <input type="checkbox" name="HasTagline" checked="@(!string.IsNullOrEmpty(item.ProfileTagline))" />
                    </td>
                    <td>
                        <input type="checkbox" name="HasDesc" checked="@(!string.IsNullOrEmpty(item.ProfileDescription))" />
                    </td>
                    <td>
                        <input type="checkbox" name="HasVideo" checked="@(!string.IsNullOrEmpty(item.VideoEmbed))" />
                    </td>
                    <td>
                        @item.Packages.Count
                    </td>
                    <td>
                        <a href="@Url.Action("Index", "SalesPage", new {proTraderProfileId = item.ProTraderProfileId})" class="btn btn-xs btn-secondary">
                            <span class="fa fa-pencil"></span>
                            Edit
                        </a>
                    </td>
                </tr>

        }
            </tbody>
            </table>
        </div>
    </section>
</section>
