﻿@model CoinTradePros.BusinessObjects.SubscriptionViewCollection
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    @foreach (var item in Model)
    {
        <div class="box">
            <div class="row">
                <div class="col-lg-12">
                    <div id="logo" class="pull-left">
                        <img src="~/Content/img/sitelogo-300x47.png"/>
                        <p><strong>Invoice @item.SubscriptionId</strong>
                        </p>


                    </div>

                    <div id="invoice-idsec" class="pull-right">
                        <p><strong>Invoice</strong> @item.SubscriptionId
                        </p>
                        @*<p><strong>Date of Invoice</strong> @System.DateTime.Now.Date.ToString("dd/MM/yyy")</p>
                                <p><strong>Due Date</strong> @System.DateTime.Now.Date.ToString("dd/MM/yyy")
                                </p>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div id="invoice-info">
                    <div class="col-lg-4">
                        <h4>To:</h4>
                        <br/>
                        <p>@item.SubscriberFirstName @item.SubscriberLastName</p>
                        <p>xyz@gmail.com</p>
                    </div>
                    <div class="col-lg-4">
                        <h4>From:</h4>
                        <p>Chris</p>
                        <p>Cointradepros.com</p>
                    </div>
                    <div class="col-lg-2">
                        @if (item.PendingPayment == true)
                        {
                            <h4 style="margin-bottom: 1px">
                                Status: Unpaid
                            </h4>
                        }
                        else
                        {
                            <h4>Status: Paid</h4>
                        }
                        @if (item.PaymentAmount % 1 == 0)
                        {
                            <h4 style="margin-top: 0">Balance: $@($"{(int) item.PaymentAmount}")</h4>

                        }

                        else
                        {
                            <h4 style="margin-top: 0">Balance: $@($"{Math.Round((double) item.PaymentAmount, 5)}")</h4>

                        }

                    </div>
                    <div class="col-lg-2"></div>
                </div>

            </div>

            <div class="row">
                <div id="invoice-tbl">
                    <table class="table table-hover">
                        <thead style="background-color: #ddd">

                        <tr>
                            <th>Description</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td>This is the Invoice Detail Page of @item.SubscriberUsername</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @if (item.PaymentAmount % 1 == 0)
                                {

                                    <p>$@($"{(int) item.PaymentAmount}")</p>

                                }

                                else
                                {
                                    <p>@($"{Math.Round((double) item.PaymentAmount, 5)}")</p>

                                }
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">
                    <p><strong>Subtotal:</strong> $3.99Dollar
                    </p>
                    <p><strong>Credit:</strong> $3.99Dollar
                    </p>
                    <p><strong>Total:</strong> $3.99Dollar
                    </p>
                </div>
            </div>
        </div>
      
    }