﻿@model CoinTradePros.BusinessObjects.SubscriptionViewCollection
@{
    ViewBag.Title = "Details";
    Layout = null;
}
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Coin Trade Pros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="~/Content/img/icons/favicon-128.png" sizes="128x128" />
    <link rel="shortcut icon" href="~/Content/img/icons/favicon.ico" type="image/x-icon" />    <!-- Favicon -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/apple-touch-icon-57-precomposed.png">	<!-- For iPhone -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/assets/images/apple-touch-icon-114-precomposed.png">    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/assets/images/apple-touch-icon-72-precomposed.png">    <!-- For iPad -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/assets/images/apple-touch-icon-144-precomposed.png">    <!-- For iPad Retina display -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    
    
    
   
</head>

<body style="background-color: #e3e8eb;">
    <div class="container">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                        <a href="@Url.Action("Index","Users")" type="button" class="btn btn-success btn-top" style="padding: 15px 16px;"> <span class="fa fa-home"></span> Back To Dashboard Area</a>
                        <a href="@Url.Action("GeneratePDF","Invoice",new {pId = item.SubscriptionId })" type="button" class="btn btn-success  btn-top" style="padding: 15px 16px;"><span class="fa fa-download"></span> Download</a>
                        <button type="button" class="btn btn-success btn-top" onclick="printContent('dvmismatch')"><span class="fa fa-print"></span> Print Invoice</button>
                        @if (item.PendingPayment == true)
                        {
                            <label class="btn btn-danger btn-top btn-label active"><span class="fa fa-bookmark"></span> UnPaid</label>
                        }
                        else
                        {
                            <label class="btn btn-success btn-top btn-label active"><span class="fa fa-bookmark"></span> Paid</label>
                        }
                    </div>
                </div>
                <div class="col-lg-12"id="dvmismatch">

                   
                        @Html.Partial("_Details", Model)
                    
                    


                </div>
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

<script>
    function printContent(el) {
        var restorepage = document.body.innerHTML;
        var printcontent = document.getElementById(el).innerHTML;
        document.body.innerHTML = printcontent;
        window.print();
        document.body.innerHTML = restorepage;
    }
</script>  


</body>
