﻿@model IEnumerable<CoinTradePros.BusinessObjects.SubscriptionView>
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";
}


<section id="main-content" style="margin-top: 80px;">
    <div><b>Payment History</b><br /><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>SubscriptionId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Package</th>
            <th>Amount</th>
            <th>Subscribe for</th>
            <th>Action</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.SubscriptionId</td>
                <td>@d.SubscriberFirstName</td>
                <td>@d.SubscriberLastName</td>
                <td>@d.PackageTitle</td>
                <td>@Html.Raw(String.Format("{0:C}", @d.PaymentAmount))</td>
                <td>
                    @if (d.PaymentFrequency == -1)
                {
                    @: LifeTime
                }
                else if (d.PaymentFrequency == 12)
                {
                    @: Annually
                }
                else
                {
                    @: Monthly
                }

            </td>
                <td>
@if (d.PendingPayment.Value == true) {
    <button type="button" class="btn btn-success">
        Pay now
    </button>
 }
                else
                {

 <p class="text-info">Paid</p>

    }

</td>

        </tr>
        }
    </table>
</section>
@*<section id="main-content" style="margin-top: 80px;">
    <div><b>Payment History</b><br /><br /></div>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Due Date</th>
            <th>Payment Date</th>
            <th>Payment Status</th>
            <th>Action</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.Amount</td>
                <td>@d.Currency</td>
                <td>@d.DueDate</td>
                <td>@d.PaymentDate</td>
                <td>@d.Status</td>
                @if (d.PaymentStatus == 1)
                {
                    <td><button type="button" class="btn  btn-secondary">Paid</button></td>
                }
                else
                {
                    <td><button type="button" class="btn btn-success">Pay now</button></td>
                }
            </tr>
        }
    </table>
    </section>*@