﻿@model IEnumerable<CoinTradePros.BusinessObjects.SubscriptionView>
@{
    Layout ="~/Views/Shared/_DashboardLayout.cshtml";

}

<section id="main-content">
    <section class="wrapper main-wrapper row">
        <section class="box">
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Subscribers Invoice
                        </h3>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="allshow()">All</button>
                            <button type="button" class="btn btn-success" onclick="paid()">Paid</button>

                            <button type="button" class="btn btn-danger" onclick="unpaid()">Unpaid</button>
                        </div>
                        <br/>
                        <br/>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover dt-responsive nowrap" id="tb-subscribersinvoice" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>SubscriptionId</th>
                                    <th>FirstName</th>
                                    <th>LastName</th>
                                    <th>Package</th>
                                    <th>Amount</th>
                                    <th>Subscribe for</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                @foreach (var d in Model)
                                {
                                    var xclass = "a"+d.PendingPayment;
                                    <tr class="myrow @xclass">
                                        <td style="padding-left: 27px !important">@d.SubscriptionId</td>
                                        <td>@d.SubscriberFirstName</td>
                                        <td>@d.SubscriberLastName</td>
                                        <td>@d.PackageTitle</td>
                                        <td>@Html.Raw(String.Format("{0:C}", @d.PaymentAmount))</td>
                                        <td>@if (d.PaymentFrequency == -1)
                                            {
                                                @: LifeTime
                                            }
                                            else if (d.PaymentFrequency == 12)
                                            {
                                                @: Annually
                                            }
                                            else
                                            {
                                                @: Monthly
                                            }

                                        </td>
                                        <td>
                                            @if (d.PendingPayment == true)
                                            {
                                                <a href="@Url.Action("Notify", "Invoice", new {id = d.SubscriptionId})"
                                                   class="btn btn-xs btn-success">Notify to Pay</a>
                                            }
                                            else
                                            {
                                                <p class="text-info">Paid</p>
                                            }
                                            <a href="@Url.Action("Details","Invoice", new {id=d.SubscriptionId,fname=d.SubscriberFirstName,lname=d.SubscriberLastName,packagetitle=d.PackageTitle,paymentamount=d.PaymentAmount,paymentfrequency=d.PaymentFrequency,pendingpayment=d.PendingPayment })"
                                               class="btn btn-xs btn-default">View details</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </section>
        

    </section>
</section>
<script>
  
    function unpaid() {

        $(".myrow").each(function() {
            $(this).removeClass("hidden");
        });

        $(".myrow").each(function() {

            if (!$(this).hasClass("aTrue")) {

                $(this).addClass("hidden");
            }


        });
    }


    function paid() {

        $(".myrow").each(function() {
            $(this).removeClass("hidden");
        });

        $(".myrow").each(function() {

            if ($(this).hasClass("aTrue")) {

                $(this).addClass("hidden");
            }


        });
    }

    var allshow = function () {
        
        $(".myrow").each(function () {
            $(this).removeClass("hidden");
        });
    };
</script>